Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:documentation, deploy:pages, build:debian-docker-image, clang-format

Path conditions:
  build:documentation: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  deploy:pages: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  build:debian-docker-image: any of: src/*, docker/Dockerfile.debian, docker/entrypoint.sh, .gitlab-ci.yml, .gitlab/**/*.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore

algorithm: Add alpha wrapping 3d algorithm
  src/algorithm/alphaWrapping3D.cpp
  src/algorithm/alphaWrapping3D.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/data/bunny1000AlphaWrapping20Wkt_cgal5.txt
  test/data/bunny1000AlphaWrapping20Wkt_cgal6.txt
  test/data/bunny1000Wkt.txt
  test/unit/CMakeLists.txt
  test/unit/SFCGAL/algorithm/AlphaWrapping3DTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

alphaWrapping3D: Fix guard name
  src/algorithm/alphaWrapping3D.h
Due: clang-format

sfcgal_c: Include alphaWrapping3D in the windows version
  src/capi/sfcgal_c.cpp
Due: clang-format

polyhedralsurface: Add missing assert in geometryN()
  src/PolyhedralSurface.cpp
Due: build:documentation, deploy:pages, build:debian-docker-image, clang-format

polyhedralsurface: Fix some docstrings
  src/PolyhedralSurface.h
Due: build:documentation, deploy:pages, build:debian-docker-image, clang-format

capi: Add support for Geometry::GeometryN()
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

capi: Add support for Geometry::numGeometries()
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

capi: Mark sfcgal_polyhedral_surface_num_polygons() as deprecated
  src/capi/sfcgal_c.h
Due: clang-format

geometry: Add a Geometry::setGeometryN() method
  src/Geometry.cpp
  src/Geometry.h
  src/GeometryCollection.cpp
  src/GeometryCollection.h
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/GeometryCollectionTest.cpp
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:documentation, deploy:pages, build:debian-docker-image, clang-format

capi: Mark sfcgal_triangulated_surface_triangle_n() as deprecated
  src/capi/sfcgal_c.h
Due: clang-format

capi: Mark sfcgal_triangulated_surface_num_triangles() as deprecated
  src/capi/sfcgal_c.h
Due: clang-format

capi: Mark sfcgal_polyhedral_surface_polygon_n() as deprecated
  src/capi/sfcgal_c.h
Due: clang-format

capi: Mark sfcgal_geometry_collection_geometry_n() as deprecated
  src/capi/sfcgal_c.h
Due: clang-format

capi: Mark sfcgal_geometry_collection_num_geometries() as deprecated
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

chore(README.md): update badge URL
  README.md
Due: none

test
  .gitlab-ci.yml
  .gitlab/pipeline/build-debian-docker.yml
  .gitlab/pipeline/build-windows.yml
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
  .gitlab/pipeline/lint-code.yml
  .gitlab/pipeline/opensuse.yml
  .gitlab/pipeline/test-code.yml
Due: build:documentation, deploy:pages, build:debian-docker-image

feat(apic): add sfcgal_geometry_length functions
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

fix(capi): split sfcgal_geometry_envelope function in 2D/3D variants
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

fix(capi): add missing tests (is3D, isMeasured, ...)
  src/capi/sfcgal_c.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

fix(capi): deprecate function sfcgal_geometry_is_complexity_detail and add sfcgal_geometry_is_simple_detail
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: clang-format

fix(capi): add missing test testIsSimple
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

Centroid: implement algorithm (2D only).
  src/Geometry.cpp
  src/Geometry.h
  src/algorithm/centroid.cpp
  src/algorithm/centroid.h
  test/unit/SFCGAL/algorithm/CentroidTest.cpp
Due: build:documentation, deploy:pages, build:debian-docker-image, clang-format

Centroid: add 3D algorithm.
  src/Geometry.cpp
  src/Geometry.h
  src/algorithm/centroid.cpp
  src/algorithm/centroid.h
  test/unit/SFCGAL/algorithm/CentroidTest.cpp
Due: build:documentation, deploy:pages, build:debian-docker-image, clang-format

feat(capi): add sfcgal_geometry_centroid function
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

docker: Ignore the vcpkg.json to hide it from gitlab CI
  .dockerignore
Due: none

fix(capi): improve buffer allocations, checks and set default content
  src/capi/sfcgal_c.cpp
Due: clang-format

fix(geometry): Fix numGeometries for atomic empty geometries
  src/Geometry.cpp
  test/unit/SFCGAL/GeometryCollectionTest.cpp
  test/unit/SFCGAL/LineStringTest.cpp
  test/unit/SFCGAL/MultiLineStringTest.cpp
  test/unit/SFCGAL/MultiPointTest.cpp
  test/unit/SFCGAL/MultiPolygonTest.cpp
  test/unit/SFCGAL/MultiSolidTest.cpp
  test/unit/SFCGAL/PointTest.cpp
  test/unit/SFCGAL/SolidTest.cpp
  test/unit/SFCGAL/TriangleTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
Due: build:documentation, deploy:pages, build:debian-docker-image, clang-format

ci: Test osgeo ci
  .gitlab/pipeline/build-windows.yml
Due: build:debian-docker-image

chore: rename windows jobs
  .gitlab/pipeline/build-windows.yml
Due: build:debian-docker-image
