Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:documentation, deploy:pages, build:debian-docker-image, clang-format

build:documentation:
  stage: build
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - apt-get update -qq
  - apt-get install -y doxygen
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/website.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd website && mkdocs build --verbose
  artifacts:
  ...

deploy:pages:
  stage: deploy
  needs:
  - job: build:documentation
    artifacts: true
  variables:
    GIT_STRATEGY: none
  script:
  - mkdir -p public
  - cp -rf website/site/* public/
  artifacts:
    paths:
    - public

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

clang-format:
  stage: lint
  image:
    name: kszonek/clang-format-15
    entrypoint:
    - ''
  script:
  - 'clang-format --dry-run --Werror $(find src/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

wkbreader: Fix typo
  src/detail/io/WkbReader.h
Due: clang-format

chore(CI): Bump macOs image to sonoma
  .cirrus.yml
Due: none

update(docs): upgrade Mkdocs dependencies
  requirements/website.txt
Due: none

fix(tooling): ignore common Python and Mkdocs patterns
  .gitignore
Due: none

fix(documentation): fix Makrdown syntax
  website/docs/development.md
  website/docs/index.md
  website/docs/installation.md
  website/docs/sponsors.md
Due: build:documentation, deploy:pages

update(docs): sanitize README
  README.md
Due: none

add(tooling): use markdownlint as git hooks to sanitize documentation
  .markdownlint.json
  .markdownlintignore
  .pre-commit-config.yaml
Due: none

rm(invalid): remove cache of compiled Python code
  website/__pycache__/macros.cpython-312.pyc
Due: none

update(docs): remove screencast and related Mkdocs tools
  requirements/website.txt
  website/mkdocs.yml
Due: none

fix(quality): apply git hooks to existing documentation
  website/docs/.pages
  website/docs/stylesheets/extra.css
  website/macros.py
  website/templates-custom/annotated.jinja2
Due: none

update(docs): enable them options and Makrdown extensions to improve rendered website
  website/mkdocs.yml
Due: none

chore(Boost): Remove redundant Boost_USE_STATIC_LIBS=OFF setting
  CMakeLists.txt
Due: none

feat: isSimple method for geometries
  src/Simplicity.h
  src/algorithm/isSimple.cpp
  src/algorithm/isSimple.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/algorithm/IsSimpleTest.cpp
Due: build:documentation, deploy:pages, build:debian-docker-image, clang-format

fix(README): Fix a typo and bump standard version
  README.md
Due: none

ci: Fix debian clang testing ci
  .gitlab/pipeline/debian.yml
Due: build:debian-docker-image

sfcgal_cTest: Fix memory leak in testForceRHR unit test
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: none

sfcgal_cTest: Fix memory leak in testForceRHR_3D unit test
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: none

sfcgal_cTest: Fix memory leak in testStraightSkeletonMultiPolygon
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: none

sfcgal_cTest: Fix memory leak in testForceLHR unit test
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: none

sfcgal_cTest: Fix memory leak in testStraightSkeletonPolygon
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: none

sfcgal_cTest: Fix memory leak in testLineSubstring unit test
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: none

sfcgal_cTest: Fix memory leak in testStraightSkeletonPartitionC
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: none

fix(links): installation.md, fix permanent redirect
  website/docs/installation.md
Due: build:documentation, deploy:pages

fix(links): index.md, fix permanent redirect
  website/docs/index.md
Due: build:documentation, deploy:pages

fix(links): remove e-plu link
  SPONSORS.md
Due: none

fix(links): development.md, fix permanent redirect
  website/docs/development.md
Due: build:documentation, deploy:pages

fix(screencast): replace the content of screencast.md with a 'coming soon'
  website/docs/screencast.md
Due: build:documentation, deploy:pages

fix(links): authors.md, fix permanent redirect
  website/docs/authors.md
Due: build:documentation, deploy:pages

doc: improve explanation about test executions
  website/docs/development.md
Due: build:documentation, deploy:pages

feat: export new function in api C to delete buffer created by SFCGAL
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: clang-format

test: delete created buffers by using sfcgal_delete_buffer
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: none

chore: improve support for valgrind
  CMakeLists.txt
  website/docs/development.md
  website/docs/installation.md
Due: build:documentation, deploy:pages

feat(apic): add sfcgal_geometry_envelope function
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

installation: Fix typo in SFCGAL_VALGRIND
  website/docs/installation.md
Due: build:documentation, deploy:pages

sfcgal_c: Fix typo in sfcgal_set_alloc_handlers documentation
  src/capi/sfcgal_c.h
Due: clang-format

chore(vcpkg): Update runner and add linux and macos
  .github/workflows/vcpkg.yml
  CMakePresets.json
  vcpkg.json
Due: none

pre-commit: Increase the check-added-large-files size
  .pre-commit-config.yaml
Due: none

polyhedralsurface: Add a constructor from an inexact mesh
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
Due: build:documentation, deploy:pages, build:debian-docker-image, clang-format

Path conditions:
  build:documentation: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  deploy:pages: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  build:debian-docker-image: any of: src/*, docker/Dockerfile.debian, docker/entrypoint.sh, .gitlab-ci.yml, .gitlab/**/*.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
