Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

build:windows-docker-image:
  stage: build
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Start-Service -Name "docker"
  - docker login -u $env:CI_REGISTRY_USER -p $env:CI_REGISTRY_PASSWORD $env:CI_REGISTRY
  script:
  - (docker pull $env:CI_REGISTRY_IMAGE':'windows-latest) -or ($true)
  ...

test:clang-tidy:
  stage: lint
  image: xianpengshen/clang-tools:19
  variables:
    CC: /usr/bin/clang-19
    CXX: /usr/bin/clang++-19
  cache:
    policy: pull
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
    - build/
  before_script:
  - apt-get update -qq
  ...

doc:build:
  stage: doc
  image: ${PYTHON_DOCKER_IMAGE}
  needs: []
  before_script:
  - apt-get update -qq
  - apt-get install -y doxygen
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/website.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd website && mkdocs build --verbose
  artifacts:
  ...

pages:
  stage: doc
  needs:
  - job: doc:build
    artifacts: true
  variables:
    GIT_STRATEGY: none
  script:
  - mkdir -p public
  - cp -rf website/site/* public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes clang-format-19
  script:
  - 'clang-format-19 --dry-run --Werror $(find src/ test/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

doxygen-warnings:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes doxygen git
  script:
  - script/doxygen-check.sh
  artifacts:
    when: on_failure
    paths:
    - doxygen_warnings.log

chore(bench): pet doxygen
  test/bench/Bench.h
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

feat(roof): Add a convenient roof generation algorithms
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
  test/unit/SFCGAL/algorithm/RoofGenerationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): Add roof generation support
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

build(eigen): Add SFCGAL_WITH_EIGEN to enable more policies for Surface Simplification
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

feat(PolyhedralSurface): add toSurfaceMesh converter to CGAL Surface_Mesh
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(Solid): add toSurfaceMesh converter to CGAL Surface_Mesh
  src/Solid.cpp
  src/Solid.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(TriangulatedSurface): add toSurfaceMesh converter to CGAL Surface_Mesh
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(algorithm): Implement surface mesh simplification using CGAL edge collapse
  src/algorithm/surfaceSimplification.cpp
  src/algorithm/surfaceSimplification.h
  test/unit/SFCGAL/algorithm/SurfaceSimplificationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): Add OBJ io support
  sfcgalop/io.cpp
  sfcgalop/io.hpp
  sfcgalop/main.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(io): Add OBJ reader
  src/io/OBJ.cpp
  src/io/OBJ.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

wip
  sfcgalop/operations/operations.cpp
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
  src/algorithm/straightSkeleton.cpp
  src/algorithm/straightSkeleton.h
  test/unit/SFCGAL/algorithm/RoofGenerationTest.cpp
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

wip
  sfcgalop/operations/operations.cpp
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

wip vraiment wip
  sfcgalop/operations/operations.cpp
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

gable avec toitures verticales
  sfcgalop/operations/operations.cpp.backup
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

gable avec toitures verticales + fix cdt
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

avant skillion
  sfcgalop/operations/operations.cpp
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
  test/unit/SFCGAL/algorithm/RoofGenerationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

skillion
  sfcgalop/operations/operations.cpp
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
  test/unit/SFCGAL/algorithm/RoofGenerationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix + doc
  sfcgalop/operations/operations.cpp
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
  src/algorithm/straightSkeleton.cpp
  src/algorithm/straightSkeleton.h
  test/unit/SFCGAL/algorithm/RoofGenerationTest.cpp
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): Add parse_boolean support
  sfcgalop/operations/operations.cpp
  sfcgalop/operations/operations.cpp.backup
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(algorithm): Add Surface Mesh Simplification with Epick and Eigen
  src/algorithm/surfaceSimplification.cpp
  src/algorithm/surfaceSimplification.h
  test/unit/SFCGAL/algorithm/SurfaceSimplificationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): Add surfaceSimplification support
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

tests(bunny): Add standford bunny obj
  test/data/bunny.obj
Due: none

tests(io): Add OBJ reader
  test/unit/SFCGAL/io/OBJTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

perf(OBJ): improve export
  src/io/OBJ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

tests(OBJ): fix test after removing duplicated vertices
  test/data/objfiles/multisolid.obj
  test/data/objfiles/multisolidz.obj
  test/data/objfiles/polyhedralsurface.obj
  test/data/objfiles/polyhedralsurfacez.obj
  test/data/objfiles/solid.obj
  test/data/objfiles/solidz.obj
  test/data/objfiles/triangulatedsurface.obj
  test/data/objfiles/triangulatedsurfacez.obj
  test/unit/SFCGAL/io/OBJTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

test(surfaceSimplification): rewrite tests with new policies
  src/algorithm/surfaceSimplification.cpp
  src/algorithm/surfaceSimplification.h
  test/unit/SFCGAL/algorithm/SurfaceSimplificationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(OBJ): remove duplicate points
  src/io/OBJ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(OBJ): Add reader support
  src/io/OBJ.cpp
  src/io/OBJ.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test(OBJ): correct tests without duplicated vertices
  test/data/objfiles/multisolid.obj
  test/data/objfiles/multisolidz.obj
  test/data/objfiles/polyhedralsurface.obj
  test/data/objfiles/polyhedralsurfacez.obj
  test/data/objfiles/solid.obj
  test/data/objfiles/solidz.obj
  test/data/objfiles/triangulatedsurface.obj
  test/data/objfiles/triangulatedsurfacez.obj
  test/unit/SFCGAL/io/OBJTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

style(TriangulatedSurface): pet clang-tidy
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test(OBJTest): Add debug part if test failed in test_all_geometries
  test/unit/SFCGAL/io/OBJTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

feat(sfcgalop): Add OBJ io
  sfcgalop/io.cpp
  sfcgalop/io.hpp
  sfcgalop/main.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

ci(clang-tidy): Allow dx,dy,dz,it
  .clang-tidy
Due: test:clang-tidy

style(Solid): pet clang-tidy
  src/Solid.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}
