Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}

test(nurbs): fix wrongly unused variable
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

docs(centroid): Fix doxygen
  src/algorithm/centroid.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(isvalid): Remove uneeded documentation in the cpp file
  src/algorithm/isValid.cpp
  src/algorithm/isValid.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

ci: Update CGAL latest version to 6.1
  .gitlab-ci.yml
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
Due: doc:build, pages

chore(ci/vcpkg): Build arm version on macos
  .github/workflows/vcpkg.yml
Due: none

ci: test
  .github/workflows/vcpkg.yml
Due: none

fix(C-API): Fix if not defined MSVC
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(C-API): Add void for function without parameter
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(CLI): Welcome to sfcgalop
  CMakeLists.txt
  sfcgalop/CMakeLists.txt
  sfcgalop/README.md
  sfcgalop/constructors.cpp
  sfcgalop/constructors.hpp
  sfcgalop/error_handler.cpp
  sfcgalop/error_handler.hpp
  sfcgalop/examples.sh
  sfcgalop/examples/architectural_complex.py
  sfcgalop/examples/basic_geometries.py
  sfcgalop/examples/boolean_operations_demo.py
  sfcgalop/examples/complex_assembly.py
  sfcgalop/examples/mechanical_assembly.py
  sfcgalop/examples/mixed_geometries.py
  sfcgalop/examples/simple_sphere.py
  sfcgalop/examples/truncated_cone.py
  sfcgalop/getopt_win.cpp
  sfcgalop/getopt_win.hpp
  sfcgalop/io.cpp
  sfcgalop/io.hpp
  sfcgalop/main.cpp
  sfcgalop/operations/operations.cpp
  sfcgalop/operations/operations.hpp
  sfcgalop/sfcgal_dsl.py
  sfcgalop/test/CMakeLists.txt
  sfcgalop/test/README.md
  sfcgalop/test/test_minimal.cpp
  sfcgalop/text_ui.cpp
  sfcgalop/text_ui.hpp
  sfcgalop/timeus.hpp
  sfcgalop/util.cpp
  sfcgalop/util.hpp
  src/capi/sfcgal_c.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(algorithm): use fully qualified namespace for algorithm call
  src/detail/GeometrySet.cpp
  src/detail/algorithm/simplification.cpp
  src/detail/generator/building.cpp
  src/detail/transform/ForceOrderPoints.cpp
  src/detail/transform/ForceZOrderPoints.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(SFCGALConfig.cmake.in): Remove trailing whitespaces
  SFCGALConfig.cmake.in
Due: none

build(SFCGALConfig): Set cmake policies to avoid warnings
  SFCGALConfig.cmake.in
Due: none

build(wasm): init a WebAssembly version
  cmake/sfcgal-wasm-integration.cmake
  sfcgal-wasm/.gitignore
  sfcgal-wasm/README.md
  sfcgal-wasm/build-complete.sh
  sfcgal-wasm/cmake/EmscriptenToolchain.cmake
  sfcgal-wasm/cmake/FindBoost.cmake
  sfcgal-wasm/examples/LIMITATIONS.md
  sfcgal-wasm/examples/area-2d.html
  sfcgal-wasm/examples/area-3d.html
  sfcgal-wasm/examples/boolean-3d.html
  sfcgal-wasm/examples/buffer-2d.html
  sfcgal-wasm/examples/canvas2d-helper.js
  sfcgal-wasm/examples/canvas2d-renderer.js
  sfcgal-wasm/examples/centroid-2d.html
  sfcgal-wasm/examples/convex-hull.html
  sfcgal-wasm/examples/convexhull-2d.html
  sfcgal-wasm/examples/difference-2d.html
  sfcgal-wasm/examples/distance-2d.html
  sfcgal-wasm/examples/distance-3d.html
  sfcgal-wasm/examples/extrude-3d.html
  sfcgal-wasm/examples/index.html
  sfcgal-wasm/examples/intersection-2d.html
  sfcgal-wasm/examples/operations.js
  sfcgal-wasm/examples/sfcgal-module.js
  sfcgal-wasm/examples/tessellate.html
  sfcgal-wasm/examples/three3d-renderer.js
  sfcgal-wasm/examples/transformations-2d.html
  sfcgal-wasm/examples/transformations-3d.html
  sfcgal-wasm/examples/union-2d.html
  sfcgal-wasm/examples/union.html
  sfcgal-wasm/examples/validate.html
  sfcgal-wasm/scripts/build-deps.sh
  sfcgal-wasm/scripts/build-sfcgal-wasm.sh
  sfcgal-wasm/scripts/build.sh
  sfcgal-wasm/scripts/install-emscripten.sh
  sfcgal-wasm/scripts/serve.sh
  sfcgal-wasm/src/sfcgal-binding.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore: migrate pre-commit config for doxygen
  .pre-commit-config.yaml
Due: none

fix(selfIintersects): improve algorithm by avoiding repeated GeometrySet creation
  src/algorithm/intersects.cpp
  src/algorithm/intersects.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(building): Fix documentation
  src/detail/generator/building.cpp
  src/detail/generator/building.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(building): Fix clang-tidy warning
  src/detail/generator/building.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(multipolygon): Add missing documentation
  src/MultiPolygon.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(authors): replace Oslandia by the SFCGAL team
  website/docs/authors.md
Due: doc:build, pages

docs(installation): Update build options
  website/docs/installation.md
Due: doc:build, pages

docs(index): Fix mkdocs MD046-compliant warning
  website/docs/index.md
Due: doc:build, pages

docs(index): Add link to PySFCGAL
  website/docs/index.md
Due: doc:build, pages

feat(CLI): Welcome to sfcgalop
  CMakeLists.txt
  sfcgalop/CMakeLists.txt
  sfcgalop/README.md
  sfcgalop/constructors.cpp
  sfcgalop/constructors.hpp
  sfcgalop/error_handler.cpp
  sfcgalop/error_handler.hpp
  sfcgalop/examples.sh
  sfcgalop/getopt_win.cpp
  sfcgalop/getopt_win.hpp
  sfcgalop/io.cpp
  sfcgalop/io.hpp
  sfcgalop/main.cpp
  sfcgalop/operations/operations.cpp
  sfcgalop/operations/operations.hpp
  sfcgalop/test/CMakeLists.txt
  sfcgalop/test/README.md
  sfcgalop/test/test_minimal.cpp
  sfcgalop/text_ui.cpp
  sfcgalop/text_ui.hpp
  sfcgalop/timeus.hpp
  sfcgalop/util.cpp
  sfcgalop/util.hpp
  website/docs/installation.md
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

ci: Add a MSVC build
  .github/workflows/msvc.yml
  vcpkg.json
Due: none

feat(polygonRepair): Add algorithm polygon repair
  src/MultiPolygon.cpp
  src/MultiPolygon.h
  src/algorithm/polygonRepair.cpp
  src/algorithm/polygonRepair.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/algorithm/PolygonRepair.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(sfcgalop): Disable alphaShapes when using MSVC
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix(docker): Build sfcgalop in docker images
  docker/Dockerfile.debian
  docker/Dockerfile.windows
Due: build:debian-docker-image, build:windows-docker-image

revert(capi): add sfcgal_primitive_parameters function too early
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat: add operator== in primitive and sfcgal_primitive_is_equals to capi
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  src/primitive3d/Primitive.cpp
  src/primitive3d/Primitive.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix: clang-tidy again!
  src/capi/sfcgal_c.cpp
  src/primitive3d/Box.cpp
  src/primitive3d/Cube.h
  src/primitive3d/Cylinder.cpp
  src/primitive3d/Cylinder.h
  src/primitive3d/Primitive.cpp
  src/primitive3d/Primitive.h
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
  src/primitive3d/Torus.cpp
  src/primitive3d/Torus.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(primitive): add area and volume to Primitive and add capi functions
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  src/primitive3d/Box.cpp
  src/primitive3d/Box.h
  src/primitive3d/Cone.h
  src/primitive3d/Cube.cpp
  src/primitive3d/Cube.h
  src/primitive3d/Cylinder.cpp
  src/primitive3d/Cylinder.h
  src/primitive3d/Primitive.h
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
  src/primitive3d/Torus.cpp
  src/primitive3d/Torus.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore: clang-tidy fixes
  src/capi/sfcgal_c.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(capi): add primitive functions: get parameter with value and set parameter
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(capi): add sfcgal_primitive_clone
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(capi): migrate from boost::json to nlohmann-json
  CMakeLists.txt
  ci/debian/before_install.sh
  ci/fedora/before_install.sh
  ci/opensuse/before_install.sh
  src/CMakeLists.txt
  src/capi/sfcgal_c.cpp
  test/regress/capi/CMakeLists.txt
  test/unit/CMakeLists.txt
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(capi): add function to retrieve primitive parameter list as JSON string
  CMakeLists.txt
  ci/debian/before_install.sh
  ci/opensuse/before_install.sh
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings
