Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, clang-format

.gitlab/pipeline/build-debian-docker.yml:

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
    - name: docker:dind
  only:
    changes:
      - "src/*"
      - "docker/Dockerfile.debian"
      - "docker/entrypoint.sh"
      - ".gitlab-ci.yml"
      - ".gitlab/**/*.yml"
    refs:
      - merge_requests
      - master
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
    - docker build
      --pull
      --cache-from $CI_REGISTRY_IMAGE:debian-latest
      --tag $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA
      --build-arg CGAL_VERSION=${BUILD_CGAL_VERSION}
      -f docker/Dockerfile.debian
      .
    - docker push $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA
  after_script:
    - docker logout $CI_REGISTRY


push:debian-docker-latest:
  stage: deploy
  image: docker:latest
  services:
    - name: docker:dind
  variables:
    GIT_STRATEGY: none
  only:
    refs:
      - master
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA
    - docker tag $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:debian-latest
    - docker push $CI_REGISTRY_IMAGE:debian-latest
  after_script:
    - docker logout $CI_REGISTRY


push:debian-docker-tag:
  stage: deploy
  image: docker:latest
  services:
    - name: docker:dind
  variables:
    GIT_STRATEGY: none
  only:
    refs:
      - tags
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA
    - docker tag $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_REF_NAME
    - docker push $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_REF_NAME
  after_script:
    - docker logout $CI_REGISTRY

.gitlab/pipeline/lint-code.yml:

#######################
# clang-format linter #
#######################
# Check if the C++ code is consistent in code formatting (correct amount of tabs/spaces,
# correct indentation etc.)
clang-format:
  stage: lint
  image:
    name: kszonek/clang-format-15
    entrypoint: [""]
  script:
    # We need to use simple BusyBox `find` syntax here.
    - >
      clang-format --dry-run --Werror
      $(find src/ -iname '*.cpp' -or -iname '*.hpp' -or -iname '*.c' -or -iname '*.h')
  # script:
  #   - run-clang-format.py -r src --style=file
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || ($CI_COMMIT_BRANCH && $CI_PIPELINE_SOURCE == "push")'
      changes:
        - "src/**/*.{c,h,cpp,hpp}"
        - ".clang-format"
        - ".clang-format-ignore"

fix(GeometryCollection): Check validity of geometryN parameters
  src/GeometryCollection.cpp
  test/unit/SFCGAL/GeometryCollectionTest.cpp
Due: build:debian-docker-image, clang-format

doc: update mkdoc/doxygen config
  requirements/website.txt
  website/mkdocs.yml
Due: none

doc: fix malformed documentation comments
  src/algorithm/Intersection2D.cpp
  src/algorithm/Intersection3D.cpp
  src/algorithm/area.cpp
  src/algorithm/difference.cpp
  src/algorithm/intersects.cpp
  src/detail/GeometrySet.h
  src/detail/TypeForDimension.h
  src/triangulate/triangulate2DZ.h
  website/templates-custom/annotated.jinja2
Due: clang-format

fix: add namespace for CharArrayBuffer
  src/detail/tools/CharArrayBuffer.cpp
  src/detail/tools/CharArrayBuffer.h
  src/io/ewkt.cpp
  src/io/wkb.cpp
  src/io/wkt.cpp
Due: clang-format

capi: grouping macros at the beginning of the file
  src/capi/sfcgal_c.cpp
Due: clang-format

chore: do not build c++ or docker image if modifications are only doc files
  .gitlab/pipeline/build-debian-docker.yml
  .gitlab/pipeline/build-windows.yml
  .gitlab/pipeline/documentation.yml
  .gitlab/pipeline/sonar.yml
Due: build:debian-docker-image

fix: remove duplicate declaration for srid_t
  src/Geometry.h
  src/PreparedGeometry.h
  src/capi/sfcgal_c.h
  src/detail/io/WkbWriter.h
Due: build:debian-docker-image, clang-format

doc: hide internal/private components useless for documentation
  src/Geometry.h
  src/Kernel.h
  src/Point.cpp
  src/Sphere.cpp
  src/algorithm/Intersection2D.cpp
  src/algorithm/Intersection3D.cpp
  src/algorithm/alphaShapes.cpp
  src/algorithm/alphaWrapping3D.cpp
  src/algorithm/centroid.cpp
  src/algorithm/covers.cpp
  src/algorithm/difference.cpp
  src/algorithm/differencePrimitives.h
  src/algorithm/distance.cpp
  src/algorithm/distance3d.cpp
  src/algorithm/extrude.cpp
  src/algorithm/intersection.cpp
  src/algorithm/intersects.cpp
  src/algorithm/isSimple.cpp
  src/algorithm/minkowskiSum.cpp
  src/algorithm/minkowskiSum3D.cpp
  src/algorithm/offset.cpp
  src/algorithm/partition_2.cpp
  src/algorithm/straightSkeleton.cpp
  src/algorithm/union.cpp
  src/algorithm/visibility.cpp
  src/capi/sfcgal_c.cpp
  src/detail/io/Serialization.h
  src/triangulate/triangulate2DZ.cpp
  src/version.cpp
Due: build:debian-docker-image, clang-format

fix: group common "using" declarations to Kernel.h
  src/Cylinder.cpp
  src/Cylinder.h
  src/Kernel.h
  src/Sphere.cpp
  src/algorithm/alphaShapes.cpp
  src/algorithm/area.cpp
  src/algorithm/buffer3D.cpp
  src/algorithm/centroid.cpp
  src/algorithm/convexHull.cpp
  src/algorithm/difference.cpp
  src/algorithm/differencePrimitives.h
  src/algorithm/distance.cpp
  src/algorithm/distance3d.cpp
  src/algorithm/distance3d.h
  src/algorithm/intersection.cpp
  src/algorithm/minkowskiSum.cpp
  src/algorithm/minkowskiSum3D.cpp
  src/algorithm/offset.cpp
  src/algorithm/plane.h
  src/algorithm/straightSkeleton.cpp
  src/algorithm/union.cpp
  src/algorithm/visibility.cpp
  src/detail/generator/building.cpp
  src/detail/polygonSetToMultiPolygon.cpp
  test/unit/SFCGAL/CylinderTest.cpp
  test/unit/SFCGAL/KernelTest.cpp
  test/unit/SFCGAL/SphereTest.cpp
  test/unit/SFCGAL/algorithm/NormalTest.cpp
Due: build:debian-docker-image, clang-format

Revert "chore: do not build c++ or docker image if modifications are only doc files"
  .gitlab/pipeline/build-debian-docker.yml
  .gitlab/pipeline/build-windows.yml
  .gitlab/pipeline/documentation.yml
  .gitlab/pipeline/sonar.yml
Due: build:debian-docker-image

test
  docker/Dockerfile.windows
Due: none

chore(ci): sonar-build-test job needs sonar-get-binaries
  .gitlab/pipeline/sonar.yml
Due: build:debian-docker-image

chore(ci): Add more strict changes rules on documentation
  .gitlab/pipeline/documentation.yml
Due: build:debian-docker-image

chore(docker): Ignore the build directories
  .dockerignore
Due: none

chore(docker_windows): Only copy the relevant files
  docker/Dockerfile.windows
Due: none

fix(capi): Fix deprecated usage
  src/capi/sfcgal_c.h
Due: clang-format

chore(clang-format): Indent prepocessor directives
  .clang-format
  src/capi/sfcgal_c.cpp
  src/detail/generator/disc.cpp
  src/detail/io/OsgFactory.cpp
  src/detail/io/OsgFactory.h
  src/detail/io/Serialization.h
  src/detail/tools/Log.h
  src/export.h
  src/io/osg.cpp
  src/io/osg.h
  src/numeric.h
Due: build:debian-docker-image, clang-format

fixup! chore(ci): Add more strict changes rules on documentation
  .gitlab/pipeline/documentation.yml
Due: build:debian-docker-image

TEST ci doc
  website/mkdocs.yml
Due: none

chore: regroup doc jobs inside the same stage
  .gitlab-ci.yml
  .gitlab/pipeline/documentation.yml
Due: build:debian-docker-image

chore: regroup docker jobs inside the same stage
  .gitlab-ci.yml
  .gitlab/pipeline/build-debian-docker.yml
  .gitlab/pipeline/build-windows.yml
Due: build:debian-docker-image

chore: regroup sonar job in the same group
  .gitlab-ci.yml
  .gitlab/pipeline/sonar.yml
Due: build:debian-docker-image

chore: regroup build job in the same group plateform-build-test
  .gitlab-ci.yml
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
  .gitlab/pipeline/opensuse.yml
Due: build:debian-docker-image

chore(ci): Documentation build job has no dependency
  .gitlab/pipeline/documentation.yml
Due: build:debian-docker-image

chore(ci): debian docker build job has no dependency
  .gitlab/pipeline/build-debian-docker.yml
Due: build:debian-docker-image

chore(ci): Windows docker build job has no dependency
  .gitlab/pipeline/build-windows.yml
Due: build:debian-docker-image

fix(surface): Remove unneeded virtual
  src/Surface.h
Due: build:debian-docker-image, clang-format
