Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:documentation: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  deploy:pages: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore

chore(Point): avoid code duplication for generic constructor
  src/Point.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

tests(getCoordinateType): Add tests for getCoordinateType method
  test/unit/SFCGAL/GeometryTest.cpp
  test/unit/SFCGAL/LineStringTest.cpp
  test/unit/SFCGAL/MultiPointTest.cpp
  test/unit/SFCGAL/MultiPolygonTest.cpp
  test/unit/SFCGAL/MultiSolidTest.cpp
  test/unit/SFCGAL/PointTest.cpp
  test/unit/SFCGAL/PolygonTest.cpp
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
  test/unit/SFCGAL/SolidTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

chore(Simplification): Comment preserveTopology not used in simplifyPolygon
  src/detail/algorithm/simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

docs(Simplification): Add a link to CGAL package
  src/algorithm/simplification.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

docs(Simplification): Add information about unit for the distance
  src/algorithm/simplification.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(Epsilon): Add an epsilon constant and use it
  src/detail/algorithm/simplification.cpp
  src/numeric.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(Numeric): Add a const ESPILON=1e-8 and use it
  src/Cylinder.cpp
  src/algorithm/straightSkeleton.h
  src/numeric.h
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(Segment): Add a new Segment class
  src/Segment.cpp
  src/Segment.h
  test/unit/SFCGAL/SegmentTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

ci: Add an initial clang-tidy job
  .gitlab-ci.yml
  .gitlab/pipeline/clang-tidy.yml
  .gitlab/pipeline/sonar.yml
Due: build:documentation, deploy:pages

DO NOT MERGE: test ci
  src/Envelope.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

DO NOT MERGE: test 2
  src/algorithm/BoundaryVisitor.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

test
  .gitlab/pipeline/clang-tidy.yml
Due: none

fix
  .gitlab/pipeline/clang-tidy.yml
  .gitlab/pipeline/sonar.yml
Due: none

chore: add commitizen to the project
  .gitlab-ci.yml
  .gitlab/pipeline/commitizen.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  HOW_TO_RELEASE.md
Due: build:documentation, deploy:pages

chore(Segment): factorize exactInterpolationParameter
  src/Segment.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

chore(Segment): factorize hasOn
  src/Segment.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

chore: Update clang-format to version 19
  .gitlab/pipeline/lint-code.yml
  .pre-commit-config.yaml
  src/GeometryCollection.h
  src/LineString.h
  src/Point.h
  src/Polygon.h
  src/PolyhedralSurface.h
  src/PreparedGeometry.h
  src/Solid.h
  src/TriangulatedSurface.h
  src/algorithm/difference.cpp
  src/algorithm/isValid.cpp
  src/algorithm/minkowskiSum.cpp
  src/algorithm/offset.cpp
  src/detail/ComplexComparator.h
  src/detail/TypeForDimension.h
  src/detail/io/Serialization.cpp
  src/detail/io/Serialization.h
  src/detail/io/WkbWriter.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(Point): Add a new generic constructor
  src/Point.cpp
  src/Point.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

chore(SegmentStore): simplify and factorize interpolation
  src/detail/SegmentStore.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

test(Point): Add test for Generic XYZM constructor
  test/unit/SFCGAL/PointTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

chore(SegmentStore): move methods inside class and remove leftover
  src/algorithm/simplification.cpp
  src/detail/SegmentStore.h
  src/detail/algorithm/simplification.cpp
  src/detail/algorithm/simplification.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

chore(ConstraintInfo): use operator() to simplify sort
  src/detail/ConstraintInfo.h
  src/detail/algorithm/simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(Geometry): add a method to return CoordinateType
  src/Geometry.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

chore(Simplification): move implementation to detail
  src/algorithm/simplification.cpp
  src/algorithm/simplification.h
  src/detail/algorithm/simplification.cpp
  src/detail/algorithm/simplification.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

chore(Simplification): fix header styel/order
  src/algorithm/simplification.cpp
  src/algorithm/simplification.h
  src/detail/algorithm/simplification.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

chore(Simplification): Add SPDX header
  src/algorithm/simplification.h
  src/detail/algorithm/simplification.h
  test/unit/SFCGAL/algorithm/Simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(Epsilon): Add an epsilon constant and use it
  src/detail/algorithm/simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

chore(Simplification): split and factorize code
  src/detail/algorithm/simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

docs(Simplification): improve description for reconstruct parts
  src/detail/algorithm/simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

chore(Simplification): Move SegmentStore and ConstraintInfo
  src/detail/ConstraintInfo.h
  src/detail/SegmentStore.h
  src/detail/algorithm/simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(Simplification): Add a wrapper around CGAL 2D simplification
  src/algorithm/simplification.cpp
  src/algorithm/simplification.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/algorithm/Simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

chore(SegmentStore): remove unused Z value and useless dimension code
  src/detail/SegmentStore.h
  src/detail/algorithm/simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

chore(Simplification): remove unused preserveTopology
  src/detail/algorithm/simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(StraightSkeletonPartition): Return PolyhedralSurface instead of MultiPolygon
  src/algorithm/straightSkeleton.cpp
  src/algorithm/straightSkeleton.h
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format
