Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, clang-format

.gitlab/pipeline/build-debian-docker.yml:

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
    - name: docker:dind
  only:
    changes:
      - "src/*"
      - "docker/Dockerfile.debian"
      - "docker/entrypoint.sh"
      - ".gitlab-ci.yml"
      - ".gitlab/**/*.yml"
    refs:
      - merge_requests
      - master
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
    - docker build
      --pull
      --cache-from $CI_REGISTRY_IMAGE:debian-latest
      --tag $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA
      --build-arg CGAL_VERSION=${BUILD_CGAL_VERSION}
      -f docker/Dockerfile.debian
      .
    - docker push $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA
  after_script:
    - docker logout $CI_REGISTRY


push:debian-docker-latest:
  stage: deploy
  image: docker:latest
  services:
    - name: docker:dind
  variables:
    GIT_STRATEGY: none
  only:
    refs:
      - master
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA
    - docker tag $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:debian-latest
    - docker push $CI_REGISTRY_IMAGE:debian-latest
  after_script:
    - docker logout $CI_REGISTRY


push:debian-docker-tag:
  stage: deploy
  image: docker:latest
  services:
    - name: docker:dind
  variables:
    GIT_STRATEGY: none
  only:
    refs:
      - tags
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker pull $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA
    - docker tag $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_SHA $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_REF_NAME
    - docker push $CI_REGISTRY_IMAGE:debian-$CI_COMMIT_REF_NAME
  after_script:
    - docker logout $CI_REGISTRY

.gitlab/pipeline/lint-code.yml:

#######################
# clang-format linter #
#######################
# Check if the C++ code is consistent in code formatting (correct amount of tabs/spaces,
# correct indentation etc.)
clang-format:
  stage: lint
  image:
    name: kszonek/clang-format-15
    entrypoint: [""]
  script:
    # We need to use simple BusyBox `find` syntax here.
    - >
      clang-format --dry-run --Werror
      $(find src/ -iname '*.cpp' -or -iname '*.hpp' -or -iname '*.c' -or -iname '*.h')
  # script:
  #   - run-clang-format.py -r src --style=file
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || ($CI_COMMIT_BRANCH && $CI_PIPELINE_SOURCE == "push")'
      changes:
        - "src/**/*.{c,h,cpp,hpp}"
        - ".clang-format"
        - ".clang-format-ignore"

Replace CMake LIBDIR paths to use FULL_LIBDIR
  CMakeLists.txt
  sfcgal-config.in
  sfcgal.pc.in
Due: none

fix(cmake): Include unix dir to add common path
  CMakeLists.txt
Due: none

chore: update pre-commit config for clang-format
  .pre-commit-config.yaml
Due: none

chore: upgrade clang-format from 15 to 16 in the CI
  .gitlab/pipeline/lint-code.yml
Due: build:debian-docker-image

chore(pre-commit): Ensure to use the .clang-format configuration file
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Limit clang-format to the cpp files in src directory
  .pre-commit-config.yaml
Due: none

feat(mkdocs.yml): activate copy code bloc
  website/mkdocs.yml
Due: none

chor(index.md): Use admonition for licence warning
  website/docs/index.md
Due: none

feat(docs): use grid cards for sponsors
  SPONSORS.md
  website/__pycache__/macros.cpython-312.pyc
  website/docs/sponsors.md
  website/macros.py
  website/mkdocs.yml
Due: none

feat: isSimple method for geometries
  src/algorithm/isSimple.cpp
  src/algorithm/isSimple.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/algorithm/IsSimpleTest.cpp
Due: clang-format

solid: Fix addInteriorShell docstring
  src/Solid.h
Due: build:debian-docker-image, clang-format

solid: Add a method to set the exterior shell
  src/Solid.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/SolidTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, clang-format

alpha shape 3D
  src/CMakeLists.txt
  src/algorithm/alphaShapes3D.cpp
  src/algorithm/alphaShapes3D.h
  test/data/bunny1000Wkt.txt
  test/unit/CMakeLists.txt
  test/unit/SFCGAL/algorithm/AlphaShapes3DTest.cpp
Due: build:debian-docker-image, clang-format

feat(ci): Bump CGAL versions to 5.6.2 and 6.0.1
  .cirrus.yml
  .github/workflows/codeql.yml
  .gitlab-ci.yml
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
Due: build:debian-docker-image

buffer3D: Fix comparison of integer of different signedness warning
  src/algorithm/buffer3D.cpp
Due: clang-format

orientation: Remove unused typedef
  src/algorithm/orientation.cpp
Due: clang-format

readme: Fix the documentation links
  README.md
Due: none

ci: Do not build the tests on debian docker image
  docker/Dockerfile.debian
Due: build:debian-docker-image

ci: parallalize build
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
  .gitlab/pipeline/opensuse.yml
  docker/Dockerfile.debian
  docker/Dockerfile.windows
Due: build:debian-docker-image

ci(opensuse): Remove trailing whitespace
  .gitlab/pipeline/opensuse.yml
Due: build:debian-docker-image

test
  src/algorithm/alphaShapes3D.cpp
  test/unit/SFCGAL/algorithm/AlphaShapes3DTest.cpp
Due: clang-format

pre-commit: Ignore the data files for 'end-of-file-fixer'
  .pre-commit-config.yaml
Due: none

feat: isSimple method for geometries
  src/Simplicity.h
  src/algorithm/isSimple.cpp
  src/algorithm/isSimple.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/algorithm/IsSimpleTest.cpp
Due: build:debian-docker-image, clang-format

GeometryCollection: Fix error message in addGeometry
  src/GeometryCollection.cpp
Due: build:debian-docker-image, clang-format

GeometryCollection: Add a newline at the end of addGeometry error msg
  src/GeometryCollection.cpp
Due: build:debian-docker-image, clang-format

Revert "ci: parallalize build"
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
  .gitlab/pipeline/opensuse.yml
  docker/Dockerfile.debian
  docker/Dockerfile.windows
Due: build:debian-docker-image

polyhedralsurface: Add a constructor from an inexact mesh
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
Due: build:debian-docker-image, clang-format

pre-commit: Increase the check-added-large-files size
  .pre-commit-config.yaml
Due: none

algorithm: Add alpha wrapping 3d algorithm
  src/CMakeLists.txt
  src/algorithm/alphaWrapping3D.cpp
  src/algorithm/alphaWrapping3D.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/data/bunny1000AlphaWrapping20Wkt.txt
  test/data/bunny1000Wkt.txt
  test/unit/CMakeLists.txt
  test/unit/SFCGAL/algorithm/AlphaWrapping3DTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, clang-format

Revert "feat(ci): Bump CGAL versions to 5.6.2 and 6.0.1"
  .cirrus.yml
  .github/workflows/codeql.yml
  .gitlab-ci.yml
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
Due: build:debian-docker-image

ci: Renable parallalize build
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
  .gitlab/pipeline/opensuse.yml
  docker/Dockerfile.debian
  docker/Dockerfile.windows
Due: build:debian-docker-image

solidtest: Fix segfault in setExteriorShell test
  test/unit/SFCGAL/SolidTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: none

solid: Specify memory management for setExteriorShell
  src/Solid.h
Due: build:debian-docker-image, clang-format
