Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}

fix(capi): apply clang-tidy fixes
  src/capi/sfcgal_c.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(primitive): update doc, missing param, etc
  src/primitive3d/Box.h
  src/primitive3d/Cone.h
  src/primitive3d/Cube.h
  src/primitive3d/Cylinder.h
  src/primitive3d/Primitive.h
  src/primitive3d/Sphere.h
  src/primitive3d/Torus.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(capi): primitive paramters are now exported with their type
  src/capi/sfcgal_c.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix: area3D and volume documentation
  src/primitive3d/Box.h
  src/primitive3d/Cone.h
  src/primitive3d/Cube.h
  src/primitive3d/Cylinder.h
  src/primitive3d/Primitive.h
  src/primitive3d/Sphere.h
  src/primitive3d/Torus.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(primitive): add toString to retrieve object representation
  src/primitive3d/Cube.cpp
  src/primitive3d/Cube.h
  src/primitive3d/Primitive.cpp
  src/primitive3d/Primitive.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(primitive): add almostEquals and replace sfcgal_primitive_is_equals by sfcgal_primitive_is_almost_equals
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  src/primitive3d/Primitive.cpp
  src/primitive3d/Primitive.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix: clang-tidy again!
  src/capi/sfcgal_c.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(capi): sfcgal_primitive_is_almost_equals primitive was casted to Geometry
  src/capi/sfcgal_c.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(capi): add transform according to 4x4 matrix
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(capi): update doc, missing param, etc
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(doxygen-check.sh): fix path to access to src/namespace.h
  script/doxygen-check.sh
Due: none

fix(sfcgalop): disable alphashapes on msvc
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

ci(vcpkg): Update vcpkg baseline to fix gmp build on macos
  vcpkg.json
Due: none

build(vcpkg): Add missing nlohmann-json dependency
  vcpkg.json
Due: none

build(cmake): Relax nlohmann_json dependency to accept any 3.11 version
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

test: Make json comparison order independent
  test/test_config.h.cmake
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

chore(github/ci): Add missing nlohmann-json dependency
  .github/workflows/ci.yml
  .github/workflows/msys.yml
Due: none

ci(macos): Add missing nlohmann-json dependency
  .gitlab/pipeline/build-macos.yml
Due: none

fix(sfcgalop/getopt_win): Remove unused variable optreset
  sfcgalop/getopt_win.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(ci): Also test fedora 43
  .gitlab/pipeline/fedora.yml
Due: none

chore(docker/windows): Switch to x64-windows-release triplet
  docker/Dockerfile.windows
Due: build:debian-docker-image, build:windows-docker-image

build(wasm): init a WebAssembly version
  cmake/sfcgal-wasm-integration.cmake
  sfcgal-wasm/.gitignore
  sfcgal-wasm/build-complete.sh
  sfcgal-wasm/cmake/EmscriptenToolchain.cmake
  sfcgal-wasm/cmake/FindBoost.cmake
  sfcgal-wasm/examples/2d/area-2d.html
  sfcgal-wasm/examples/2d/buffer-2d.html
  sfcgal-wasm/examples/2d/centroid-2d.html
  sfcgal-wasm/examples/2d/convexhull-2d.html
  sfcgal-wasm/examples/2d/difference-2d.html
  sfcgal-wasm/examples/2d/distance-2d.html
  sfcgal-wasm/examples/2d/intersection-2d.html
  sfcgal-wasm/examples/2d/transformations-2d.html
  sfcgal-wasm/examples/2d/union-2d.html
  sfcgal-wasm/examples/3d/area-3d.html
  sfcgal-wasm/examples/3d/boolean-3d.html
  sfcgal-wasm/examples/3d/distance-3d.html
  sfcgal-wasm/examples/3d/extrude-3d.html
  sfcgal-wasm/examples/3d/transformations-3d.html
  sfcgal-wasm/examples/LIMITATIONS.md
  sfcgal-wasm/examples/assets/styles.css
  sfcgal-wasm/examples/index.html
  sfcgal-wasm/examples/misc/tessellate.html
  sfcgal-wasm/examples/misc/validate.html
  sfcgal-wasm/examples/playground.html
  sfcgal-wasm/scripts/build-deps.sh
  sfcgal-wasm/scripts/build-sfcgal-wasm.sh
  sfcgal-wasm/scripts/build.sh
  sfcgal-wasm/scripts/install-emscripten.sh
  sfcgal-wasm/scripts/serve.sh
  sfcgal-wasm/src/sfcgal-binding.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feature(algorithm): Add Shape Regularization
  src/algorithm/ShapeRegularization.cpp
  src/algorithm/ShapeRegularization.h
  test/unit/SFCGAL/algorithm/ShapeRegularizationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refacto
  sfcgal-wasm/build-complete.sh
  sfcgal-wasm/examples/3d/area-3d.html
  sfcgal-wasm/examples/3d/boolean-3d.html
  sfcgal-wasm/examples/3d/distance-3d.html
  sfcgal-wasm/examples/3d/extrude-3d.html
  sfcgal-wasm/examples/3d/transformations-3d.html
  sfcgal-wasm/examples/lib/canvas2d-renderer.js
  sfcgal-wasm/examples/lib/sfcgal-module.js
  sfcgal-wasm/examples/lib/three3d-renderer.js
  sfcgal-wasm/examples/playground.html
  sfcgal-wasm/scripts/build-deps.sh
  sfcgal-wasm/scripts/build-sfcgal-wasm.sh
  sfcgal-wasm/scripts/build.sh
  sfcgal-wasm/src/sfcgal-binding.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix macos + wasm64
  sfcgal-wasm/cmake/FindThreads.cmake
  sfcgal-wasm/examples/3d/boolean-3d.html
  sfcgal-wasm/examples/css/responsive.css
  sfcgal-wasm/examples/lib/sfcgal-module.js
  sfcgal-wasm/examples/lib/three3d-renderer.js
  sfcgal-wasm/examples/playground.html
  sfcgal-wasm/scripts/build-deps.sh
  sfcgal-wasm/scripts/build-sfcgal-wasm.sh
  sfcgal-wasm/scripts/build.sh
  sfcgal-wasm/src/sfcgal-binding.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix
  sfcgal-wasm/examples/2d/area-2d.html
  sfcgal-wasm/examples/3d/extrude-3d.html
  sfcgal-wasm/examples/lib/canvas2d-renderer.js
  sfcgal-wasm/examples/lib/sfcgal-module.js
  sfcgal-wasm/examples/lib/three3d-renderer.js
  sfcgal-wasm/examples/playground.html
  sfcgal-wasm/src/sfcgal-binding.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix memory
  sfcgal-wasm/scripts/build-sfcgal-wasm.sh
  sfcgal-wasm/scripts/build.sh
Due: none

add readme
  sfcgal-wasm/README.md
Due: none

fix z orientation + extrude sk
  sfcgal-wasm/examples/3d/extrude-3d.html
  sfcgal-wasm/examples/lib/sfcgal-module.js
  sfcgal-wasm/examples/lib/three3d-renderer.js
  sfcgal-wasm/examples/playground.html
  sfcgal-wasm/src/sfcgal-binding.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

docs(README.md): improve readability and apply markdownlint recommendations
  README.md
Due: none

docs(README.md): add SFCGAL logo
  README.md
Due: none

docs(README.md): center badges and add description catchphrase
  README.md
Due: none

chore(geom): Add full doxygen to operator==
  src/Geometry.cpp
  src/Geometry.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(geometrycollection): Replace boost::ptr_vector by vector<unique_ptr>
  src/GeometryCollection.cpp
  src/GeometryCollection.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(geometry): Add a setGeometryN function from unique_ptr
  src/Geometry.cpp
  src/Geometry.h
  src/GeometryCollection.cpp
  src/GeometryCollection.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(polyhedralsurface): Replace boost::ptr_vector by vector<unique_ptr>
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(linestring): Add a AddPoint function from unique_ptr
  src/LineString.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat: Introduce DereferenceIterator
  src/DereferenceIterator.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(triangulatedsurface): Replace boost::ptr_vector by vector<unique_ptr>
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings
