Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore

chore(README): Improve display of repology image
  README.md
Due: none

feat(PolygonRepair): Add algorithm Polygon Repair
  src/algorithm/polygonRepair.cpp
  src/algorithm/polygonRepair.h
  test/unit/SFCGAL/algorithm/PolygonRepair.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(capi): Add Polygon Repair
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

docs(PolygonRepair): Geometry can be empty. An empty geometry will be returned
  src/algorithm/polygonRepair.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(primitive3d): add cube
  src/primitive3d/Cube.cpp
  src/primitive3d/Cube.h
  test/unit/SFCGAL/CubeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(primitive3d): add box
  src/primitive3d/Box.cpp
  src/primitive3d/Box.h
  test/unit/SFCGAL/BoxTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(MultiPolygon): Add constructor using CGAL Multipolygon_with_holes_2
  src/MultiPolygon.cpp
  src/MultiPolygon.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(PolygonRepair): Always returns MultiPolygon type
  src/algorithm/polygonRepair.cpp
  src/algorithm/polygonRepair.h
  test/unit/SFCGAL/algorithm/PolygonRepair.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(clang-tidy): Disable readability-magic-numbers warnings
  .clang-tidy
Due: test:clang-tidy

feat(primitive3d): add torus
  src/primitive3d/Torus.cpp
  src/primitive3d/Torus.h
  test/unit/SFCGAL/TorusTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(Torus): add modulo operation to close polyhedralsurface
  src/primitive3d/Torus.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(torus): Fix doxygen errors
  src/primitive3d/Torus.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

test(Torus): fix tests and rewrite some parts to simplify
  test/unit/SFCGAL/TorusTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix(torus): Fix some clang-tidy errors
  src/primitive3d/Torus.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

refactor(torus): Make generatePolyhedralSurface method const
  src/primitive3d/Torus.cpp
  src/primitive3d/Torus.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(capi): Add torus api
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/data/torusWkt_expected.txt
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(primitive3d): add cone and frustum
  src/primitive3d/Cone.cpp
  src/primitive3d/Cone.h
  test/unit/SFCGAL/ConeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(Cone): fix area comparison using area3D method
  test/unit/SFCGAL/ConeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix(cone): Fix doxygen error
  src/primitive3d/Cone.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(build): Fix compilation with boost 1.89
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

chore(build): Remove boost 1.58 specific workflow
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

chore(polyhedralsurface): Ask doxygen to ignore explicit instantiations
  .gitlab/doxygen-check.sh
  src/PolyhedralSurface.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(PolyhedralSurface): Ensure addPatch parameters names are the same
  src/PolyhedralSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(polyhedralsurface): Remove uneeded return
  src/PolyhedralSurface.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(clang-tidy): Reindent checkOptions
  .clang-tidy
Due: test:clang-tidy

chore(clang-tidy): Add a rule to ignore some short parameter names
  .clang-tidy
Due: test:clang-tidy

chore(clang-tidy): Also ignore g as parameter or variable name
  .clang-tidy
Due: test:clang-tidy

chore(docker): Update debian docker image for debian 13
  docker/Dockerfile.debian
Due: build:debian-docker-image, build:windows-docker-image

chore(volume): Fix return type does not need to be const-qualified
  src/algorithm/volume.cpp
  src/algorithm/volume.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

refactor(Volume): Rewrite Volume functions using CGAL method
  src/algorithm/volume.cpp
  src/algorithm/volume.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(clang-tidy): Ignore modernize-use-using rule in C API
  src/capi/.clang-tidy
Due: none

refactor(sphere): Use unsigned int for num_horizontal and num_vertical
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

refactor(sphere): Make all generate functions const
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(sphere): Add nodiscard attribute to all getters
  src/primitive3d/Sphere.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(sphere): Use a trailing return type syntax for all functions
  src/primitive3d/Sphere.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(sphere): Remove inline attribute in the header file
  src/primitive3d/Sphere.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format
