Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}

test(area3d): Also test empty polygon
  test/unit/SFCGAL/algorithm/AreaTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

test(area3d): Add more polygon tests
  test/unit/SFCGAL/algorithm/AreaTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

refactor(area3d): Use shoelace formula to compute 3d area
  src/algorithm/area.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(empty): add more isEmpty check
  src/algorithm/normal.h
  src/algorithm/orientation.cpp
  src/algorithm/plane.h
  src/algorithm/straightSkeleton.cpp
  src/capi/sfcgal_c.cpp
  src/detail/SegmentStore.h
  src/detail/transform/AffineTransform3.cpp
  src/detail/transform/ForceZOrderPoints.cpp
  src/detail/transform/RoundTransform.cpp
  src/io/OBJ.cpp
  src/io/STL.cpp
  src/io/vtk.cpp
  test/unit/SFCGAL/algorithm/ExtrudeTest.cpp
  test/unit/SFCGAL/algorithm/OrientationTest.cpp
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
  test/unit/SFCGAL/transform/AffineTransform3Test.cpp
  test/unit/SFCGAL/transform/RoundTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fixup! 2778968da59aa99e5f1eb964521f0bc2b9aa3085
  src/detail/transform/AffineTransform3.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore: pet clang-tidy
  src/algorithm/normal.h
  src/algorithm/plane.h
  src/detail/SegmentStore.h
  src/detail/transform/AffineTransform3.cpp
  src/detail/transform/AffineTransform3.h
  src/detail/transform/ForceZOrderPoints.cpp
  src/detail/transform/ForceZOrderPoints.h
  src/io/vtk.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(box): Add missing override documentation
  src/primitive3d/Box.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(cube): Add missing override documentation
  src/primitive3d/Cube.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(cone): Add missing override documentation
  src/primitive3d/Cone.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(torus): Add missing override documentation
  src/primitive3d/Torus.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(sphere): Add missing override documentation
  src/primitive3d/Sphere.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(cylinder): Add missing override documentation
  src/primitive3d/Cylinder.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(primitive): Implement clone method
  src/primitive3d/Box.h
  src/primitive3d/Cone.h
  src/primitive3d/Cube.h
  src/primitive3d/Cylinder.h
  src/primitive3d/Primitive.h
  src/primitive3d/Sphere.h
  src/primitive3d/Torus.h
  test/unit/SFCGAL/BoxTest.cpp
  test/unit/SFCGAL/ConeTest.cpp
  test/unit/SFCGAL/CubeTest.cpp
  test/unit/SFCGAL/CylinderTest.cpp
  test/unit/SFCGAL/SphereTest.cpp
  test/unit/SFCGAL/TorusTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(capi): Simplify sfcgal_primitive_clone by using clone method
  src/capi/sfcgal_c.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(geometry): add Generate Grid 2D/3D algorithms
  sfcgalop/operations/operations.cpp
  sfcgalop/test/test_minimal.cpp
  src/algorithm/Grid.cpp
  src/algorithm/Grid.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/algorithm/GridTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(SegmentStore): interpolate Z/M from dimension-specific nearest segments
  src/detail/SegmentStore.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): add Split
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(split): Add split (Surface / Line) algorithm with Z/M interpolation
  src/algorithm/split.cpp
  src/algorithm/split.h
  test/data/split/split_tests.expected
  test/data/split/split_tests.wkt
  test/unit/CMakeLists.txt
  test/unit/SFCGAL/algorithm/SplitTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(roof): create a point cloud of footrpint and projected medial axis to avoid tolerance precision
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): Add delaunay triangulation + CDT
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

format
  src/algorithm/fillet3D.cpp
  src/algorithm/fillet3D.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): wip
  sfcgalop/README.md
  sfcgalop/io.cpp
  sfcgalop/io.hpp
  sfcgalop/main.cpp
  sfcgalop/operations/operations.cpp
  sfcgalop/util.cpp
  sfcgalop/util.hpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(capi): Add root generation functions
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(capi): Add extrudeUntil algorithm
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(roofGeneration): add angles on extrude skeleton for hipped roofs
  sfcgalop/operations/operations.cpp
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
  src/algorithm/straightSkeleton.cpp
  src/algorithm/straightSkeleton.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(bench): rm 'em all
  CMakeLists.txt
  test/CMakeLists.txt
  test/bench/Bench.cpp
  test/bench/Bench.h
  test/bench/BenchArea.cpp
  test/bench/BenchContainer.cpp
  test/bench/BenchMinkowski.cpp
  test/bench/BenchPredicate.cpp
  test/bench/BenchStraightSkeleton.cpp
  test/bench/BenchTriangulation.cpp
  test/bench/BenchWKT.cpp
  test/bench/CMakeLists.txt
  test/bench/IntersectionPerfTest.cpp
  test/bench/KernelPerfTest.cpp
  test/bench/TestModule.cpp
  website/docs/installation.md
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

feat(algorihtm): add insert_from_points algorithm
  sfcgalop/operations/operations.cpp
  src/algorithm/topologyEdit.cpp
  src/algorithm/topologyEdit.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(roof): use insert_from_points method to produce a robust CDT
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(sponsors): add sfcgal.org mail instead of oslandia one
  website/docs/sponsors.md
Due: doc:build, pages

feat(version): Add SFCGAL_MAKE_VERSION and SFCGAL_VERSION_NUM
  src/version.h.cmake
  test/unit/SFCGAL/VersionTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

ci(bsd): remove cgal system and use latest version
  .github/workflows/bsd.yml
Due: none

ci(github): move repo to SFCGAL/SFCGAL
  .gitlab/merge_request_templates/Default.md
Due: none

fix(buffer3D): convert segment to subdivision after sphere change
  src/algorithm/buffer3D.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(primitive3d): improve perpendicular vector calculation in Cylinder
  src/primitive3d/Cylinder.cpp
  src/primitive3d/Cylinder.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(primitive3d): migrate sphere generation to icosahedron subdivision
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(sfcgalop): convert segment to subdivision after sphere change
  sfcgalop/constructors.cpp
  sfcgalop/constructors.hpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

test(capi): convert segment to subdivision after sphere change + fix tests
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

fix(minkowskisum3D): rewrite with a more robust version
  src/algorithm/minkowskiSum3D.cpp
  src/algorithm/minkowskiSum3D.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/data/MinkowskiSum3DTest.txt
  test/unit/SFCGAL/algorithm/MinkowskiSum3DTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test(sphere): convert segment to subdivision after sphere change + fix tests
  test/unit/SFCGAL/SphereTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format
