Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}

refactor(io/WktReader): return unique_ptr from readGeometry()
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
  src/io/ewkt.cpp
  src/io/wkt.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(cmake): add ASan, UBSan, and MSan sanitizer options
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

ci(gitlab): add asan_ubsan job for memory and UB checks
  .gitlab-ci.yml
  .gitlab/pipeline/sanitizers.yml
Due: doc:build, pages

fix(cmake): ensure C executables link with UBSan runtime
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

fix(cmake): propagate sanitizer link options via INTERFACE
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

fix(io/WkbReader): reset dimension flags for each sub-geometry and validate type
  src/detail/io/WkbReader.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(cmake): disable UBSan vptr and pointer-overflow for CGAL/libc++ compatibility
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

fix(capi,algorithm): handle null geometry and fix polygon repair conversion
  src/algorithm/polygonRepair.cpp
  src/capi/sfcgal_c.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(algorithm): handle edge cases in straightSkeleton and minkowskiSum3D
  src/algorithm/minkowskiSum3D.cpp
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test: disable tests triggering CGAL assertion violations
  test/data/CoversTest.txt
  test/data/IntersectionTest.txt
  test/unit/SFCGAL/algorithm/DifferenceTest.cpp
  test/unit/SFCGAL/algorithm/DistanceTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

fix(ForceOrderPoints): Add guard against EMPTY geometry
  src/detail/transform/ForceOrderPoints.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): Add forceLHR/forceRHR
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(ForceOrderPoints): add long name
  src/detail/transform/ForceOrderPoints.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test(ForceOrderPoints): Add test from PostGIS #6029
  test/unit/SFCGAL/algorithm/OrientationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

dihedral angle
  src/algorithm/fillet3D.cpp
  src/algorithm/fillet3D.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

wip fillet3D
  src/algorithm/fillet3D.cpp
  src/algorithm/fillet3D.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

tests(MinkowskiSum3d): low sphere subdivision to speed up tests
  test/unit/SFCGAL/algorithm/MinkowskiSum3DTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

wip fillet3D
  src/algorithm/fillet3D.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): add fillet3D
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(bench): pet doxygen
  test/bench/Bench.h
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

fix(MinkowskiSum3): Fix polyline usage
  sfcgalop/constructors.cpp
  sfcgalop/operations/operations.cpp
  src/algorithm/buffer3D.cpp
  src/algorithm/minkowskiSum3D.cpp
  src/primitive3d/Cylinder.cpp
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
  test/unit/SFCGAL/algorithm/MinkowskiSum3DTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(primitive3d)!: migrate sphere generation to icosahedron subdivision and modernize API
  sfcgalop/constructors.cpp
  sfcgalop/constructors.hpp
  sfcgalop/operations/operations.cpp
  src/algorithm/buffer3D.cpp
  src/primitive3d/Cylinder.cpp
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
  test/unit/SFCGAL/SphereTest.cpp
  test/unit/SFCGAL/algorithm/MinkowskiSum3DTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix bottom edges
  src/algorithm/fillet3D.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

wip avant stash
  src/algorithm/fillet3D.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix primitive
  src/primitive3d/Cylinder.h
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(sfcgalop): improve buffer3d with all algorithms
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

test(capi): Improve primitive clone test coverage
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

fix(primitive): remove custom operator= as implicitly-defined ones works
  src/primitive3d/Box.cpp
  src/primitive3d/Box.h
  src/primitive3d/Cone.cpp
  src/primitive3d/Cone.h
  src/primitive3d/Cube.cpp
  src/primitive3d/Cube.h
  src/primitive3d/Cylinder.cpp
  src/primitive3d/Cylinder.h
  src/primitive3d/Primitive.cpp
  src/primitive3d/Primitive.h
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
  src/primitive3d/Torus.cpp
  src/primitive3d/Torus.h
  test/unit/SFCGAL/CubeTest.cpp
  test/unit/SFCGAL/CylinderTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(capi): improve sfcgal_primitive_clone to handle all inherited classes
  src/capi/sfcgal_c.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(examples): Remove trailing whitespaces
  example/CGAL-basic_manip/CMakeLists.txt
  example/CGAL-cartesian_kernel/CMakeLists.txt
  example/CGAL-point_generator/CMakeLists.txt
  example/CGAL-polygon_triangulation2/CMakeLists.txt
  example/CGAL-triangulation2/CMakeLists.txt
  example/SFCGAL-building/CMakeLists.txt
  example/SFCGAL-export-osg/CMakeLists.txt
  example/SFCGAL-offset/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

fix(examples): Add missing cgal target link library
  example/CGAL-basic_manip/CMakeLists.txt
  example/CGAL-cartesian_kernel/CMakeLists.txt
  example/CGAL-point_generator/CMakeLists.txt
  example/CGAL-polygon_triangulation2/CMakeLists.txt
  example/CGAL-triangulation2/CMakeLists.txt
  example/SFCGAL-building/CMakeLists.txt
  example/SFCGAL-export-osg/CMakeLists.txt
  example/SFCGAL-offset/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

chore(build/sonar): Activate examples compilation
  .gitlab/pipeline/sonar.yml
Due: none

fix(empty): add more isEmpty check
  src/algorithm/normal.h
  src/algorithm/orientation.cpp
  src/algorithm/plane.h
  src/algorithm/straightSkeleton.cpp
  src/capi/sfcgal_c.cpp
  src/detail/SegmentStore.h
  src/detail/transform/AffineTransform3.cpp
  src/detail/transform/ForceZOrderPoints.cpp
  src/detail/transform/RoundTransform.cpp
  src/io/OBJ.cpp
  src/io/STL.cpp
  src/io/vtk.cpp
  test/unit/SFCGAL/algorithm/ExtrudeTest.cpp
  test/unit/SFCGAL/algorithm/OrientationTest.cpp
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
  test/unit/SFCGAL/transform/AffineTransform3Test.cpp
  test/unit/SFCGAL/transform/RoundTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore: pet clang-tidy
  src/algorithm/normal.h
  src/algorithm/plane.h
  src/detail/SegmentStore.h
  src/detail/transform/AffineTransform3.cpp
  src/detail/transform/AffineTransform3.h
  src/detail/transform/ForceZOrderPoints.cpp
  src/detail/transform/ForceZOrderPoints.h
  src/io/vtk.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fixup! 2778968da59aa99e5f1eb964521f0bc2b9aa3085
  src/detail/transform/AffineTransform3.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): wip
  sfcgalop/README.md
  sfcgalop/io.cpp
  sfcgalop/io.hpp
  sfcgalop/main.cpp
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix(areatest): Use a valid 3d polygon
  test/unit/SFCGAL/algorithm/AreaTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format
