Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore

test clang-tidy
  .gitlab/pipeline/clang-tidy.yml
Due: none

wip
  src/algorithm/centroid.cpp
  src/detail/GeometrySet.cpp
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

wip
  test/unit/SFCGAL/NURBSCurveAlgorithmIntegrationTest.cpp
  test/unit/SFCGAL/NURBSCurveEndConditionTest.cpp
  test/unit/SFCGAL/NURBSCurveIntegrationTest.cpp
  test/unit/SFCGAL/NURBSCurveManipulationTest.cpp
  test/unit/SFCGAL/NURBSCurveMathTest.cpp
  test/unit/SFCGAL/NURBSCurveTest.cpp
  test/unit/SFCGAL/NURBSCurveWKTTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

refacto
  src/Curve.h
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  src/algorithm/isClosed.cpp
  src/algorithm/isSimple.cpp
  src/triangulate/triangulate2DZ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

docs(capi): Improve STL and OBJ documentation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

add test geomdl
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

capi
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

clang-format
  src/NURBSCurve.cpp
  src/algorithm/isClosed.cpp
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

les simpsoooons
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix nurbs interpolate clamped
  src/NURBSCurve.cpp
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix approximate
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

clean
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(capi): Add support for primitive polyhedral surface export
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/data/cylinder_expected.wkt
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

refactor(constraintdelaunaytriangulation): Directly use std::optional
  src/detail/triangulate/ConstraintDelaunayTriangulation.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(gitlab-ci): Switch to a debian base image for clang-tidy
  .gitlab/pipeline/clang-tidy.yml
Due: none

docs: fix capi buffer/len documentations
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

docs: fix a lot of missing documented param
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

docs: remove @ref from capi as they generate errors on localhost
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

docs: replace @ref from Primitive
  src/primitive3d/Primitive.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

docs: fix duplicated doc line in capi
  src/capi/sfcgal_c.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

docs: fix missing documentation on Primitive class
  src/primitive3d/Primitive.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix wkb
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  src/detail/io/WkbReader.cpp
  src/detail/io/WkbReader.h
  src/detail/io/WkbWriter.cpp
  src/detail/io/WkbWriter.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
  src/detail/io/WktWriter.cpp
  src/detail/io/WktWriter.h
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

build: Remove uneeded filesystem dependency
  CMakeLists.txt
  ci/debian/before_install.sh
  ci/opensuse/before_install.sh
Due: build:debian-docker-image, build:windows-docker-image

refactor(tests): Replace boost::filesystem by std::filesystem
  test/regress/convex_hull/main.cpp
  test/regress/polygon_triangulator/main.cpp
  test/regress/standalone/SFCGAL/StraightSkeletonTest.cpp
  test/test_config.h.cmake
  test/unit/SFCGAL/algorithm/Buffer3DTest.cpp
  test/unit/SFCGAL/io/OBJTest.cpp
  test/unit/SFCGAL/io/STLTest.cpp
  test/unit/SFCGAL/io/VTKTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(pre-commit): Fix deprecation push warning
  .pre-commit-config.yaml
Due: none

fix wkb/wkt again
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktWriter.cpp
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(ci): Add a CGAL version 5 env
  .gitlab-ci.yml
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
Due: doc:build, pages

chore(ci): Update ta latest CGAL versions
  .gitlab-ci.yml
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
Due: doc:build, pages

docs(capi): improve cross referenced object documentation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(capi): apply clang-tidy fixes
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore: update .clang-tidy
  .clang-tidy
  src/capi/.clang-tidy
Due: test:clang-tidy

fix(capi): sfcgal_primitive_as_polyhedral_surface now takes const ptr and add more tests
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(capi): use const primitives when no modifications are needed
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(primitive): cube parameter updates were not propagated to internal box object
  src/primitive3d/Cube.cpp
  src/primitive3d/Cube.h
  src/primitive3d/Primitive.cpp
  src/primitive3d/Primitive.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore: make doxygen-check.sh script usable on localhost
  .gitlab/doxygen-check.sh
  .gitlab/pipeline/lint-code.yml
  script/doxygen-check.sh
Due: none

simplify test + approximate rewrite
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore: add doxygen-check to pre-commit
  .pre-commit-config.yaml
  script/doxygen-check.sh
Due: none

chore(doxygen-check.sh): use the same options than mkdocs
  script/doxygen-check.sh
Due: none

fix approximate
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

cosmetic
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  src/detail/io/WktWriter.cpp
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format
