Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

build:windows-docker-image:
  stage: build
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Start-Service -Name "docker"
  - docker login -u $env:CI_REGISTRY_USER -p $env:CI_REGISTRY_PASSWORD $env:CI_REGISTRY
  script:
  - (docker pull $env:CI_REGISTRY_IMAGE':'windows-latest) -or ($true)
  ...

test:clang-tidy:
  stage: lint
  image: xianpengshen/clang-tools:19
  variables:
    CC: /usr/bin/clang-19
    CXX: /usr/bin/clang++-19
  cache:
    policy: pull
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
    - build/
  before_script:
  - apt-get update -qq
  ...

doc:build:
  stage: doc
  image: ${PYTHON_DOCKER_IMAGE}
  needs: []
  before_script:
  - apt-get update -qq
  - apt-get install -y doxygen
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/website.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd website && mkdocs build --verbose
  artifacts:
  ...

pages:
  stage: doc
  needs:
  - job: doc:build
    artifacts: true
  variables:
    GIT_STRATEGY: none
  script:
  - mkdir -p public
  - cp -rf website/site/* public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes clang-format-19
  script:
  - 'clang-format-19 --dry-run --Werror $(find src/ test/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

doxygen-warnings:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes doxygen git
  script:
  - script/doxygen-check.sh
  artifacts:
    when: on_failure
    paths:
    - doxygen_warnings.log

feat(sfcgalop): improve buffer3D, fix make_sphere
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

test(capi): pet clang-tidy
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

fix(sfcgalop): pet clang-tidy
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(algorihtm): add insert_from_points algorithm
  sfcgalop/operations/operations.cpp
  src/algorithm/insertPointsWithinTolerance.cpp
  src/algorithm/insertPointsWithinTolerance.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/data/InsertPointsWithinToleranceTest.txt
  test/unit/SFCGAL/algorithm/InsertPointsWithinToleranceTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io): add security protections to WKT/WKB readers (CWE-674)
  src/detail/io/WkbReader.cpp
  src/detail/io/WkbReader.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/OBJ): add element count limits to prevent memory exhaustion (CWE-400)
  src/io/OBJ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/Serialization): add size validation to prevent memory exhaustion (CWE-400)
  src/detail/io/Serialization.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(cmake): add ASan, UBSan, and MSan sanitizer options
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

fix(io/WkbReader,WkbWriter): propagate exceptions and fix empty triangle WKB format
  src/detail/io/WkbReader.cpp
  src/detail/io/WkbWriter.cpp
  test/data/WKB_expected.txt
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/VTK): add recursion depth limit to prevent stack overflow (CWE-674)
  src/io/vtk.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/STL): add recursion depth limit to prevent stack overflow (CWE-674)
  src/io/STL.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(algorithm): handle edge cases in straightSkeleton and minkowskiSum3D
  src/algorithm/minkowskiSum3D.cpp
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(ublas): fix deprecated warnings
  src/NURBSCurve.cpp
  src/detail/ublas.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/WktReader): add null check before pointer dereference in readInnerGeometryCollection
  src/detail/io/WktReader.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

ci(gitlab): add asan_ubsan job for memory and UB checks
  .gitlab-ci.yml
  .gitlab/pipeline/sanitizers.yml
  src/detail/io/WkbReader.cpp
  src/detail/io/WkbReader.h
  src/io/OBJ.cpp
  test/data/IntersectionTest.txt
  test/unit/SFCGAL/algorithm/DistanceTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(io/WktReader): return unique_ptr from readGeometry()
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
  src/io/ewkt.cpp
  src/io/wkt.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(capi,algorithm): handle null geometry and fix polygon repair conversion
  src/algorithm/polygonRepair.cpp
  src/capi/sfcgal_c.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/WkbReader): reset dimension flags for each sub-geometry and validate type
  src/detail/io/WkbReader.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test: disable tests triggering CGAL assertion violations
  test/data/CoversTest.txt
  test/data/IntersectionTest.txt
  test/unit/SFCGAL/algorithm/DifferenceTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

fix(distance3D): always use intersects3D
  src/algorithm/distance3d.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(io): add GeoJSON support R/W
  src/io/geojson.cpp
  src/io/geojson.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): add GeoJSON support R/W
  sfcgalop/io.cpp
  sfcgalop/io.hpp
  sfcgalop/main.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(capi): add GeoJSON support R/W
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test(GeoJSON): add tests
  test/unit/SFCGAL/io/GeoJSONTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}
