Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, clang-format

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

clang-format:
  stage: lint
  image:
    name: kszonek/clang-format-15
    entrypoint:
    - ''
  script:
  - 'clang-format --dry-run --Werror $(find src/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

Fix clang-tidy check: readability-convert-member-functions-to-static
  src/algorithm/buffer3D.cpp
Due: clang-format

Fix clang-tidy check: readability-else-after-return
  src/Sphere.cpp
  src/algorithm/buffer3D.cpp
  src/algorithm/minkowskiSum3D.cpp
Due: build:debian-docker-image, clang-format

Fix clang-tidy check: modernize-use-emplace
  src/algorithm/buffer3D.cpp
  src/algorithm/difference.cpp
  src/algorithm/intersection.cpp
  src/algorithm/union.cpp
  src/detail/GeometrySet.cpp
Due: clang-format

Fix clang-tidy check: modernize-use-equals-default
  src/Geometry.cpp
Due: build:debian-docker-image, clang-format

Fix clang-tidy check: readability-braces-around-statements
  src/Cylinder.cpp
  src/algorithm/buffer3D.cpp
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, clang-format

c api: missing pre-condition regarding geometry type for sfcgal_geometry_straight_skeleton_partition
  src/capi/sfcgal_c.h
Due: clang-format

Replace CMake LIBDIR paths to use FULL_LIBDIR
  CMakeLists.txt
  sfcgal-config.in
  sfcgal.pc.in
Due: none

Prepare v2.0.0
  NEWS
  sonar-project.properties
Due: none

feat: improve new website with mkdocs
  .venv/pyvenv.cfg
  requirements/website.txt
  website/docs/.pages
  website/docs/assets/img/logo.png
  website/docs/assets/img/logo.svg
  website/docs/authors.md
  website/docs/development.md
  website/docs/index.md
  website/docs/installation.md
  website/docs/screencast.md
  website/docs/stylesheets/extra.css
  website/mkdocs.yml
  website/templates-custom/annotated.jinja2
Due: none

wip: elephant
  test/unit/SFCGAL/Elephant.cpp
Due: none

wip: boolean3D
  src/algorithm/boolean3D.h
Due: clang-format

ci: build and deploy new website with MkDocs
  .gitlab-ci.yml
  .venv/lib64
Due: build:debian-docker-image

chor: ignore venv and site local build
  .gitignore
  .venv/lib64
  .venv/pyvenv.cfg
Due: none

wip: add Cigale
  test/unit/SFCGAL/Grasshopper.cpp
Due: none

doc: The site is automatically generated from the AUTHORS and SPONSORS.md files.
  AUTHORS
  SPONSORS.md
  website/__pycache__/macros.cpython-312.pyc
  website/docs/.pages
  website/docs/assets/img/sponsors/bpi_france.png
  website/docs/assets/img/sponsors/france_2030.png
  website/docs/assets/img/sponsors/france_relance.png
  website/docs/assets/img/sponsors/logo-dalibo.png
  website/docs/assets/img/sponsors/oslandia.png
  website/docs/assets/img/sponsors/ue_next_generation.png
  website/docs/authors.md
  website/docs/sponsors.md
  website/macros.py
  website/mkdocs.yml
Due: none

doc: dynamic version number management
  website/__pycache__/macros.cpython-312.pyc
  website/docs/index.md
  website/docs/installation.md
  website/macros.py
  website/mkdocs.yml
Due: none

wip: add STL file format
  src/io/STL.cpp
  src/io/STL.h
Due: clang-format

wip: use STL file format
  test/unit/SFCGAL/Elephant.cpp
  test/unit/SFCGAL/Grasshopper.cpp
Due: none

fix(wkb): add support for Solid and MultiSolid with correct WKB codes 25/26
  src/Geometry.h
  src/detail/io/WkbReader.cpp
  src/detail/io/WkbReader.h
  src/detail/io/WkbWriter.cpp
  test/unit/SFCGAL/io/WkbWriterTest.cpp
Due: build:debian-docker-image, clang-format

doc(PostGIS manual): Fix link to SFCGAL
  website/docs/index.md
Due: none

doc(development.md): use Gitlab and not Github
  website/docs/development.md
Due: none

Revert "Replace CMake LIBDIR paths to use FULL_LIBDIR"
  CMakeLists.txt
  sfcgal-config.in
  sfcgal.pc.in
Due: none

feat: add the MultiSolid class to the C API
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: clang-format

doc(NEWS): add the MultiSolid class to the C API
  NEWS
Due: none

ci: Declare dependencies for docker deploy jobs
  .gitlab/pipeline/build-debian-docker.yml
  .gitlab/pipeline/build-windows.yml
Due: build:debian-docker-image

ci: Add missing newline at the end of file
  .gitlab-ci.yml
Due: build:debian-docker-image

ci: Pages and build:documentation need to have the same limitations
  .gitlab-ci.yml
Due: build:debian-docker-image

ci: Rename pages job to deploy:pages
  .gitlab-ci.yml
Due: build:debian-docker-image

chor(index.md): Use admonition for licence warning
  website/docs/index.md
Due: none

feat(mkdocs.yml): activate copy code bloc
  website/mkdocs.yml
Due: none

feat(docs): use grid cards for sponsors
  SPONSORS.md
  website/__pycache__/macros.cpython-312.pyc
  website/docs/sponsors.md
  website/macros.py
  website/mkdocs.yml
Due: none

fix: buffer3d should not accept segments=3
  src/capi/sfcgal_c.h
Due: clang-format

buffer3d: remove Unused variable is_first
  src/algorithm/buffer3D.cpp
Due: clang-format

test: the buffer3d type name should be uppercase
  test/unit/SFCGAL/algorithm/Buffer3DTest.cpp
Due: none

wip: feat: isSimple method for geometries
  src/algorithm/isSimple.cpp
  src/algorithm/isSimple.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/algorithm/IsSimpleTest.cpp
Due: clang-format

feat(cmake config): add a modern CMake Find
  CMakeLists.txt
  cmake/SFCGALConfig.cmake.in
  src/CMakeLists.txt
Due: build:debian-docker-image

feat(cmake config): add a modern CMake Find
  CMakeLists.txt
  SFCGALConfig.cmake.in
  SFCGALConfigVersion.cmake.in
Due: none

Path conditions:
  build:debian-docker-image: any of: src/*, docker/Dockerfile.debian, docker/entrypoint.sh, .gitlab-ci.yml, .gitlab/**/*.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
