Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore

chore(ci): Add a job to build latest macos version as a brew package
  .gitlab-ci.yml
  .gitlab/generate-homebrew.sh
  .gitlab/pipeline/build-macos.yml
  .gitlab/pipeline/documentation.yml
Due: doc:build, pages

refactor(Primitive-3D): Move sphere and cylinder to a dedicated primitive3d folder
  src/algorithm/buffer3D.cpp
  src/algorithm/buffer3D.h
  src/primitive3d/Cylinder.cpp
  src/primitive3d/Cylinder.h
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
  test/unit/SFCGAL/CylinderTest.cpp
  test/unit/SFCGAL/SphereTest.cpp
  test/unit/SFCGAL/algorithm/MinkowskiSum3DTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(StraightSkeleton): remove roof bottom to make geometry valid
  src/algorithm/straightSkeleton.cpp
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

refactor(algorithm): use STL algorithms in extrudeStraightSkeleton
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(PolyhedralSurface): add STL compatibility typedefs
  src/PolyhedralSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

style(Clang-tidy): Remove bugprone-easily-swappable-parameters
  .clang-tidy
Due: test:clang-tidy

feat(IO): add STL file format
  src/io/STL.cpp
  src/io/STL.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

test(STL): Add unit test
  test/data/stlfiles/geometrycollection.stl
  test/data/stlfiles/geometrycollectionz.stl
  test/data/stlfiles/multipolygon.stl
  test/data/stlfiles/multipolygonz.stl
  test/data/stlfiles/multisolidz.stl
  test/data/stlfiles/polygon.stl
  test/data/stlfiles/polygonz.stl
  test/data/stlfiles/polyhedralsurface.stl
  test/data/stlfiles/polyhedralsurfacez.stl
  test/data/stlfiles/solidz.stl
  test/data/stlfiles/triangle.stl
  test/data/stlfiles/trianglez.stl
  test/data/stlfiles/triangulatedsurface.stl
  test/data/stlfiles/triangulatedsurfacez.stl
  test/unit/SFCGAL/io/STLTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(C-API): Add STL functions
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(zero): Normalize zero to avoid -0
  src/io/STL.cpp
  test/data/stlfiles/multipolygon.stl
  test/data/stlfiles/multipolygonz.stl
  test/data/stlfiles/multisolidz.stl
  test/data/stlfiles/polygon.stl
  test/data/stlfiles/polygonz.stl
  test/data/stlfiles/polyhedralsurface.stl
  test/data/stlfiles/polyhedralsurfacez.stl
  test/data/stlfiles/solidz.stl
  test/data/stlfiles/triangulatedsurface.stl
  test/data/stlfiles/triangulatedsurfacez.stl
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(C API): Fix if not defined MSVC
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

refactor(C-API): Add void for function without parameter
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(CLI): Welcome to sfcgalop
  CMakeLists.txt
  sfcgalop/.clang-tidy
  sfcgalop/CMakeLists.txt
  sfcgalop/README.md
  sfcgalop/io.c
  sfcgalop/io.h
  sfcgalop/main.c
  sfcgalop/operations/operations.c
  sfcgalop/operations/operations.h
  sfcgalop/operations/operations_alphashapes.c
  sfcgalop/operations/operations_alphashapes.h
  sfcgalop/operations/operations_common.h
  sfcgalop/operations/operations_construction.c
  sfcgalop/operations/operations_construction.h
  sfcgalop/operations/operations_coordinate.c
  sfcgalop/operations/operations_coordinate.h
  sfcgalop/operations/operations_metrics.c
  sfcgalop/operations/operations_metrics.h
  sfcgalop/operations/operations_params.c
  sfcgalop/operations/operations_params.h
  sfcgalop/operations/operations_registry.c
  sfcgalop/operations/operations_registry.h
  sfcgalop/operations/operations_skeleton.c
  sfcgalop/operations/operations_skeleton.h
  sfcgalop/operations/operations_spatial_analysis.c
  sfcgalop/operations/operations_spatial_analysis.h
  sfcgalop/operations/operations_tesselation.c
  sfcgalop/operations/operations_tesselation.h
  sfcgalop/operations/operations_transformation.c
  sfcgalop/operations/operations_transformation.h
  sfcgalop/operations/operations_validity.c
  sfcgalop/operations/operations_validity.h
  sfcgalop/operations/operations_visibility.c
  sfcgalop/operations/operations_visibility.h
  sfcgalop/safe_string.c
  sfcgalop/safe_string.h
  sfcgalop/timeus.h
  sfcgalop/util.c
  sfcgalop/util.h
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

build(sfcgalop): Switch to C17 for MSVC and older gcc/clang version
  sfcgalop/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

build(sfcgalop): Find available protection flags
  sfcgalop/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

build(sfcgalop): Add -Wno-unused-command-line-argument
  sfcgalop/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

build(sfcgalop): fix some options for macos and openbsd
  sfcgalop/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

build(windows): Add missing #include <float.h> for DBL_MAX
  sfcgalop/timeus.h
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

build(windows): Add compatible method to isfinite/isnan
  sfcgalop/operations/operations_alphashapes.c
  sfcgalop/safe_string.c
  sfcgalop/timeus.h
  sfcgalop/util.h
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(build): Post release bump version
  CMakeLists.txt
  sonar-project.properties
Due: build:debian-docker-image, build:windows-docker-image

refactor(sfcgalop): reorganize util and safe_string
  sfcgalop/io.c
  sfcgalop/main.c
  sfcgalop/operations/operations.c
  sfcgalop/operations/operations_alphashapes.c
  sfcgalop/operations/operations_params.c
  sfcgalop/operations/operations_validity.c
  sfcgalop/safe_string.c
  sfcgalop/safe_string.h
  sfcgalop/util.c
  sfcgalop/util.h
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(clang-tidy): Ignore use-trailing-return-type warning in capi
  src/capi/.clang-tidy
Due: none

fix: TMP DO NOT MERGE
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(C-API): Fix if not defined MSVC
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

refactor(sfcgalop): Apply flawfinder warnings
  sfcgalop/io.c
  sfcgalop/main.c
  sfcgalop/operations/operations.c
  sfcgalop/operations/operations_validity.c
  sfcgalop/operations/operations_visibility.c
  sfcgalop/safe_string.c
  sfcgalop/util.c
  src/capi/sfcgal_c.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(CMake): Define CMAKE_INSTALL_FULL_LIBDIR if not defined before
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

test(sfcgal-config): use absolute path, so generate it with CMake
  test/unit/CMakeLists.txt
  test/unit/SFCGAL/testsfcgalconfig.cpp.in
Due: build:debian-docker-image, build:windows-docker-image

test(sfcgal-config): Add unit test to sfcgal-config --libs
  test/unit/SFCGAL/testsfcgalconfig.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

test(msys): Use msys CI to test sfcgal-config
  .github/workflows/msys.yml
  test/unit/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

chore(src): Add missing copyright and licence header
  src/algorithm/buffer3D.cpp
  src/algorithm/scale.cpp
  src/algorithm/scale.h
  src/algorithm/simplification.cpp
  src/detail/algorithm/simplification.cpp
  src/io/OBJ.cpp
  src/io/vtk.cpp
  src/primitive3d/Cylinder.cpp
  src/primitive3d/Sphere.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(src): Use SPDX-License-Identifier everywhere
  src/algorithm/alphaShapes.h
  src/algorithm/alphaWrapping3D.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format
