Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, build:documentation, deploy:pages, clang-format

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

build:windows-docker-image:
  stage: build
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Start-Service -Name "docker"
  - docker login -u $env:CI_REGISTRY_USER -p $env:CI_REGISTRY_PASSWORD $env:CI_REGISTRY
  script:
  - (docker pull $env:CI_REGISTRY_IMAGE':'windows-latest) -or ($true)
  ...

test:clang-tidy:
  stage: plateform-build-test
  image: debian:stable
  variables:
    CXX: /usr/bin/clang++-19
  cache:
    policy: pull
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
    - build/
  needs:
  - sonar:build-test
  before_script:
  - apt update -qq
  ...

build:documentation:
  stage: build
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - apt-get update -qq
  - apt-get install -y doxygen
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/website.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd website && mkdocs build --verbose
  artifacts:
  ...

deploy:pages:
  stage: deploy
  needs:
  - job: build:documentation
    artifacts: true
  variables:
    GIT_STRATEGY: none
  script:
  - mkdir -p public
  - cp -rf website/site/* public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes clang-format-19
  script:
  - 'clang-format-19 --dry-run --Werror $(find src/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

wip: add Cigale
  test/unit/SFCGAL/Grasshopper.cpp
Due: build:debian-docker-image, build:windows-docker-image

wip: boolean3D
  src/algorithm/boolean3D.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

feat(CLI): Welcome to sfcgalop
  CMakeLists.txt
  sfcgalop/CMakeLists.txt
  sfcgalop/io.c
  sfcgalop/io.h
  sfcgalop/main.c
  sfcgalop/operations.c
  sfcgalop/operations.h
  sfcgalop/timeus.h
  sfcgalop/util.c
  sfcgalop/util.h
Due: build:debian-docker-image, build:windows-docker-image

chore(CMake): Rewrite SFCGALConfig.cmake.in using Targets and fix INTERFACE_LINK_LIBRARIES
  SFCGALConfig.cmake.in
  src/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

fix(Version): fix variables in version.h.cmake file
  src/version.h.cmake
Due: none

feat(cmake config): add a modern CMake Find
  CMakeLists.txt
  SFCGALConfig.cmake.in
  SFCGALConfigVersion.cmake.in
Due: build:debian-docker-image, build:windows-docker-image

chore(CMake): Fix Boost and CGAL imports
  CMakeLists.txt
  src/CMakeLists.txt
  test/regress/capi/CMakeLists.txt
  test/regress/convex_hull/CMakeLists.txt
  test/regress/polygon_triangulator/CMakeLists.txt
  test/regress/standalone/CMakeLists.txt
  test/unit/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

refactor: Use " instead of <> for SFCGAL header
  src/algorithm/scale.cpp
  src/algorithm/scale.h
  src/io/OBJ.h
  src/io/vtk.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

style: apply clang-format to example and test
  example/CGAL-basic_manip/main.cpp
  example/CGAL-cartesian_kernel/main.cpp
  example/CGAL-point_generator/main.cpp
  example/CGAL-polygon_triangulation2/main.cpp
  example/CGAL-triangulation2/main.cpp
  example/SFCGAL-building/main.cpp
  test/regress/capi/main.c
  test/regress/standalone/SFCGAL/IntersectionTest.cpp
  test/unit/SFCGAL/GeometryCollectionTest.cpp
  test/unit/SFCGAL/MultiLineStringTest.cpp
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
  test/unit/SFCGAL/SphereTest.cpp
  test/unit/SFCGAL/TriangleTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
  test/unit/SFCGAL/algorithm/AlphaWrapping3DTest.cpp
  test/unit/SFCGAL/algorithm/CentroidTest.cpp
  test/unit/SFCGAL/algorithm/ForceMeasuredTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
  test/unit/SFCGAL/transform/TranslateTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

chore(linter): Also apply clang-format on the test directory
  .gitlab/pipeline/lint-code.yml
  .pre-commit-config.yaml
Due: none

chore(2.1.0): Prepare 2.1.0. Add NEWS
  NEWS
Due: none

wip: refacto and improvements
  sfcgalop/CMakeLists.txt
  sfcgalop/README.md
  sfcgalop/io.c
  sfcgalop/io.h
  sfcgalop/main.c
  sfcgalop/operations.c
  sfcgalop/operations/operations.c
  sfcgalop/operations/operations.h
  sfcgalop/operations/operations_alphashapes.c
  sfcgalop/operations/operations_alphashapes.h
  sfcgalop/operations/operations_common.h
  sfcgalop/operations/operations_construction.c
  sfcgalop/operations/operations_construction.h
  sfcgalop/operations/operations_coordinate.c
  sfcgalop/operations/operations_coordinate.h
  sfcgalop/operations/operations_metrics.c
  sfcgalop/operations/operations_metrics.h
  sfcgalop/operations/operations_params.c
  sfcgalop/operations/operations_params.h
  sfcgalop/operations/operations_registry.c
  sfcgalop/operations/operations_registry.h
  sfcgalop/operations/operations_skeleton.c
  sfcgalop/operations/operations_skeleton.h
  sfcgalop/operations/operations_spatial_analysis.c
  sfcgalop/operations/operations_spatial_analysis.h
  sfcgalop/operations/operations_tesselation.c
  sfcgalop/operations/operations_tesselation.h
  sfcgalop/operations/operations_transformation.c
  sfcgalop/operations/operations_transformation.h
  sfcgalop/operations/operations_validity.c
  sfcgalop/operations/operations_validity.h
  sfcgalop/operations/operations_visibility.c
  sfcgalop/operations/operations_visibility.h
  sfcgalop/timeus.h
  sfcgalop/util.c
  sfcgalop/util.h
Due: build:debian-docker-image, build:windows-docker-image

chore(Dockerfile.windows): Add missing files to compile
  docker/Dockerfile.windows
Due: build:debian-docker-image, build:windows-docker-image

chore(Dockerfile.debian): Add missing files to compile
  docker/Dockerfile.debian
Due: build:debian-docker-image, build:windows-docker-image

tests(bin): Do not install tests bin
  test/regress/capi/CMakeLists.txt
  test/regress/convex_hull/CMakeLists.txt
  test/regress/polygon_triangulator/CMakeLists.txt
  test/regress/standalone/CMakeLists.txt
  test/unit/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

chore: add commitizen to the project
  .gitlab-ci.yml
  .gitlab/pipeline/commitizen.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  HOW_TO_RELEASE.md
Due: build:documentation, deploy:pages

Added square logo for SFCGAL
  graphics/logo_square.png
  graphics/logo_square.svg
Due: none

fix(intersection): handle multiple intersection points for segment-solid intersection
  src/algorithm/Intersection3D.cpp
  test/data/IntersectionTest.txt
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

style(Intersection3D): apply clang-tidy on the file
  src/algorithm/Intersection3D.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

wip: add STL file format
  src/io/STL.cpp
  src/io/STL.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

test(STL): Add unit test
  test/data/stlfiles/geometrycollection.stl
  test/data/stlfiles/geometrycollectionz.stl
  test/data/stlfiles/multipolygon.stl
  test/data/stlfiles/multipolygonz.stl
  test/data/stlfiles/multisolidz.stl
  test/data/stlfiles/polygon.stl
  test/data/stlfiles/polygonz.stl
  test/data/stlfiles/polyhedralsurface.stl
  test/data/stlfiles/polyhedralsurfacez.stl
  test/data/stlfiles/solidz.stl
  test/data/stlfiles/triangle.stl
  test/data/stlfiles/trianglez.stl
  test/data/stlfiles/triangulatedsurface.stl
  test/data/stlfiles/triangulatedsurfacez.stl
  test/unit/SFCGAL/io/STLTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

Revert "wip: add STL file format"
  src/io/STL.cpp
  src/io/STL.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

Revert "test(STL): Add unit test"
  test/data/stlfiles/geometrycollection.stl
  test/data/stlfiles/geometrycollectionz.stl
  test/data/stlfiles/multipolygon.stl
  test/data/stlfiles/multipolygonz.stl
  test/data/stlfiles/multisolidz.stl
  test/data/stlfiles/polygon.stl
  test/data/stlfiles/polygonz.stl
  test/data/stlfiles/polyhedralsurface.stl
  test/data/stlfiles/polyhedralsurfacez.stl
  test/data/stlfiles/solidz.stl
  test/data/stlfiles/triangle.stl
  test/data/stlfiles/trianglez.stl
  test/data/stlfiles/triangulatedsurface.stl
  test/data/stlfiles/triangulatedsurfacez.stl
  test/unit/SFCGAL/io/STLTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

chore(clang-tidy): Disable readability-magic-numbers check in test
  .gitlab/pipeline/clang-tidy.yml
  test/.clang-tidy
Due: none

chore(ci): Allow failure of the windows jobs
  .gitlab/pipeline/build-windows.yml
Due: none

chore(sfcgal_cTest): Remove unused includes
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

chore(sfcgal_cTest): Fix clang-tidy warnings
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

chore(clang-tidy): Ignore some default names in readability-identifier-length
  .clang-tidy
Due: test:clang-tidy

chore(sonar): Bump version number to 2.1.0
  sonar-project.properties
Due: none

chore(release): Specify that the sonar file needs to be updated
  HOW_TO_RELEASE.md
Due: none

chore(ci): Fix gitlab pages deploy job
  .gitlab/pipeline/documentation.yml
Due: none

fix(StraightSkeleton): remove roof bottom to make geometry valid
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

fix(ci): Ignore deleted files in doxygen check
  .gitlab/doxygen-check.sh
Due: none

feat(IO): add STL file format
  src/io/STL.cpp
  src/io/STL.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

feat(C-API): Add STL functions
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy
  build:documentation: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  deploy:pages: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
