Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

build:windows-docker-image:
  stage: build
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Start-Service -Name "docker"
  - docker login -u $env:CI_REGISTRY_USER -p $env:CI_REGISTRY_PASSWORD $env:CI_REGISTRY
  script:
  - (docker pull $env:CI_REGISTRY_IMAGE':'windows-latest) -or ($true)
  ...

test:clang-tidy:
  stage: lint
  image: xianpengshen/clang-tools:19
  variables:
    CC: /usr/bin/clang-19
    CXX: /usr/bin/clang++-19
  cache:
    policy: pull
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
    - build/
  before_script:
  - apt-get update -qq
  ...

doc:build:
  stage: doc
  image: ${PYTHON_DOCKER_IMAGE}
  needs: []
  before_script:
  - apt-get update -qq
  - apt-get install -y doxygen
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/website.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd website && mkdocs build --verbose
  artifacts:
  ...

pages:
  stage: doc
  needs:
  - job: doc:build
    artifacts: true
  variables:
    GIT_STRATEGY: none
  script:
  - mkdir -p public
  - cp -rf website/site/* public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes clang-format-19
  script:
  - 'clang-format-19 --dry-run --Werror $(find src/ test/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

doxygen-warnings:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes doxygen git
  script:
  - script/doxygen-check.sh
  artifacts:
    when: on_failure
    paths:
    - doxygen_warnings.log

style: src/detail/transform/ForceZ.cpp pet doxygen and clang-tidy
  src/detail/transform/ForceZ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/detail/graph/algorithm/orientation.h pet doxygen and clang-tidy
  src/detail/graph/algorithm/orientation.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/detail/triangulate/ConstraintDelaunayTriangulation.h pet doxygen and clang-tidy
  src/detail/triangulate/ConstraintDelaunayTriangulation.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/algorithm/tesselate.h pet doxygen and clang-tidy
  src/algorithm/tesselate.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/algorithm/union.h pet doxygen and clang-tidy
  src/algorithm/union.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/detail/algorithm/simplification.cpp pet doxygen and clang-tidy
  src/detail/algorithm/simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/detail/EnvelopeVisitor.h pet doxygen and clang-tidy
  src/detail/EnvelopeVisitor.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/triangulate/triangulate2DZ.h pet doxygen and clang-tidy
  src/triangulate/triangulate2DZ.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/algorithm/rotate.cpp pet doxygen and clang-tidy
  src/algorithm/rotate.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/primitive3d/Primitive.h pet doxygen and clang-tidy
  src/primitive3d/Primitive.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/detail/triangulate/markDomains.h pet doxygen and clang-tidy
  src/detail/triangulate/markDomains.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/detail/ForceValidityVisitor.cpp pet doxygen and clang-tidy
  src/detail/ForceValidityVisitor.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: test/unit/SFCGAL/PointTest.cpp pet doxygen and clang-tidy
  test/unit/SFCGAL/PointTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

style: src/detail/transform/AffineTransform3.h pet doxygen and clang-tidy
  src/detail/transform/AffineTransform3.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/algorithm/plane.h pet doxygen and clang-tidy
  src/algorithm/plane.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/detail/ComplexComparator.h pet doxygen and clang-tidy
  src/detail/ComplexComparator.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style: src/detail/generator/sierpinski.cpp pet doxygen and clang-tidy
  src/detail/generator/sierpinski.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(geometry): Hide private classes
  src/Geometry.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(curve): Properly inherit
  src/Curve.h
  src/Geometry.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test(polygon_triangulator): Replace boost/chrono by chrono from standard lib
  test/regress/polygon_triangulator/main.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

test(bench): Replace boost/timer by chrono from standard lib
  test/bench/Bench.h
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

test(convex_hull): Replace boost/chrono by chrono from standard lib
  test/regress/convex_hull/main.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

ci: Remove unused boost-chrono dependency
  ci/debian/before_install.sh
Due: none

build(cmakelists): Remove unused boost-timer dependency
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

build(cmakelists): Remove unused boost-chrono dependency
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

ci: Remove unused boost-timer dependency
  ci/debian/before_install.sh
  ci/opensuse/before_install.sh
Due: none

feat(polygonRepair): Add algorithm polygon repair
  src/MultiPolygon.cpp
  src/MultiPolygon.h
  src/algorithm/polygonRepair.cpp
  src/algorithm/polygonRepair.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/algorithm/PolygonRepair.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): Add polygonrepair
  sfcgalop/README.md
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(primitive3d)!: migrate sphere generation to icosahedron subdivision and modernize API
  sfcgalop/constructors.cpp
  sfcgalop/constructors.hpp
  sfcgalop/operations/operations.cpp
  src/algorithm/buffer3D.cpp
  src/primitive3d/Cylinder.cpp
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
  test/unit/SFCGAL/SphereTest.cpp
  test/unit/SFCGAL/algorithm/MinkowskiSum3DTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(MinkowskiSum3): Fix polyline usage
  sfcgalop/constructors.cpp
  sfcgalop/operations/operations.cpp
  src/algorithm/buffer3D.cpp
  src/algorithm/minkowskiSum3D.cpp
  src/primitive3d/Cylinder.cpp
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
  test/unit/SFCGAL/algorithm/MinkowskiSum3DTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

tests(MinkowskiSum3d): low sphere subdivision to speed up tests
  test/unit/SFCGAL/algorithm/MinkowskiSum3DTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

fix primitive
  src/primitive3d/Cylinder.h
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}
