Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore

fix(StraightSkeleton): Return POLYHEDRALSURFACE EMPTY if input geometry is empty
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

test(StraightSkeleton): Add tests for ExtrudeStraightSkeleton with an empty geometry
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(example): Use SPDX-License-Identifier everywhere
  example/CGAL-basic_manip/main.cpp
  example/CGAL-cartesian_kernel/main.cpp
  example/CGAL-point_generator/main.cpp
  example/CGAL-polygon_triangulation2/main.cpp
  example/CGAL-triangulation2/main.cpp
  example/SFCGAL-building/main.cpp
  example/SFCGAL-export-osg/main.cpp
  example/SFCGAL-offset/main.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

style(StraightSkeleton): Replace g by geom
  src/algorithm/straightSkeleton.cpp
  src/algorithm/straightSkeleton.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

docs(StraightSkeleton): Add missing parameters and format
  src/algorithm/straightSkeleton.cpp
  src/algorithm/straightSkeleton.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(straightSkeleton): Use trailing return type everywhere
  src/algorithm/straightSkeleton.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

build: Add an option to compile with thread sanitizer
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

ci: Add a job to test thread safety within tests
  .gitlab-ci.yml
  .gitlab/pipeline/thread-safety.yml
Due: doc:build, pages

test: TMP - DO NOT MERGE add a wrong thread safety test
  test/unit/SFCGAL/CylinderTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(src): Add missing copyright and licence header
  src/algorithm/buffer3D.cpp
  src/algorithm/scale.cpp
  src/algorithm/scale.h
  src/algorithm/simplification.cpp
  src/detail/algorithm/simplification.cpp
  src/io/OBJ.cpp
  src/io/vtk.cpp
  src/primitive3d/Cylinder.cpp
  src/primitive3d/Sphere.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(src): Use SPDX-License-Identifier everywhere
  src/algorithm/alphaShapes.h
  src/algorithm/alphaWrapping3D.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(clang-tidy): Ignore some default names in readability-identifier-length
  .clang-tidy
Due: test:clang-tidy

chore(clang-tidy): Ignore use-trailing-return-type warning in capi
  src/capi/.clang-tidy
Due: none

fix(capi): add missing @post annotations
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore: fix license years -2023, Oslandia => 2024, Oslandia
  src/algorithm/partition_2.h
  src/algorithm/visibility.cpp
  src/algorithm/visibility.h
  src/detail/io/WkbReader.cpp
  src/detail/io/WkbReader.h
  src/detail/io/WkbWriter.cpp
  src/detail/io/WkbWriter.h
  src/io/wkb.cpp
  src/io/wkb.h
  test/unit/SFCGAL/io/WkbWriterTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

test(msys): Use msys CI to test sfcgal-config
  .github/workflows/msys.yml
  test/unit/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

fix(CMake): Define CMAKE_INSTALL_FULL_LIBDIR if not defined before
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

test(sfcgal-config): use absolute path, so generate it with CMake
  test/unit/CMakeLists.txt
  test/unit/SFCGAL/testsfcgalconfig.cpp.in
Due: build:debian-docker-image, build:windows-docker-image

test(sfcgal-config): Add unit test to sfcgal-config --libs
  test/unit/SFCGAL/testsfcgalconfig.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix(Algorithm): Visibilty returns empty polygon if one input is empty
  src/algorithm/visibility.cpp
  test/unit/SFCGAL/algorithm/Visibility.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

fix(Simplification): Add validtiy check
  src/algorithm/simplification.cpp
  src/algorithm/simplification.h
  test/unit/SFCGAL/algorithm/Simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

test(Simplify): Fix invalid geometries
  src/algorithm/simplification.cpp
  test/unit/SFCGAL/algorithm/Simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore: Add a script to list and classify MR àla cz
  list_mr.sh
Due: none

chore(2.2.0): Prepare 2.2.0. Add NEWS
  NEWS
Due: none

chore: Remove unecessary HOW_TO_RELEASE.md file
  HOW_TO_RELEASE.md
  RELEASES.md
Due: none

chore(build): Post release version bump
  CMakeLists.txt
  sonar-project.properties
Due: build:debian-docker-image, build:windows-docker-image

chore(brew): Update SFCGAL version
  .gitlab/pipeline/build-macos.yml
Due: none

chore(ci): Also test CGAL version 6.1-beta1
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
Due: none

chore(ci): Remove outdated fedora 40 from testing
  .gitlab/pipeline/fedora.yml
Due: none

feat(MultiPolygon): Add converter to CGAL Multipolygon_with_holes_2
  src/MultiPolygon.cpp
  src/MultiPolygon.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format
