Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

build:windows-docker-image:
  stage: build
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Start-Service -Name "docker"
  - docker login -u $env:CI_REGISTRY_USER -p $env:CI_REGISTRY_PASSWORD $env:CI_REGISTRY
  script:
  - (docker pull $env:CI_REGISTRY_IMAGE':'windows-latest) -or ($true)
  ...

build:documentation:
  stage: build
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - apt-get update -qq
  - apt-get install -y doxygen
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/website.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd website && mkdocs build --verbose
  artifacts:
  ...

deploy:pages:
  stage: deploy
  needs:
  - job: build:documentation
    artifacts: true
  variables:
    GIT_STRATEGY: none
  script:
  - mkdir -p public
  - cp -rf website/site/* public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  image:
    name: kszonek/clang-format-15
    entrypoint:
    - ''
  script:
  - 'clang-format --dry-run --Werror $(find src/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

polyhedralsurface: Fix some docstrings
  src/PolyhedralSurface.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

capi: Mark sfcgal_geometry_collection_geometry_n() as deprecated
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

capi: Mark sfcgal_geometry_collection_num_geometries() as deprecated
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

capi: Add support for Geometry::GeometryN()
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

geometry: Add a Geometry::setGeometryN() method
  src/Geometry.cpp
  src/Geometry.h
  src/GeometryCollection.cpp
  src/GeometryCollection.h
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/GeometryCollectionTest.cpp
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(coordinate): Add support for dropZ
  src/Coordinate.cpp
  src/Coordinate.h
  test/unit/SFCGAL/CoordinateTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(geometry): Add support for dropZ
  src/Geometry.h
  src/GeometryCollection.cpp
  src/GeometryCollection.h
  src/LineString.cpp
  src/LineString.h
  src/Point.cpp
  src/Point.h
  src/Polygon.cpp
  src/Polygon.h
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
  src/Solid.cpp
  src/Solid.h
  src/Triangle.cpp
  src/Triangle.h
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
  test/unit/SFCGAL/GeometryCollectionTest.cpp
  test/unit/SFCGAL/LineStringTest.cpp
  test/unit/SFCGAL/MultiPointTest.cpp
  test/unit/SFCGAL/MultiPolygonTest.cpp
  test/unit/SFCGAL/MultiSolidTest.cpp
  test/unit/SFCGAL/PointTest.cpp
  test/unit/SFCGAL/PolygonTest.cpp
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
  test/unit/SFCGAL/SolidTest.cpp
  test/unit/SFCGAL/TriangleTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(capi): Add support for geometry_drop_z
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(geometry): Add support for dropM
  src/Geometry.h
  src/GeometryCollection.cpp
  src/GeometryCollection.h
  src/LineString.cpp
  src/LineString.h
  src/Point.cpp
  src/Point.h
  src/Polygon.cpp
  src/Polygon.h
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
  src/Solid.cpp
  src/Solid.h
  src/Triangle.cpp
  src/Triangle.h
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
  test/unit/SFCGAL/GeometryCollectionTest.cpp
  test/unit/SFCGAL/LineStringTest.cpp
  test/unit/SFCGAL/MultiLineStringTest.cpp
  test/unit/SFCGAL/MultiPointTest.cpp
  test/unit/SFCGAL/MultiPolygonTest.cpp
  test/unit/SFCGAL/PointTest.cpp
  test/unit/SFCGAL/PolygonTest.cpp
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
  test/unit/SFCGAL/TriangleTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(capi): Add support for geometry_drop_m
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(capi): Add sfcgal_geometry_dimension
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(capi): Improve sfcgal_geometry_covers documentation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

chore(capi): Explain sfcgal_geometry_buffer3d memory management
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(capi): Add support for sfcgal_geometry_type
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(Point): Add a new generic constructor
  src/Point.cpp
  src/Point.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(Geometry): add a method to return CoordinateType
  src/Geometry.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(capi): Make translate geom parameter const
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

chore(Simplification): move implementation to detail
  src/algorithm/simplification.cpp
  src/detail/algorithm/simplification.cpp
  src/detail/algorithm/simplification.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(Simplification): Add a wrapper around CGAL 2D simplification
  src/algorithm/simplification.cpp
  src/algorithm/simplification.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/algorithm/Simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

chore(Simplification): Add SPDX header
  src/algorithm/simplification.h
  src/detail/algorithm/simplification.h
  test/unit/SFCGAL/algorithm/Simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(capi): Add sfcgal_geometry_boundary
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(test): Fix typo in triangle test
  test/unit/SFCGAL/TriangleTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

feat(capi): Add support for geometry_swap_xy
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(geometry): Add support for swapXY
  src/Geometry.h
  src/GeometryCollection.cpp
  src/GeometryCollection.h
  src/LineString.cpp
  src/LineString.h
  src/Point.cpp
  src/Point.h
  src/Polygon.cpp
  src/Polygon.h
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
  src/Solid.cpp
  src/Solid.h
  src/Triangle.cpp
  src/Triangle.h
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
  test/unit/SFCGAL/GeometryCollectionTest.cpp
  test/unit/SFCGAL/LineStringTest.cpp
  test/unit/SFCGAL/MultiLineStringTest.cpp
  test/unit/SFCGAL/MultiPointTest.cpp
  test/unit/SFCGAL/MultiPolygonTest.cpp
  test/unit/SFCGAL/MultiSolidTest.cpp
  test/unit/SFCGAL/PointTest.cpp
  test/unit/SFCGAL/PolygonTest.cpp
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
  test/unit/SFCGAL/SolidTest.cpp
  test/unit/SFCGAL/TriangleTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(coordinate): Add support for swapXY
  src/Coordinate.cpp
  src/Coordinate.h
  test/unit/SFCGAL/CoordinateTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(test): Add a forceZ test for a point M
  test/unit/SFCGAL/algorithm/Force3DTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

feat(capi): Add sfcgal_geometry_force_z
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(algorithm): Add forceMeasured
  src/algorithm/forceMeasured.cpp
  src/algorithm/forceMeasured.h
  test/unit/SFCGAL/algorithm/ForceMeasuredTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(transform): Add forceM transform
  src/detail/transform/ForceM.h
  src/detail/transform/forceM.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(capi): Add sfcgal_geometry_force_m
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

chore(2.1.0): Init 2.1.0
  CMakeLists.txt
  NEWS
Due: build:debian-docker-image, build:windows-docker-image

feat(cmake config): add a modern CMake Find
  CMakeLists.txt
  SFCGALConfig.cmake.in
  SFCGALConfigVersion.cmake.in
Due: build:debian-docker-image, build:windows-docker-image

fix(solid): Add missing numGeometries override
  src/Solid.h
  test/unit/SFCGAL/SolidTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

test(Point): Add test for Generic XYZM constructor
  test/unit/SFCGAL/PointTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

chore(Simplification): move implementation to detail
  src/algorithm/simplification.cpp
  src/algorithm/simplification.h
  src/detail/algorithm/simplification.cpp
  src/detail/algorithm/simplification.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:documentation: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  deploy:pages: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
