Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, clang-format

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

clang-format:
  stage: lint
  image:
    name: kszonek/clang-format-15
    entrypoint:
    - ''
  script:
  - 'clang-format --dry-run --Werror $(find src/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

ci(Sonar): Temporary disable Sonar
  .gitlab-ci.yml
Due: build:debian-docker-image

feat(C API): add translate method
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: clang-format

fix(exportDll): Add missing SFCGAL_API for VTK and OBJ headers
  src/io/OBJ.h
  src/io/vtk.h
Due: clang-format

feat(Transform): Add rotate method
  src/algorithm/rotate.cpp
  src/algorithm/rotate.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
  test/unit/SFCGAL/transform/RotateTest.cpp
Due: clang-format

feat(Transform): Add scale method
  src/algorithm/scale.cpp
  src/algorithm/scale.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
  test/unit/SFCGAL/transform/ScaleTest.cpp
Due: clang-format

refactor scale(Geometry &g, double s);
  src/algorithm/scale.cpp
Due: clang-format

fix(clang18): Fix build for clang18, missing includes
  test/unit/SFCGAL/algorithm/UnionTest.cpp
Due: none

feat(VTK): rewrite VTK export like OBJ one
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  src/io/vtk.cpp
  src/io/vtk.h
  test/data/vtkfiles/geometrycollection.vtk
  test/data/vtkfiles/geometrycollectionz.vtk
  test/data/vtkfiles/linestring.vtk
  test/data/vtkfiles/linestringz.vtk
  test/data/vtkfiles/multilinestring.vtk
  test/data/vtkfiles/multilinestringz.vtk
  test/data/vtkfiles/multipoint.vtk
  test/data/vtkfiles/multipointz.vtk
  test/data/vtkfiles/multipolygon.vtk
  test/data/vtkfiles/multipolygonz.vtk
  test/data/vtkfiles/multisolid.vtk
  test/data/vtkfiles/multisolidz.vtk
  test/data/vtkfiles/point.vtk
  test/data/vtkfiles/pointz.vtk
  test/data/vtkfiles/polygon.vtk
  test/data/vtkfiles/polygonz.vtk
  test/data/vtkfiles/polyhedralsurface.vtk
  test/data/vtkfiles/polyhedralsurfacez.vtk
  test/data/vtkfiles/solidz.vtk
  test/data/vtkfiles/triangle.vtk
  test/data/vtkfiles/trianglez.vtk
  test/data/vtkfiles/triangulatedsurface.vtk
  test/data/vtkfiles/triangulatedsurfacez.vtk
  test/unit/SFCGAL/io/VTKTest.cpp
Due: clang-format

fix(exportDll): Add missing SFCGAL_API for OBJ headers
  src/io/OBJ.h
Due: clang-format

Add a Sphere (3D) Class
  src/Sphere.cpp
  src/Sphere.h
  test/unit/SFCGAL/SphereTest.cpp
Due: build:debian-docker-image, clang-format

Add a Cylinder (3D) Class
  src/Cylinder.cpp
  src/Cylinder.h
  test/unit/SFCGAL/CylinderTest.cpp
Due: build:debian-docker-image, clang-format

Add MinkowskiSum3D
  src/algorithm/minkowskiSum3D.cpp
  src/algorithm/minkowskiSum3D.h
  test/unit/SFCGAL/algorithm/MinkowskiSum3DTest.cpp
Due: clang-format

feat(StraightSkeleton): Add partitioning algorithm using Straight Skeleton
  src/algorithm/straightSkeleton.cpp
  src/algorithm/straightSkeleton.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

Sphere: add a direction variable to allow orientation of points of the polyhedron
  src/Sphere.cpp
  src/Sphere.h
Due: build:debian-docker-image, clang-format

feat(normalizeVector): move normalizeVector to numeric header. Since it's an utility function
  src/Sphere.cpp
  src/Sphere.h
  src/numeric.h
Due: build:debian-docker-image, clang-format

Add Buffer3D Algorithm
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
  src/algorithm/buffer3D.cpp
  src/algorithm/buffer3D.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/data/bufferfiles/linestring_CYLSPHERE_buffer_3d.obj
  test/data/bufferfiles/linestring_FLAT_buffer_3d.obj
  test/data/bufferfiles/linestring_ROUND_buffer_3d.obj
  test/data/bufferfiles/point_CYLSPHERE_buffer_3d.obj
  test/data/bufferfiles/point_FLAT_buffer_3d.obj
  test/data/bufferfiles/point_ROUND_buffer_3d.obj
  test/unit/SFCGAL/algorithm/Buffer3DTest.cpp
Due: build:debian-docker-image, clang-format

feat(vcpkg): add .runsettings for VisualStudio
  .runsettings
Due: none

fix(windows): Add missing SFCGAL_API
  src/algorithm/buffer3D.h
Due: clang-format

fix(windows): Use const number instead of a variable number
  test/unit/SFCGAL/io/VTKTest.cpp
Due: none

fix(windows): M_PI is not standard, use _USE_MATH_DEFINES for windows
  CMakeLists.txt
Due: none

fix(windows): Fix template constructor for PolyhedralSurface
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
Due: build:debian-docker-image, clang-format

wip
  src/Polygon.h
  src/Solid.h
  src/algorithm/compare.cpp
  src/algorithm/compare.h
  src/algorithm/lexicographicOrder.cpp
  src/algorithm/lexicographicOrder.h
  test/unit/SFCGAL/algorithm/CompareTest.cpp
  test/unit/SFCGAL/transform/LexicographicOrderTest.cpp
Due: build:debian-docker-image, clang-format

fix(MinkowskiSum3DTest): Use covers
  test/unit/SFCGAL/algorithm/MinkowskiSum3DTest.cpp
Due: none

fix(cTest): fix a flaky test using covers instead of wkt
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: none

ci: Always run 'build:debian-docker-image' job
  .gitlab/pipeline/build-debian-docker.yml
Due: build:debian-docker-image

fix(sfcgal_capi): ensure null termination in geometry_as_text functions
  src/capi/sfcgal_c.cpp
Due: clang-format

ci: Add 'sonarcloud' prefix to get-sonar-binaries job
  .gitlab/pipeline/sonar.yml
Due: build:debian-docker-image

DO NOT MERGE: test ci
  src/Envelope.cpp
Due: build:debian-docker-image, clang-format

DO NOT MERGE: test 2
  src/algorithm/BoundaryVisitor.cpp
Due: clang-format

ci: Factor out build step from sonar
  .gitlab-ci.yml
  .gitlab/pipeline/build-debian-stable.yml
  .gitlab/pipeline/sonar.yml
Due: build:debian-docker-image

ci: Add an initial clang-tidy job to the post stage
  .gitlab-ci.yml
  .gitlab/pipeline/clang-tidy.yml
Due: build:debian-docker-image

ci: Add CMAKE_EXPORT_COMPILE_COMMANDS option to build debian
  .gitlab/pipeline/build-debian-stable.yml
Due: build:debian-docker-image

Path conditions:
  build:debian-docker-image: any of: src/*, docker/Dockerfile.debian, docker/entrypoint.sh, .gitlab-ci.yml, .gitlab/**/*.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
