Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

build:windows-docker-image:
  stage: build
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Start-Service -Name "docker"
  - docker login -u $env:CI_REGISTRY_USER -p $env:CI_REGISTRY_PASSWORD $env:CI_REGISTRY
  script:
  - (docker pull $env:CI_REGISTRY_IMAGE':'windows-latest) -or ($true)
  ...

build:documentation:
  stage: build
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - apt-get update -qq
  - apt-get install -y doxygen
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/website.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd website && mkdocs build --verbose
  artifacts:
  ...

deploy:pages:
  stage: deploy
  needs:
  - job: build:documentation
    artifacts: true
  variables:
    GIT_STRATEGY: none
  script:
  - mkdir -p public
  - cp -rf website/site/* public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes clang-format-19
  script:
  - 'clang-format-19 --dry-run --Werror $(find src/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

fix(StraightSkeletonPartition): Return PolyhedralSurface instead of MultiPolygon
  src/algorithm/straightSkeleton.cpp
  src/algorithm/straightSkeleton.h
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(capi): make const the "geom" param of sfcgal_geometry_simplify
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(Partition): Enforce ring order and apply NoValidityCheck
  src/algorithm/partition_2.cpp
  src/algorithm/partition_2.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

tests(Partition): Fix tests and results
  test/unit/SFCGAL/algorithm/Partition_2.cpp
Due: build:debian-docker-image, build:windows-docker-image

point: fix constructor to avoid Kernel::FT creation when z is NaN
  src/Point.cpp
  src/Point.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

test(distance): Add a test between disjoint solid and polygon
  test/unit/SFCGAL/algorithm/DistanceTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

refactor(polyhedralsurface): Add a patch logic
  src/Envelope.cpp
  src/GeometryVisitor.cpp
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
  src/Transform.cpp
  src/algorithm/area.cpp
  src/algorithm/buffer3D.cpp
  src/algorithm/connection.cpp
  src/algorithm/convexHull.cpp
  src/algorithm/extrude.cpp
  src/algorithm/intersects.cpp
  src/algorithm/isSimple.cpp
  src/algorithm/isValid.cpp
  src/algorithm/minkowskiSum3D.cpp
  src/algorithm/straightSkeleton.cpp
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  src/detail/EnvelopeVisitor.cpp
  src/detail/ForceValidityVisitor.cpp
  src/detail/GeometrySet.cpp
  src/detail/GetPointsVisitor.cpp
  src/detail/SegmentStore.h
  src/detail/algorithm/simplification.cpp
  src/detail/graph/GeometryGraphBuilder.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktWriter.cpp
  src/detail/transform/AffineTransform3.cpp
  src/io/OBJ.cpp
  src/io/vtk.cpp
  src/triangulate/triangulatePolygon.cpp
  test/regress/standalone/SFCGAL/IntersectsTest.cpp
  test/unit/SFCGAL/algorithm/ConvexHullTest.cpp
  test/unit/SFCGAL/algorithm/ExtrudeTest.cpp
  test/unit/SFCGAL/algorithm/OrientationTest.cpp
  test/unit/SFCGAL/transform/RotateTest.cpp
  test/unit/SFCGAL/transform/ScaleTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(distance3d): Do not treat PolyhedralSurface as a collection
  src/algorithm/distance3d.cpp
  src/algorithm/distance3d.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(wkbwriter): Use patch getters for PolyhedralSurface
  src/detail/io/WkbWriter.cpp
  src/detail/io/WkbWriter.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(straightPolygon): Use patch getters for PolyhedralSurface
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(polyhedralsurface): Treat PolyhedralSurface as one geometry
  src/Geometry.h
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(capi): Add sfcgal_polyhedral_surface_set_patch_n
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(polyhedralsurface): Rename setGeometryN to setPatchN
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
  src/capi/sfcgal_c.cpp
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

refactor(triangulatedsurface): Add a patch logic
  src/GeometryVisitor.cpp
  src/PolyhedralSurface.cpp
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
  src/algorithm/ConsistentOrientationBuilder.cpp
  src/algorithm/area.cpp
  src/algorithm/connection.cpp
  src/algorithm/intersects.cpp
  src/algorithm/isValid.cpp
  src/algorithm/volume.cpp
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  src/detail/GeometrySet.cpp
  src/detail/io/WkbReader.cpp
  src/detail/io/WktReader.cpp
  src/detail/triangulate/ConstraintDelaunayTriangulation.cpp
  src/detail/triangulate/triangulateInGeometrySet.cpp
  src/io/OBJ.cpp
  src/io/vtk.cpp
  src/triangulate/triangulatePolygon.cpp
  test/regress/standalone/SFCGAL/ConstraintDelaunayTriangulationTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
  test/unit/SFCGAL/algorithm/OrientationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(distance3d): Do not treat TriangulatedSurface as a collection
  src/algorithm/distance3d.cpp
  src/algorithm/distance3d.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(wkbwriter): Use patch getters for TriangulatedSurface
  src/detail/io/WkbWriter.cpp
  src/detail/io/WkbWriter.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(extrude): Use patch getters for TriangulatedSurface
  src/algorithm/extrude.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(getpointsvisitor): Use patch getters for TriangulatedSurface
  src/detail/GetPointsVisitor.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(envelopevisitor): Use patch getters for TriangulatedSurface
  src/detail/EnvelopeVisitor.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(geometrygraphbuilder): Use patch getters for TriangulatedSurface
  src/detail/graph/GeometryGraphBuilder.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(wktwriter): Use patch getters for TriangulatedSurface
  src/detail/io/WktWriter.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(affinetransform3): Use patch getters for TriangulatedSurface
  src/detail/transform/AffineTransform3.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(osgfactory): Use patch getters for TriangulatedSurface
  src/detail/io/OsgFactory.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(area3d): Use patch getters for TriangulatedSurface
  src/algorithm/area.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(consistentorientationbuilder): Use patch getters for TriangulatedSurface
  src/algorithm/ConsistentOrientationBuilder.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(forcevalidityvisitor): Use patch getters for TriangulatedSurface
  src/detail/ForceValidityVisitor.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(transform): Use patch getters for TriangulatedSurface
  src/Transform.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(triangulatedsurface): Treat TriangulatedSurface as one geometry
  src/Geometry.h
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
  src/capi/sfcgal_c.h
  test/regress/standalone/SFCGAL/TriangulatePolygonTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
  test/unit/SFCGAL/algorithm/ConsistentOrientationBuilderTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
  test/unit/SFCGAL/io/WktReaderTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(capi): Add sfcgal_triangulated_surface_set_patch_n
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(triangulatedsurface): Rename setGeometryN to setPatchN
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
  src/capi/sfcgal_c.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

feat(capi): Add sfcgal_geometry_collection_set_geometry_n
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(capi): Remove sfcgal_geometry_{get/set}_geometry_n
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

ci: Add an initial clang-tidy job
  .gitlab-ci.yml
  .gitlab/pipeline/clang-tidy.yml
  .gitlab/pipeline/sonar.yml
Due: build:documentation, deploy:pages

fix(ci): Add test_config file to build artifacts
  .gitlab/pipeline/sonar.yml
Due: none

fix(triangulatedsurface): Use correct plural form for patch
  src/PolyhedralSurface.cpp
  src/Transform.cpp
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
  src/algorithm/ConsistentOrientationBuilder.cpp
  src/algorithm/area.cpp
  src/algorithm/connection.cpp
  src/algorithm/distance3d.cpp
  src/algorithm/extrude.cpp
  src/algorithm/intersects.cpp
  src/algorithm/isValid.cpp
  src/algorithm/volume.cpp
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  src/detail/EnvelopeVisitor.cpp
  src/detail/ForceValidityVisitor.cpp
  src/detail/GeometrySet.cpp
  src/detail/GetPointsVisitor.cpp
  src/detail/graph/GeometryGraphBuilder.h
  src/detail/io/WkbWriter.cpp
  src/detail/io/WktWriter.cpp
  src/detail/transform/AffineTransform3.cpp
  src/detail/triangulate/ConstraintDelaunayTriangulation.cpp
  src/detail/triangulate/triangulateInGeometrySet.cpp
  src/io/OBJ.cpp
  src/io/vtk.cpp
  test/regress/standalone/SFCGAL/ConstraintDelaunayTriangulationTest.cpp
  test/regress/standalone/SFCGAL/TriangulatePolygonTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
  test/unit/SFCGAL/algorithm/ConsistentOrientationBuilderTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
  test/unit/SFCGAL/io/WktReaderTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(polyhedralsurface): Use correct plural form for patch
  src/GeometryVisitor.cpp
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
  src/Transform.cpp
  src/TriangulatedSurface.h
  src/algorithm/area.cpp
  src/algorithm/connection.cpp
  src/algorithm/distance3d.cpp
  src/algorithm/extrude.cpp
  src/algorithm/intersects.cpp
  src/algorithm/isSimple.cpp
  src/algorithm/isValid.cpp
  src/algorithm/minkowskiSum3D.cpp
  src/algorithm/straightSkeleton.cpp
  src/algorithm/volume.cpp
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  src/detail/EnvelopeVisitor.cpp
  src/detail/ForceValidityVisitor.cpp
  src/detail/GeometrySet.cpp
  src/detail/GetPointsVisitor.cpp
  src/detail/SegmentStore.h
  src/detail/algorithm/simplification.cpp
  src/detail/graph/GeometryGraphBuilder.h
  src/detail/io/OsgFactory.cpp
  src/detail/io/WkbWriter.cpp
  src/detail/io/WktWriter.cpp
  src/detail/transform/AffineTransform3.cpp
  src/io/OBJ.cpp
  src/io/vtk.cpp
  src/triangulate/triangulatePolygon.cpp
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
  test/unit/SFCGAL/algorithm/ConvexHullTest.cpp
  test/unit/SFCGAL/algorithm/ExtrudeTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(capi): Fix sfcgal_geometry_alpha_wrapping_3d documentation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(ci): Upload clang-tidy artifact on failure
  .gitlab/pipeline/clang-tidy.yml
Due: none

feat(ci): Check doxygen warnings on modified files
  .gitlab/doxygen-check.sh
  .gitlab/pipeline/lint-code.yml
Due: none

fix(capi): Fix patches typo in documentation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:documentation: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  deploy:pages: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
