Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore

refactor(sphere): Remove spurious comments
  src/primitive3d/Sphere.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(sphere): Ensure that radius cannot be negative
  src/primitive3d/Sphere.cpp
  src/primitive3d/Sphere.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(cylinder): Ensure that radius and height cannot be negative
  src/primitive3d/Cylinder.cpp
  test/unit/SFCGAL/CylinderTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

wip
  src/BSplineCurve.cpp
  src/BSplineCurve.h
  src/BezierCurve.cpp
  src/BezierCurve.h
  src/CatmullRomCurve.cpp
  src/CatmullRomCurve.h
  src/Curve.cpp
  src/Curve.h
  src/Geometry.h
  src/GeometryVisitor.cpp
  src/GeometryVisitor.h
  src/HermiteCurve.cpp
  src/HermiteCurve.h
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  src/Transform.cpp
  src/Transform.h
  src/algorithm/BoundaryVisitor.cpp
  src/algorithm/BoundaryVisitor.h
  src/algorithm/isValid.cpp
  src/detail/EnvelopeVisitor.cpp
  src/detail/EnvelopeVisitor.h
  src/detail/ForceValidityVisitor.cpp
  src/detail/ForceValidityVisitor.h
  src/detail/GetPointsVisitor.cpp
  src/detail/GetPointsVisitor.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
  src/detail/io/WktWriter.cpp
  src/detail/io/WktWriter.h
  test/unit/SFCGAL/BezierCurveTest.cpp
  test/unit/SFCGAL/GeometryVisitorTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

chore(ci): Use a conservative version to build debian docker image
  docker/Dockerfile.debian
Due: build:debian-docker-image, build:windows-docker-image

refactor(test): Rename ApproximateMedialAxis test file
  test/unit/SFCGAL/algorithm/ApproximateMedialAxisTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

refactor(approximatemedialaxistest): Remove unused includes
  test/unit/SFCGAL/algorithm/ApproximateMedialAxisTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(primitive3d): Add cone primitive
  src/primitive3d/Cone.cpp
  src/primitive3d/Cone.h
  src/primitive3d/Primitive.h
  test/unit/SFCGAL/ConeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(capi): Add support for cone
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(primitive3d): add cube
  src/primitive3d/Cube.cpp
  src/primitive3d/Cube.h
  src/primitive3d/Primitive.h
  test/unit/SFCGAL/CubeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(capi): Add support for box
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(capi): Add support for cube
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat(primitive3d): add box
  src/primitive3d/Box.cpp
  src/primitive3d/Box.h
  src/primitive3d/Primitive.h
  test/unit/SFCGAL/BoxTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

BSPLINE
  src/BSplineCurve.cpp
  src/BSplineCurve.h
  src/Geometry.h
  src/GeometryVisitor.cpp
  src/GeometryVisitor.h
  src/Transform.cpp
  src/Transform.h
  src/algorithm/BoundaryVisitor.cpp
  src/algorithm/BoundaryVisitor.h
  src/algorithm/isValid.cpp
  src/detail/EnvelopeVisitor.cpp
  src/detail/EnvelopeVisitor.h
  src/detail/ForceValidityVisitor.cpp
  src/detail/ForceValidityVisitor.h
  src/detail/GetPointsVisitor.cpp
  src/detail/GetPointsVisitor.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
  src/detail/io/WktWriter.cpp
  src/detail/io/WktWriter.h
  test/unit/SFCGAL/BSplineCurveTest.cpp
  test/unit/SFCGAL/GeometryVisitorTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

wip
  src/BSplineCurve.cpp
  src/BSplineCurve.h
  src/BezierCurve.cpp
  src/BezierCurve.h
  src/CatmullRomCurve.cpp
  src/CatmullRomCurve.h
  src/Curve.cpp
  src/Curve.h
  src/Geometry.h
  src/GeometryVisitor.cpp
  src/GeometryVisitor.h
  src/HermiteCurve.cpp
  src/HermiteCurve.h
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  src/Transform.cpp
  src/Transform.h
  src/algorithm/BoundaryVisitor.cpp
  src/algorithm/BoundaryVisitor.h
  src/algorithm/isValid.cpp
  src/detail/EnvelopeVisitor.cpp
  src/detail/EnvelopeVisitor.h
  src/detail/ForceValidityVisitor.cpp
  src/detail/ForceValidityVisitor.h
  src/detail/GetPointsVisitor.cpp
  src/detail/GetPointsVisitor.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
  src/detail/io/WktWriter.cpp
  src/detail/io/WktWriter.h
  src/io/STL.h
  test/unit/SFCGAL/BezierCurveTest.cpp
  test/unit/SFCGAL/GeometryVisitorTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

style(algorithm): remove const qualifier from return types in isValid functions
  src/algorithm/isValid.cpp
  src/algorithm/isValid.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

feat: Add parametric curve support with BezierCurve implementation
  src/BezierCurve.cpp
  src/BezierCurve.h
  src/Curve.cpp
  src/Curve.h
  src/Geometry.h
  src/GeometryVisitor.cpp
  src/GeometryVisitor.h
  src/Transform.cpp
  src/Transform.h
  src/algorithm/BoundaryVisitor.cpp
  src/algorithm/BoundaryVisitor.h
  src/algorithm/isValid.cpp
  src/detail/EnvelopeVisitor.cpp
  src/detail/EnvelopeVisitor.h
  src/detail/ForceValidityVisitor.cpp
  src/detail/ForceValidityVisitor.h
  src/detail/GetPointsVisitor.cpp
  src/detail/GetPointsVisitor.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
  src/detail/io/WktWriter.cpp
  src/detail/io/WktWriter.h
  test/unit/SFCGAL/BezierCurveTest.cpp
  test/unit/SFCGAL/GeometryVisitorTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

ci(clang-tidy): Rewrite clang-tidy stage without depending sonar
  .gitlab/pipeline/clang-tidy.yml
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

ci(clang-tidy): test
  .gitlab/pipeline/clang-tidy.yml
Due: none

ci: test
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

ci(clang-tidy): rewrite clang-tidy stage without depending on sonar
  .gitlab/pipeline/clang-tidy.yml
Due: none

build(cmake): copy headers to build directory for clang-tidy
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

style(algorithm): fix clang-tidy warnings in isValid functions
  src/algorithm/isValid.cpp
  src/algorithm/isValid.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

NURBS
  src/Geometry.h
  src/GeometryVisitor.cpp
  src/GeometryVisitor.h
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  src/Transform.cpp
  src/Transform.h
  src/algorithm/BoundaryVisitor.cpp
  src/algorithm/BoundaryVisitor.h
  src/algorithm/isValid.cpp
  src/detail/EnvelopeVisitor.cpp
  src/detail/EnvelopeVisitor.h
  src/detail/ForceValidityVisitor.cpp
  src/detail/ForceValidityVisitor.h
  src/detail/GetPointsVisitor.cpp
  src/detail/GetPointsVisitor.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
  src/detail/io/WktWriter.cpp
  src/detail/io/WktWriter.h
  test/unit/SFCGAL/GeometryVisitorTest.cpp
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

ci(macos): cmake is already installed in latest image
  .github/workflows/ci.yml
Due: none

fix(conetest): Add a tolerance on polyhedral test for macosci
  test/unit/SFCGAL/ConeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(capi): Fix doxygen error for sfcgal_io_write_binary_prepared
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

refactor(sfcgal): Mark obsolete sfcgal_set_geometry_validation as deprecated
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

test: Check that Primitive::generatePolyhedralSurface outptut is valid
  test/unit/SFCGAL/BoxTest.cpp
  test/unit/SFCGAL/ConeTest.cpp
  test/unit/SFCGAL/CubeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(doc/capi): Fix internal references
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

wip
  src/Curve.cpp
  src/Curve.h
  src/Geometry.h
  src/GeometryVisitor.cpp
  src/GeometryVisitor.h
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  src/Transform.cpp
  src/Transform.h
  src/algorithm/BoundaryVisitor.cpp
  src/algorithm/BoundaryVisitor.h
  src/algorithm/isValid.cpp
  src/detail/EnvelopeVisitor.cpp
  src/detail/EnvelopeVisitor.h
  src/detail/ForceValidityVisitor.cpp
  src/detail/ForceValidityVisitor.h
  src/detail/GetPointsVisitor.cpp
  src/detail/GetPointsVisitor.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
  src/detail/io/WktWriter.cpp
  src/detail/io/WktWriter.h
  src/io/STL.h
  test/unit/SFCGAL/GeometryVisitorTest.cpp
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

enhanced
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  test/unit/SFCGAL/NURBSCurveIntegrationTest.cpp
  test/unit/SFCGAL/NURBSCurveManipulationTest.cpp
  test/unit/SFCGAL/NURBSCurveMathTest.cpp
  test/unit/SFCGAL/NURBSCurveWKTTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

enhanced v2
  src/Curve.cpp
  src/Curve.h
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  test/unit/SFCGAL/NURBSCurveIntegrationTest.cpp
  test/unit/SFCGAL/NURBSCurveManipulationTest.cpp
  test/unit/SFCGAL/NURBSCurveMathTest.cpp
  test/unit/SFCGAL/NURBSCurveWKTTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

enhanced v3
  src/NURBSCurve.cpp
  src/NURBSCurve.h
  test/unit/SFCGAL/NURBSCurveEndConditionTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

test clang-tidy
  .gitlab/pipeline/clang-tidy.yml
Due: none

test clang-tidy
  src/NURBSCurve.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format

wip
  src/algorithm/area.cpp
  src/algorithm/centroid.cpp
  src/algorithm/centroid.h
  src/algorithm/distance.cpp
  src/algorithm/distance3d.cpp
  src/algorithm/extrude.cpp
  src/algorithm/length.cpp
  src/algorithm/minkowskiSum.cpp
  src/algorithm/offset.cpp
  src/algorithm/tesselate.cpp
  src/algorithm/volume.cpp
  src/detail/GeometrySet.cpp
  test/unit/SFCGAL/NURBSCurveAlgorithmIntegrationTest.cpp
  test/unit/SFCGAL/NURBSCurveEndConditionTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format
