Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}

test(surfaceSimplification): rewrite tests with new policies
  src/algorithm/surfaceSimplification.cpp
  src/algorithm/surfaceSimplification.h
  test/unit/SFCGAL/algorithm/SurfaceSimplificationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(algorithm): Add Surface Mesh Simplification with Epick and Eigen
  src/algorithm/surfaceSimplification.cpp
  src/algorithm/surfaceSimplification.h
  test/unit/SFCGAL/algorithm/SurfaceSimplificationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

tests(bunny): Add standford bunny obj
  test/data/bunny.obj
Due: none

feat(sfcgalop): Add surfaceSimplification support
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

style(PolyhedralSurface): pet clang-tidy
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(TriangulatedSurface): add toSurfaceMesh converter to CGAL Surface_Mesh
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(version): Add SFCGAL_CGAL_VERSION_* ot avoid incliding CGAL/version.h in sfcgal CAPI
  CMakeLists.txt
  src/version.h.cmake
Due: build:debian-docker-image, build:windows-docker-image

build(polygonRepair): polygonRepair is only available with CGAL >= 6.0
  CMakeLists.txt
  sfcgalop/main.cpp
  sfcgalop/operations/operations.cpp
  src/CMakeLists.txt
  src/MultiPolygon.cpp
  src/MultiPolygon.h
  src/algorithm/polygonRepair.cpp
  src/algorithm/polygonRepair.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  src/config.h.cmake
  test/regress/standalone/SFCGAL/StraightSkeletonTest.cpp
  test/unit/SFCGAL/algorithm/PolygonRepair.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): Add OBJ io
  sfcgalop/io.cpp
  sfcgalop/io.hpp
  sfcgalop/main.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

test(OBJTest): Add debug part if test failed in test_all_geometries
  test/unit/SFCGAL/io/OBJTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

ci(clang-tidy): Allow dx,dy,dz,it
  .clang-tidy
Due: test:clang-tidy

feat(OBJ): Add reader support
  src/io/OBJ.cpp
  src/io/OBJ.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test(OBJ): correct tests without duplicated vertices
  test/data/objfiles/multisolid.obj
  test/data/objfiles/multisolidz.obj
  test/data/objfiles/polyhedralsurface.obj
  test/data/objfiles/polyhedralsurfacez.obj
  test/data/objfiles/solid.obj
  test/data/objfiles/solidz.obj
  test/data/objfiles/triangulatedsurface.obj
  test/data/objfiles/triangulatedsurfacez.obj
  test/unit/SFCGAL/io/OBJTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

feat(PolyhedralSurface): add toSurfaceMesh converter to CGAL Surface_Mesh
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(TriangulatedSurface): pet clang-tidy
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(Solid): pet clang-tidy
  src/Solid.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(Solid): add toSurfaceMesh converter to CGAL Surface_Mesh
  src/Solid.cpp
  src/Solid.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(polygonRepair): replace SFCGAL_WITH_POLYGON_REPAIR by SFCGAL_CGAL_VERSION_MAJOR >= 6
  CMakeLists.txt
  sfcgalop/main.cpp
  sfcgalop/operations/operations.cpp
  src/CMakeLists.txt
  src/algorithm/polygonRepair.cpp
  src/algorithm/polygonRepair.h
  src/capi/sfcgal_c.cpp
  src/config.h.cmake
  test/unit/SFCGAL/algorithm/PolygonRepair.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(straightSkeleton): add project_medial_axis
  sfcgalop/operations/operations.cpp
  src/algorithm/straightSkeleton.cpp
  src/algorithm/straightSkeleton.h
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(version): pet clang-tidy
  src/version.cpp
  test/unit/SFCGAL/algorithm/PolygonRepair.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(version): separate CPP/C version to enable use of version.h in capi
  sfcgalop/main.cpp
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  src/version.cpp
  src/version.h.cmake
  src/version.hpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(version): remove CPP version and use only C one
  src/version.cpp
  src/version.hpp
  test/unit/SFCGAL/algorithm/PolygonRepair.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(OBJ): rename load functions for consistent API
  src/io/OBJ.cpp
  src/io/OBJ.h
  test/unit/SFCGAL/io/OBJTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(OBJ): add exception handling for stoul parsing
  src/io/OBJ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(OBJ): extract parseObjData and createGeometryFromObjData functions
  src/io/OBJ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(sfcgalop): update to use renamed OBJ load function
  sfcgalop/io.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

docs(OBJ): add doxygen documentation for ObjData members
  src/io/OBJ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(tests): fix clang-tidy warnings in OBJ tests
  test/unit/SFCGAL/io/OBJTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

style(OBJ): suppress cognitive complexity warnings for parsing functions
  src/io/OBJ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings
