Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}

fix(test): fix using namespace to avoid confusion between SFCGAL::algorithm and SFCGAL::detail::algorithm
  test/unit/SFCGAL/algorithm/CoversPointsTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

fix: try strict mode by default
  src/algorithm/equality.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix: improve geometry comparison
  src/Geometry.cpp
  src/Geometry.h
  src/algorithm/equality.cpp
  src/algorithm/equality.h
  test/unit/SFCGAL/GeometryTest.cpp
  test/unit/SFCGAL/algorithm/IntersectionTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(Geometry): fix clang-tidy issues
  src/Geometry.cpp
  src/Geometry.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(equality): add InternalPointInverted flag to compare linestrings even when inverted
  src/algorithm/equality.cpp
  src/algorithm/equality.h
  test/unit/SFCGAL/GeometryTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs: update doc for equality algorithm
  src/algorithm/equality.cpp
  src/algorithm/equality.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(equality): remove debug
  src/algorithm/equality.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(equality): cover check is exclusive with point checks
  src/algorithm/equality.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(equality): rename flags member field to _flags
  src/algorithm/equality.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(equality): add toString function to EqualityStrictness
  src/algorithm/equality.cpp
  src/algorithm/equality.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(equality): add standard WTK instead of exact
  test/unit/SFCGAL/GeometryTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

fix(equality): move EqualityStrictness::operator|() to cpp and add exclusion checks
  src/algorithm/equality.cpp
  src/algorithm/equality.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

ci(Cirrus): Add nlohmann-json
  .cirrus.yml
Due: none

ci(Cirrus): bump FreeBSD to 14.3
  .cirrus.yml
Due: none

ci(Cirrus): Use CGAL 6.1 for FreeBSD
  .cirrus.yml
Due: none

ci(BSD): Bump CGAL, FreeBSD, OpenBSD versions
  .github/workflows/ci.yml
Due: none

chore(StraightSkeleton): pet clang-tidy
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

feat(ProjectedMedialAxis): Add to C API
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fixup! feat(straightSkeleton): add project_medial_axis
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

feat(straightSkeleton): add project_medial_axis
  sfcgalop/operations/operations.cpp
  src/algorithm/straightSkeleton.cpp
  src/algorithm/straightSkeleton.h
  test/unit/SFCGAL/algorithm/StraightSkeletonTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(equality): fix signed/unsigned int, missing SFCGAL_API and copy constructor
  src/algorithm/equality.cpp
  src/algorithm/equality.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fixup! fix(equality): fix signed/unsigned int, missing SFCGAL_API and copy constructor
  src/algorithm/equality.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test(surfaceSimplification): rewrite tests with new policies
  src/algorithm/surfaceSimplification.cpp
  src/algorithm/surfaceSimplification.h
  test/unit/SFCGAL/algorithm/SurfaceSimplificationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): Add surfaceSimplification support
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(algorithm): Implement surface mesh simplification using CGAL edge collapse
  src/algorithm/surfaceSimplification.cpp
  src/algorithm/surfaceSimplification.h
  test/unit/SFCGAL/algorithm/SurfaceSimplificationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(algorithm): Add Surface Mesh Simplification with Epick and Eigen
  src/algorithm/surfaceSimplification.cpp
  src/algorithm/surfaceSimplification.h
  test/unit/SFCGAL/algorithm/SurfaceSimplificationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

build(eigen): Add SFCGAL_WITH_EIGEN to enable more policies for Surface Simplification
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

chore(OBJ): fix warnings about redundant move in return statement
  src/io/OBJ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): Add bool support
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

docs: add missing json dependency in installation.md
  website/docs/installation.md
Due: doc:build, pages

feat(extrude): Add extrude Until
  src/algorithm/extrude.cpp
  src/algorithm/extrude.h
  test/unit/SFCGAL/algorithm/ExtrudeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore: Update vcpkg baseline to have boost 1.89
  vcpkg.json
Due: none

feat(sfcgalop): add Roof Generations
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(sfcgalop): add Extrude Until
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages
