Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

build:windows-docker-image:
  stage: build
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Start-Service -Name "docker"
  - docker login -u $env:CI_REGISTRY_USER -p $env:CI_REGISTRY_PASSWORD $env:CI_REGISTRY
  script:
  - (docker pull $env:CI_REGISTRY_IMAGE':'windows-latest) -or ($true)
  ...

test:clang-tidy:
  stage: lint
  image: xianpengshen/clang-tools:19
  variables:
    CC: /usr/bin/clang-19
    CXX: /usr/bin/clang++-19
  cache:
    policy: pull
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
    - build/
  before_script:
  - apt-get update -qq
  ...

doc:build:
  stage: doc
  image: ${PYTHON_DOCKER_IMAGE}
  needs: []
  before_script:
  - apt-get update -qq
  - apt-get install -y doxygen
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/website.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd website && mkdocs build --verbose
  artifacts:
  ...

pages:
  stage: doc
  needs:
  - job: doc:build
    artifacts: true
  variables:
    GIT_STRATEGY: none
  script:
  - mkdir -p public
  - cp -rf website/site/* public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes clang-format-19
  script:
  - 'clang-format-19 --dry-run --Werror $(find src/ test/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

doxygen-warnings:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes doxygen git
  script:
  - script/doxygen-check.sh
  artifacts:
    when: on_failure
    paths:
    - doxygen_warnings.log

fix(roofGeneration): fix skillion roof validity with boundary edge triangulation
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(extrudeUntil): fix validity issues with orientation normalization and multi-loop boundary handling
  src/algorithm/extrude.cpp
  src/algorithm/extrude.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test(extrudeUntil): update expected WKT for gable roof overhang test
  test/unit/SFCGAL/algorithm/ExtrudeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

refactor(sfcgalop): simplify extrudeUntil to use new Geometry overload
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(capi): Add an api call to set the exterior ring of a polygon
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(extrude): use SurfaceUtils for boundary edge extraction
  src/algorithm/extrude.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): add tolerance parameter to is_valid operation
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(detail): add SurfaceUtils header for surface boundary operations
  src/detail/algorithm/SurfaceUtils.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(roofGeneration): fix skillion roof validity for non-convex polygons
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(sfcgalop): fix clang-tidy warnings in operations.cpp
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

style(extrude): rename parameter 'v' to 'vec'
  src/algorithm/extrude.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(orientation): rename variables 'pi/pj' to 'pointI/pointJ'
  src/algorithm/orientation.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(roofGeneration): fix clang-tidy warnings
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(union): add trailing return types to template declarations
  src/algorithm/union.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(FaceFilters): add trailing return type to lambda
  src/detail/algorithm/FaceFilters.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(SurfaceUtils): fix clang-tidy warnings
  src/detail/algorithm/SurfaceUtils.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(WkbReader): rename exception variable 'e' to 'err'
  src/detail/io/WkbReader.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(WkbReader.h): fix clang-tidy warnings
  src/detail/io/WkbReader.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(WkbWriter): add parentheses for explicit operation order
  src/detail/io/WkbWriter.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(numeric): fix clang-tidy warnings
  src/numeric.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(roofGeneration): fix clang-tidy warnings
  src/algorithm/roofGeneration.cpp
  src/algorithm/union.h
  src/detail/algorithm/SurfaceUtils.h
  src/detail/io/WkbReader.cpp
  test/unit/SFCGAL/io/WkbWriterTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(GeometrySet): pet doxygen
  src/detail/GeometrySet.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(clang-tidy): Modernize differencePrimitives.h
  src/algorithm/differencePrimitives.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(CMake): reintroduce if for CMake Policies, allow to build with CMake 3.30
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

chore(clang-tidy): Modernize GeometrySet.h
  src/detail/GeometrySet.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(CMake): update minimum version to 3.16 and add required policies
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

fix(differencePrimitives): remove unused nbHoles variable
  src/algorithm/differencePrimitives.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(differencePrimitives): add NOLINT for readability-function-cognitive-complexity
  src/algorithm/differencePrimitives.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(GeometrySet): add explicit copy assignment operator and fix doxygen
  src/detail/GeometrySet.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(sfcgalop): use parent Boost targets instead of FindBoost module
  sfcgalop/CMakeLists.txt
  sfcgalop/test/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

test(AreaTest): Improve area3D test coverage
  test/unit/SFCGAL/algorithm/AreaTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

feat(capi): Add an api call to close a linestring
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(linestring): Do not try to close a line if it is already closed
  src/LineString.h
  test/unit/SFCGAL/LineStringTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/STL): add recursion depth limit to prevent stack overflow (CWE-674)
  src/io/STL.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/VTK): add recursion depth limit to prevent stack overflow (CWE-674)
  src/io/vtk.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/Serialization): add size validation to prevent memory exhaustion (CWE-400)
  src/detail/io/Serialization.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/OBJ): add element count limits to prevent memory exhaustion (CWE-400)
  src/io/OBJ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io): add security protections to WKT/WKB readers (CWE-674)
  src/detail/io/WkbReader.cpp
  src/detail/io/WkbReader.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/WktReader): add null check before pointer dereference in readInnerGeometryCollection
  src/detail/io/WktReader.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(io/WkbReader,WkbWriter): propagate exceptions and fix empty triangle WKB format
  src/detail/io/WkbReader.cpp
  src/detail/io/WkbWriter.cpp
  test/data/WKB_expected.txt
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}
