Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, build:documentation, deploy:pages, clang-format

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

build:windows-docker-image:
  stage: build
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Start-Service -Name "docker"
  - docker login -u $env:CI_REGISTRY_USER -p $env:CI_REGISTRY_PASSWORD $env:CI_REGISTRY
  script:
  - (docker pull $env:CI_REGISTRY_IMAGE':'windows-latest) -or ($true)
  ...

test:clang-tidy:
  stage: plateform-build-test
  image: debian:stable
  variables:
    CXX: /usr/bin/clang++-19
  cache:
    policy: pull
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
    - build/
  needs:
  - sonar:build-test
  before_script:
  - apt update -qq
  ...

build:documentation:
  stage: build
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - apt-get update -qq
  - apt-get install -y doxygen
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/website.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd website && mkdocs build --verbose
  artifacts:
  ...

deploy:pages:
  stage: deploy
  needs:
  - job: build:documentation
    artifacts: true
  variables:
    GIT_STRATEGY: none
  script:
  - mkdir -p public
  - cp -rf website/site/* public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes clang-format-19
  script:
  - 'clang-format-19 --dry-run --Werror $(find src/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

fix(polyhedralsurface): Fix patches typo in documentation
  src/PolyhedralSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, build:documentation, deploy:pages, clang-format

fix(triangulatedsurface): Fix patches typo in documentation
  src/TriangulatedSurface.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, build:documentation, deploy:pages, clang-format

fix(capi): Add missing param to sfcgal_linestring_point_n documentation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

fix(capi): Add missing param to sfcgal_geometry_alpha_shapes documentation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

fix(capi): Add missing param to sfcgal_geometry_is_almost_equals documentation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

fix(capi): Add missing param to sfcgal_prepared_geometry_as_ewkt documentation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

fix(capi): Fix patches typo in documentation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

fix(polyhedralsurface): Fix wrong variable name
  src/PolyhedralSurface.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, build:documentation, deploy:pages, clang-format

chore(ci): Improve doxygen config file to avoid false positives
  .gitlab/doxygen-check.sh
Due: none

chore(BSD CI): Use Github actions
  .github/workflows/ci.yml
Due: none

chore(MR): Add template
  .gitlab/merge_request_templates/Default.md
Due: none

chore(OpenBSD): Bump to 7.7
  .github/workflows/ci.yml
Due: none

chore(OpenBSD): Downgrade to 7.6
  .github/workflows/ci.yml
Due: none

chore(OpenBSD): Bump to 7.7 and use master
  .github/workflows/ci.yml
Due: none

fix(alphaShapes): handle missing optimal alpha iterator properly
  src/algorithm/alphaShapes.cpp
  test/unit/SFCGAL/algorithm/AlphaShapesTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

chore(build): Disable inline on alpha wrapping with gcc 15
  src/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

chore: replace CI_COMMIT_REF_NAME var by %{source_branch} in MR template
  .gitlab/merge_request_templates/Default.md
Due: none

fix(centroid): Fix ignored attribute warning
  src/algorithm/centroid.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

fix(capi): Mark sfcgal_triangulated_surface_add_triangle as deprecated
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

chore(ci): Also test fedora 42
  .gitlab/pipeline/fedora.yml
Due: none

capi: force the value of CGAL error behaviour to THROW_EXCEPTION in sfcgal_init()
  src/capi/sfcgal_c.cpp
  test/regress/capi/main.c
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

chore(CMake): Rewrite SFCGALConfig.cmake.in using Targets and fix INTERFACE_LINK_LIBRARIES
  SFCGALConfig.cmake.in
  src/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

feat(cmake config): add a modern CMake Find
  CMakeLists.txt
  SFCGALConfig.cmake.in
  SFCGALConfigVersion.cmake.in
Due: build:debian-docker-image, build:windows-docker-image

chore(CMake): Fix Boost and CGAL imports
  CMakeLists.txt
  src/CMakeLists.txt
  test/regress/capi/CMakeLists.txt
  test/regress/convex_hull/CMakeLists.txt
  test/regress/polygon_triangulator/CMakeLists.txt
  test/regress/standalone/CMakeLists.txt
  test/unit/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

fix(Version): fix variables in version.h.cmake file
  src/version.h.cmake
Due: none

chore(CI): Add informations about all CIs
  CI-INTEGRATION.md
Due: none

tests(AlphaWrapping): Workaround for tests
  test/data/bunny1000AlphaWrapping20Wkt_cgal5.txt
  test/data/bunny1000AlphaWrapping20Wkt_cgal6.txt
  test/unit/SFCGAL/algorithm/AlphaWrapping3DTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

tests(Orientation): Add test case for PostGIS issue 3651
  test/data/postgis_crash_orientation_3651.wkt
  test/unit/SFCGAL/algorithm/OrientationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image

chore(2.1.0): Prepare 2.1.0. Add NEWS
  NEWS
Due: none

wip: use STL file format
  test/unit/SFCGAL/Elephant.cpp
  test/unit/SFCGAL/Grasshopper.cpp
Due: build:debian-docker-image, build:windows-docker-image

wip: elephant
  test/unit/SFCGAL/Elephant.cpp
Due: build:debian-docker-image, build:windows-docker-image

wip: add STL file format
  src/io/STL.cpp
  src/io/STL.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy
  build:documentation: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  deploy:pages: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
