Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}

feat(algorithm): add Roof Generations
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(sfcgalop): Flat/Hipped roof reuse generateRoof
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix(roof): simplify and fix roof generation "unwip"
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(sfcgalop): fix indentation and missing '}'
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix(ExtrudeTest): simplify and fix roof overhang test
  test/unit/SFCGAL/algorithm/ExtrudeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

fix(roof): remove double usage
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(roof): remove GEOMETRIC_TOLERANCE and rewrite distanceToLine2D
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(clang-tidy): pet clang-tidy
  sfcgalop/operations/operations.cpp
  src/algorithm/extrude.cpp
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(roof): move filter face to a dedicate file
  src/algorithm/detail/FaceFilters.h
  src/algorithm/roofGeneration.cpp
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(roof): fix switch statement for flat roof
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(sfcgalop): use only generateRoof method
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix(build): remove ambiguity
  src/algorithm/intersection.h
  src/algorithm/union.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(clangformat): pet clang-format
  sfcgalop/operations/operations.cpp
  src/algorithm/detail/FaceFilters.h
  src/algorithm/roofGeneration.cpp
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(roofGeneration): fix section and add missing documentation about RoofParameters.type
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(extrude): add a script to use extrude until with roof and overhang
  example/extrudeUntil.sh
Due: none

docs(roof): Add a script to generate several roofs as OBJ
  example/generate_roof_examples.sh
Due: none

chore(license): fix years
  src/algorithm/detail/FaceFilters.h
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(wkb): add support for Solid and MultiSolid with correct WKB codes 25/26
  src/Geometry.h
  src/detail/io/WkbReader.cpp
  src/detail/io/WkbReader.h
  src/detail/io/WkbWriter.cpp
  test/unit/SFCGAL/io/WkbWriterTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(README.md): add a DOI number for current version
  README.md
Due: none

docs(README.md): add a Bibtex entry
  README.md
  RELEASES.md
Due: none

fix(SegmentStore): interpolate Z/M from dimension-specific nearest segments
  src/detail/SegmentStore.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(split): Add split (Polygon / Line) algorithm with Z/M interpolation
  src/algorithm/split.cpp
  src/algorithm/split.h
  test/unit/SFCGAL/algorithm/SplitTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(split): Split for others geometries
  src/algorithm/split.cpp
  src/algorithm/split.h
  test/unit/SFCGAL/algorithm/SplitTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): add Split
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(FaceFilters): move to detail/algorithm instead of algorithm/detail
  src/algorithm/roofGeneration.cpp
  src/algorithm/straightSkeleton.cpp
  src/detail/algorithm/FaceFilters.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(CI-INTEGRATION): Remove trailing whitespaces
  CI-INTEGRATION.md
Due: none

chore(CI-INTEGRATION): Update information
  CI-INTEGRATION.md
Due: none

ci(macos): Use 2.3.0 version for homebrew
  .gitlab/pipeline/build-macos.yml
Due: none

ci(macos): Enable tests
  .gitlab/pipeline/build-macos.yml
Due: none

ci(github): Rename ci action to bsd
  .github/workflows/bsd.yml
  .gitlab/merge_request_templates/Default.md
  CI-INTEGRATION.md
Due: none

chore(cmakelists): Avoid warnings in header copy custom target
  src/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

chore(cmakelists): Ensure to create directories when copying header files
  src/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

chore(sfcgalop/cmakelists): Enable CMP0167 policy to avoid warning
  sfcgalop/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

wip chamfer
  sfcgalop/operations/operations.cpp
  src/algorithm/chamfer3D.cpp
  src/algorithm/chamfer3D.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/algorithm/Chamfer3DTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(StraightSkeleton): remove useless skeleton variable in findEdgeMidpointProjection
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings
