Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

build:windows-docker-image:
  stage: build
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Start-Service -Name "docker"
  - docker login -u $env:CI_REGISTRY_USER -p $env:CI_REGISTRY_PASSWORD $env:CI_REGISTRY
  script:
  - (docker pull $env:CI_REGISTRY_IMAGE':'windows-latest) -or ($true)
  ...

test:clang-tidy:
  stage: lint
  image: xianpengshen/clang-tools:19
  variables:
    CC: /usr/bin/clang-19
    CXX: /usr/bin/clang++-19
  cache:
    policy: pull
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
    - build/
  before_script:
  - apt-get update -qq
  ...

doc:build:
  stage: doc
  image: ${PYTHON_DOCKER_IMAGE}
  needs: []
  before_script:
  - apt-get update -qq
  - apt-get install -y doxygen
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/website.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd website && mkdocs build --verbose
  artifacts:
  ...

pages:
  stage: doc
  needs:
  - job: doc:build
    artifacts: true
  variables:
    GIT_STRATEGY: none
  script:
  - mkdir -p public
  - cp -rf website/site/* public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes clang-format-19
  script:
  - 'clang-format-19 --dry-run --Werror $(find src/ test/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

doxygen-warnings:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes doxygen git
  script:
  - script/doxygen-check.sh
  artifacts:
    when: on_failure
    paths:
    - doxygen_warnings.log

style(clang-tidy): allow 'to' as name
  .clang-tidy
Due: test:clang-tidy

docs(algorithm): Fix doxygen
  src/algorithm/area.cpp
  src/algorithm/centroid.cpp
  src/algorithm/distance.cpp
  src/algorithm/distance3d.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(NURBS): Add missing documentations
  src/GeometryVisitor.h
  src/Transform.cpp
  src/algorithm/BoundaryVisitor.h
  src/algorithm/area.cpp
  src/algorithm/area.h
  src/algorithm/centroid.cpp
  src/algorithm/centroid.h
  src/algorithm/distance.cpp
  src/algorithm/distance.h
  src/algorithm/distance3d.cpp
  src/algorithm/distance3d.h
  src/algorithm/extrude.cpp
  src/algorithm/isClosed.cpp
  src/algorithm/isSimple.cpp
  src/algorithm/isValid.cpp
  src/algorithm/length.cpp
  src/algorithm/minkowskiSum.cpp
  src/algorithm/tesselate.cpp
  src/algorithm/volume.cpp
  src/capi/sfcgal_c.h
  src/detail/ForceValidityVisitor.h
  src/detail/GeometrySet.cpp
  src/detail/GeometrySet.h
  src/detail/io/WktReader.h
  src/detail/io/WktWriter.h
  src/triangulate/triangulate2DZ.cpp
  test/unit/SFCGAL/GeometryVisitorTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(nurbs): pet clang-tidy
  src/capi/sfcgal_c.cpp
  src/detail/io/WkbReader.cpp
  src/detail/io/WktReader.h
  src/detail/io/WktWriter.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(algorithm): Fix doxygen
  src/algorithm/area.h
  src/algorithm/centroid.cpp
  src/algorithm/centroid.h
  src/algorithm/distance.h
  src/algorithm/distance3d.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(C-API): Fix if not defined MSVC
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(C-API): Add void for function without parameter
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(CLI): Welcome to sfcgalop
  CMakeLists.txt
  sfcgalop/CMakeLists.txt
  sfcgalop/README.md
  sfcgalop/error_handler.cpp
  sfcgalop/error_handler.hpp
  sfcgalop/examples.sh
  sfcgalop/getopt_win.cpp
  sfcgalop/getopt_win.hpp
  sfcgalop/io.cpp
  sfcgalop/io.hpp
  sfcgalop/main.cpp
  sfcgalop/operations/operations.cpp
  sfcgalop/operations/operations.hpp
  sfcgalop/test/CMakeLists.txt
  sfcgalop/test/README.md
  sfcgalop/test/test_minimal.cpp
  sfcgalop/text_ui.cpp
  sfcgalop/text_ui.hpp
  sfcgalop/timeus.hpp
  sfcgalop/util.cpp
  sfcgalop/util.hpp
  src/capi/sfcgal_c.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): add constructors 'make_xxx'
  sfcgalop/CMakeLists.txt
  sfcgalop/constructors.cpp
  sfcgalop/constructors.hpp
  sfcgalop/main.cpp
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

perf(Intersection3D): apply performance optimizations for Intersection3D
  src/algorithm/Intersection3D.cpp
  src/algorithm/differencePrimitives.h
  src/algorithm/intersection.h
  src/algorithm/union.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): add to_solid + DSL
  sfcgalop/constructors.cpp
  sfcgalop/constructors.hpp
  sfcgalop/examples/architectural_complex.py
  sfcgalop/examples/basic_geometries.py
  sfcgalop/examples/boolean_operations_demo.py
  sfcgalop/examples/complex_assembly.py
  sfcgalop/examples/mechanical_assembly.py
  sfcgalop/examples/mixed_geometries.py
  sfcgalop/examples/simple_sphere.py
  sfcgalop/examples/truncated_cone.py
  sfcgalop/operations/operations.cpp
  sfcgalop/sfcgal_dsl.py
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(SFCGALConfig.cmake.in): Remove trailing whitespaces
  SFCGALConfig.cmake.in
Due: none

build(SFCGALConfig): Set cmake policies to avoid warnings
  SFCGALConfig.cmake.in
Due: none

ci(doxygen): Ensure to always add the corresponding header files
  script/doxygen-check.sh
Due: none

feat(io): Enhance WkbReader error handling with exceptions
  src/detail/io/WkbReader.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(clang-tidy): allow 'a', 'b', 't' as name
  .clang-tidy
Due: test:clang-tidy

docs(NURBS): Add missing documentations
  src/GeometryVisitor.h
  src/Transform.cpp
  src/algorithm/BoundaryVisitor.h
  src/algorithm/area.cpp
  src/algorithm/area.h
  src/algorithm/centroid.cpp
  src/algorithm/centroid.h
  src/algorithm/distance.cpp
  src/algorithm/distance.h
  src/algorithm/distance3d.cpp
  src/algorithm/distance3d.h
  src/algorithm/extrude.cpp
  src/algorithm/isClosed.h
  src/algorithm/isSimple.cpp
  src/algorithm/isValid.cpp
  src/algorithm/length.cpp
  src/algorithm/minkowskiSum.cpp
  src/algorithm/tesselate.cpp
  src/capi/sfcgal_c.h
  src/detail/ForceValidityVisitor.h
  src/detail/GeometrySet.cpp
  src/detail/GeometrySet.h
  src/detail/io/WktReader.h
  src/detail/io/WktWriter.h
  src/triangulate/triangulate2DZ.cpp
  test/unit/SFCGAL/GeometryVisitorTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(algorithm): Fix doxygen
  src/algorithm/centroid.cpp
  src/algorithm/centroid.h
  src/algorithm/distance.h
  src/algorithm/distance3d.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(algorithm): Fix doxygen
  src/algorithm/distance.cpp
  src/algorithm/distance3d.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(capi): Replace C-style casts with static_cast in error macros
  src/capi/sfcgal_c.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(minkowskiSum): add mentions about NURBSCurve
  src/algorithm/minkowskiSum.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(capi): Fix incoherence between i/index
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(nurbs): add missing const declaration
  src/NURBSCurve.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(extrude): add mentions about NURBSCurve
  src/algorithm/extrude.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(nurbs): Explain difference between `createBSpline` and `fromBSpline`
  src/NURBSCurve.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(nurbscurve): add examples for bézier and bspline
  src/NURBSCurve.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(isClosed): fix NURBSCurve with only one control point
  src/algorithm/isClosed.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(capi): document how a nurbs_curve is deleted
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test(isClosed): Add NURBSCurve test
  test/unit/SFCGAL/algorithm/IsClosedTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

refactor(nurbs): Use toLineString method in algorithm, and documents it
  src/algorithm/centroid.cpp
  src/algorithm/centroid.h
  src/algorithm/distance.cpp
  src/algorithm/distance.h
  src/algorithm/distance3d.cpp
  src/algorithm/distance3d.h
  src/algorithm/extrude.cpp
  src/algorithm/extrude.h
  src/algorithm/isSimple.cpp
  src/algorithm/isSimple.h
  src/algorithm/length.cpp
  src/algorithm/length.h
  src/algorithm/minkowskiSum.cpp
  src/algorithm/minkowskiSum.h
  src/algorithm/offset.cpp
  src/algorithm/offset.h
  src/detail/GeometrySet.cpp
  src/triangulate/triangulate2DZ.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(algorithm/isvalid): Fix clang-tidy unused parameters warning
  src/algorithm/isValid.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(algorithm): Fix doxygen
  src/algorithm/extrude.cpp
  src/algorithm/extrude.h
  src/algorithm/isSimple.h
  src/algorithm/offset.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(nurbscurve): Fix clang-tidy unused parameters
  src/NURBSCurve.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

build(cgal): fix CGAL Lazy error using unsigned long
  src/NURBSCurve.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(NURBSCurveTest): pet clang-tidy
  test/unit/SFCGAL/NURBSCurveTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

chore(nurbscurve): Remove unused include
  src/NURBSCurve.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}
