Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, clang-format

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

clang-format:
  stage: lint
  image:
    name: kszonek/clang-format-15
    entrypoint:
    - ''
  script:
  - 'clang-format --dry-run --Werror $(find src/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

rewip
  src/algorithm/lexicographicOrder.cpp
  src/algorithm/lexicographicOrder.h
  test/unit/SFCGAL/transform/LexicographicOrderTest.cpp
Due: clang-format

test(mingw): disable a flaky test for MinkowskiSum3D
  test/unit/SFCGAL/algorithm/MinkowskiSum3DTest.cpp
Due: none

fix(ci): Improve Buffer3D tests resilience with Boost messages
  test/unit/SFCGAL/algorithm/Buffer3DTest.cpp
Due: none

ci(gitlab): reintroduce matrix tests for 5.x and 6.x
  .gitlab-ci.yml
  .gitlab/pipeline/build-debian-docker.yml
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
  .gitlab/pipeline/sonar.yml
Due: build:debian-docker-image

fix(windows): Fix warning C4505: Use inline for normalizeVector function
  src/numeric.h
Due: build:debian-docker-image, clang-format

[WIP]: Use inexact construction
  src/Coordinate.cpp
  src/Coordinate.h
  src/Kernel.h
  src/Point.cpp
  src/Point.h
  src/algorithm/difference.cpp
  src/algorithm/differencePrimitives.h
  src/algorithm/distance3d.cpp
  src/algorithm/extrude.cpp
  src/algorithm/extrude.h
  src/algorithm/intersection.cpp
  src/algorithm/offset.cpp
  src/algorithm/straightSkeleton.cpp
  src/algorithm/translate.cpp
  src/algorithm/translate.h
  src/detail/io/Serialization.h
  src/detail/io/WktReader.cpp
  src/detail/io/WktWriter.cpp
  src/numeric.h
  test/unit/SFCGAL/io/WktReaderTest.cpp
Due: build:debian-docker-image, clang-format

fix(overflow): Cast multiplication operands to size_t in Sphere::generateSpherePoints
  src/Sphere.cpp
Due: build:debian-docker-image, clang-format

fix(cmake): Update Boost part to avoid warnings and update minimal version
  CMakeLists.txt
Due: none

fix(WKT): normalize WKT Writer
  src/detail/io/WktWriter.cpp
Due: clang-format

docker: Fix C_INCLUDE_PATH variable in entrypoint
  docker/entrypoint.sh
Due: build:debian-docker-image

Added SFCGAL logo
  graphics/logo.pdf
  graphics/logo.png
  graphics/logo.svg
Due: none

chore: add build* and CGAL* dir to gitignore
  .gitignore
Due: none

chore: update CGAL-6.x to official 6.0
  .cirrus.yml
  .github/workflows/codeql.yml
  .gitlab-ci.yml
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
Due: build:debian-docker-image

chore: apply modernize* from clang-tidy, rewrite Exception class
  src/Cylinder.cpp
  src/Exception.cpp
  src/Exception.h
  src/Sphere.cpp
  src/algorithm/buffer3D.cpp
  src/algorithm/lineSubstring.cpp
  src/algorithm/minkowskiSum3D.cpp
  src/detail/transform/ForceZ.cpp
  src/detail/transform/ForceZOrderPoints.cpp
  src/io/OBJ.cpp
  src/io/vtk.cpp
  test/regress/standalone/SFCGAL/TriangulatePolygonTest.cpp
  test/unit/SFCGAL/algorithm/Buffer3DTest.cpp
  test/unit/SFCGAL/algorithm/Visibility.cpp
  test/unit/SFCGAL/io/OBJTest.cpp
  test/unit/SFCGAL/io/VTKTest.cpp
Due: build:debian-docker-image, clang-format

fix(clang-tidy): fix a type and bump exmaple
  .clang-tidy
  script/apply_clang_tidy.sh
Due: none

fix(Union): cast expresion to (void), avoiding warnings of expression result unused
  src/algorithm/union.cpp
Due: clang-format

fix(CoordinateTest): cast expresion to (void), avoiding warnings of expression result unused
  test/unit/SFCGAL/CoordinateTest.cpp
Due: none

Fix clang-tidy check: readability-named-parameter
  src/algorithm/minkowskiSum3D.cpp
Due: clang-format

Fix clang-tidy check: readability-make-member-function-const
  src/algorithm/buffer3D.cpp
Due: clang-format

Fix clang-tidy check: modernize-pass-by-value
  src/Exception.cpp
  src/Sphere.cpp
Due: build:debian-docker-image, clang-format

Fix clang-tidy check: performance-unnecessary-value-param
  src/Sphere.cpp
Due: build:debian-docker-image, clang-format

Fix clang-tidy check: bugprone-argument-comment
  src/Exception.cpp
  src/Sphere.cpp
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, clang-format

Fix clang-tidy check: modernize-use-trailing-return-type
  src/Exception.cpp
Due: build:debian-docker-image, clang-format

Fix clang-tidy check: performance-trivially-destructible
  src/Envelope.cpp
Due: build:debian-docker-image, clang-format

fix(clang-tidy): apply format
  src/Cylinder.cpp
  src/Envelope.cpp
  src/Exception.cpp
  src/Geometry.cpp
  src/Sphere.cpp
  src/algorithm/buffer3D.cpp
  src/algorithm/difference.cpp
  src/algorithm/intersection.cpp
  src/algorithm/minkowskiSum3D.cpp
  src/algorithm/straightSkeleton.cpp
  src/algorithm/union.cpp
  src/detail/GeometrySet.cpp
  src/detail/tools/Log.cpp
  src/io/wkt.h
  test/regress/convex_hull/main.cpp
  test/regress/polygon_triangulator/main.cpp
  test/unit/SFCGAL/algorithm/Buffer3DTest.cpp
  test/unit/SFCGAL/io/OBJTest.cpp
  test/unit/SFCGAL/io/VTKTest.cpp
Due: build:debian-docker-image, clang-format

Fix clang-tidy check: readability-implicit-bool-conversion
  src/capi/sfcgal_c.cpp
  src/io/OBJ.cpp
  src/io/vtk.cpp
Due: clang-format

Fix clang-tidy check: readability-isolate-declaration
  src/Cylinder.cpp
  src/algorithm/buffer3D.cpp
Due: build:debian-docker-image, clang-format

fix(clang-tidy): fix errors generated by clang-tidy
  src/Envelope.h
  src/Sphere.cpp
  src/io/wkt.h
Due: build:debian-docker-image, clang-format

Fix clang-tidy check: readability-redundant-inline-specifier
  src/algorithm/union.cpp
Due: clang-format

Fix clang-tidy check: performance-move-const-arg
  src/Cylinder.cpp
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, clang-format

Fix clang-tidy check: modernize-use-auto
  src/algorithm/visibility.cpp
Due: clang-format

Fix clang-tidy check: performance-inefficient-vector-operation
  src/algorithm/buffer3D.cpp
Due: clang-format

Fix clang-tidy check: performance-avoid-endl
  src/detail/GeometrySet.cpp
  src/detail/tools/Log.cpp
  test/regress/convex_hull/main.cpp
  test/regress/polygon_triangulator/main.cpp
  test/unit/SFCGAL/algorithm/Buffer3DTest.cpp
  test/unit/SFCGAL/algorithm/IntersectionTest.cpp
  test/unit/SFCGAL/io/OBJTest.cpp
  test/unit/SFCGAL/io/VTKTest.cpp
Due: clang-format

Fix clang-tidy check: modernize-use-nullptr
  src/detail/tools/Registry.cpp
  src/detail/triangulate/triangulateInGeometrySet.cpp
  test/unit/SFCGAL/KernelTest.cpp
  test/unit/SFCGAL/algorithm/AreaTest.cpp
  test/unit/SFCGAL/algorithm/Force3DTest.cpp
  test/unit/SFCGAL/algorithm/TranslateTest.cpp
Due: clang-format

Fix clang-tidy check: performance-noexcept-swap
  src/algorithm/union.cpp
Due: clang-format

Fix clang-tidy check: modernize-use-default-member-init
  src/Geometry.cpp
  src/Geometry.h
  src/detail/io/WktWriter.cpp
  src/detail/io/WktWriter.h
  src/detail/tools/Log.cpp
  src/detail/tools/Log.h
Due: build:debian-docker-image, clang-format

Path conditions:
  build:debian-docker-image: any of: src/*, docker/Dockerfile.debian, docker/entrypoint.sh, .gitlab-ci.yml, .gitlab/**/*.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
