Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, clang-format

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

clang-format:
  stage: lint
  image:
    name: kszonek/clang-format-15
    entrypoint:
    - ''
  script:
  - 'clang-format --dry-run --Werror $(find src/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

chore: disable docker build during merge requests
  .gitlab/pipeline/build-debian-docker.yml
  .gitlab/pipeline/build-windows.yml
Due: build:debian-docker-image

chore: move to medium runner as default
  .gitlab-ci.yml
Due: build:debian-docker-image

chore(gitlab-ci): add rules for every jobs and replace old "only" tag by rules
  .gitlab-ci.yml
  .gitlab/pipeline/build-debian-docker.yml
  .gitlab/pipeline/build-windows.yml
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
  .gitlab/pipeline/lint-code.yml
  .gitlab/pipeline/opensuse.yml
Due: build:debian-docker-image

chore: extract documentation job in dedicated file
  .gitlab-ci.yml
  .gitlab/pipeline/documentation.yml
Due: build:debian-docker-image

chore: reactivate sonar
  .gitlab-ci.yml
  .gitlab/pipeline/sonar.yml
Due: build:debian-docker-image

chore: refactor build
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
  .gitlab/pipeline/opensuse.yml
  .gitlab/pipeline/sonar.yml
Due: build:debian-docker-image

feat(apic): add sfcgal_geometry_is_equals function
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

capi: Fix deprecated usage
  src/capi/sfcgal_c.h
Due: clang-format

fix(capi): Remove default value for sfcgal_geometry_is_almost_equals
  src/capi/sfcgal_c.h
Due: clang-format

feat(test/regress): Add a test to check that the c api works
  test/regress/CMakeLists.txt
  test/regress/capi/CMakeLists.txt
  test/regress/capi/main.c
Due: none

chore(test): Remove empty lines regress/CMakeLists.txt
  test/regress/CMakeLists.txt
Due: none

chor(index.md): Use admonition for licence warning
  website/docs/index.md
Due: none

feat(mkdocs.yml): activate copy code bloc
  website/mkdocs.yml
Due: none

feat(docs): use grid cards for sponsors
  SPONSORS.md
  website/docs/sponsors.md
  website/mkdocs.yml
Due: none

sponsors.md: fix after rebase
  website/docs/sponsors.md
Due: none

chore(capi): Fix typo in sfcgal_free_buffer docstring
  src/capi/sfcgal_c.h
Due: clang-format

polyhedralsurface: Fix some docstrings
  src/PolyhedralSurface.h
Due: build:debian-docker-image, clang-format

polyhedralsurface: Add missing assert in geometryN()
  src/PolyhedralSurface.cpp
Due: build:debian-docker-image, clang-format

capi: Add support for Geometry::GeometryN()
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

capi: Add support for Geometry::numGeometries()
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

geometry: Add a Geometry::setGeometryN() method
  src/Geometry.cpp
  src/Geometry.h
  src/GeometryCollection.cpp
  src/GeometryCollection.h
  src/PolyhedralSurface.cpp
  src/PolyhedralSurface.h
  src/TriangulatedSurface.cpp
  src/TriangulatedSurface.h
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/GeometryCollectionTest.cpp
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, clang-format

capi: Mark sfcgal_polyhedral_surface_num_polygons() as deprecated
  src/capi/sfcgal_c.h
Due: clang-format

capi: Mark sfcgal_polyhedral_surface_polygon_n() as deprecated
  src/capi/sfcgal_c.h
Due: clang-format

capi: Mark sfcgal_triangulated_surface_num_triangles() as deprecated
  src/capi/sfcgal_c.h
Due: clang-format

capi: Mark sfcgal_triangulated_surface_triangle_n() as deprecated
  src/capi/sfcgal_c.h
Due: clang-format

capi: Mark sfcgal_geometry_collection_num_geometries() as deprecated
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: clang-format

capi: Mark sfcgal_geometry_collection_geometry_n() as deprecated
  src/capi/sfcgal_c.h
Due: clang-format

chore(FreeBSD): Bump to 14.2 and remove 13.3
  .cirrus.yml
Due: none

fix(multipoint): Add missing override
  src/MultiPoint.h
Due: build:debian-docker-image, clang-format

fix(point): Add missing override
  src/Point.h
Due: build:debian-docker-image, clang-format

fix(surface): Add missing override
  src/Surface.h
Due: build:debian-docker-image, clang-format

fix(multipolygon): Add missing override
  src/MultiPolygon.h
Due: build:debian-docker-image, clang-format

fix(solid): Add missing override
  src/Solid.h
Due: build:debian-docker-image, clang-format

fix(linestring): Add missing override
  src/LineString.h
Due: build:debian-docker-image, clang-format

fix(multisolid): Add missing override
  src/MultiSolid.h
Due: build:debian-docker-image, clang-format

fix(polyhedralsurface): Add missing override
  src/PolyhedralSurface.h
Due: build:debian-docker-image, clang-format

fix(polygon): Add missing override
  src/Polygon.h
Due: build:debian-docker-image, clang-format

fix(multilinestring): Add missing override
  src/MultiLineString.h
Due: build:debian-docker-image, clang-format

fix(triangulatedsurface): Add missing override
  src/TriangulatedSurface.h
Due: build:debian-docker-image, clang-format

fix(triangulatedsurface): Throw an error in geometryN in case of failure
  src/TriangulatedSurface.cpp
  test/unit/SFCGAL/TriangulatedSurfaceTest.cpp
Due: build:debian-docker-image, clang-format

Path conditions:
  build:debian-docker-image: any of: src/*, docker/Dockerfile.debian, docker/entrypoint.sh, .gitlab-ci.yml, .gitlab/**/*.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
