Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

build:debian-docker-image:
  stage: build
  image: docker:latest
  services:
  - name: docker:dind
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:debian-latest || true
  ...

build:windows-docker-image:
  stage: build
  tags:
  - saas-windows-medium-amd64
  before_script:
  - Start-Service -Name "docker"
  - docker login -u $env:CI_REGISTRY_USER -p $env:CI_REGISTRY_PASSWORD $env:CI_REGISTRY
  script:
  - (docker pull $env:CI_REGISTRY_IMAGE':'windows-latest) -or ($true)
  ...

test:clang-tidy:
  stage: lint
  image: xianpengshen/clang-tools:19
  variables:
    CC: /usr/bin/clang-19
    CXX: /usr/bin/clang++-19
  cache:
    policy: pull
    key: ${CI_COMMIT_SHORT_SHA}
    paths:
    - build/
  before_script:
  - apt-get update -qq
  ...

doc:build:
  stage: doc
  image: ${PYTHON_DOCKER_IMAGE}
  needs: []
  before_script:
  - apt-get update -qq
  - apt-get install -y doxygen
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/website.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd website && mkdocs build --verbose
  artifacts:
  ...

pages:
  stage: doc
  needs:
  - job: doc:build
    artifacts: true
  variables:
    GIT_STRATEGY: none
  script:
  - mkdir -p public
  - cp -rf website/site/* public/
  artifacts:
    paths:
    - public

clang-format:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes clang-format-19
  script:
  - 'clang-format-19 --dry-run --Werror $(find src/ test/ -iname ''*.cpp'' -or -iname ''*.hpp'' -or -iname ''*.c'' -or -iname ''*.h'')
  
    '

doxygen-warnings:
  stage: lint
  image:
    name: debian:stable-slim
  before_script:
  - apt update && apt install --no-install-recommends --yes doxygen git
  script:
  - script/doxygen-check.sh
  artifacts:
    when: on_failure
    paths:
    - doxygen_warnings.log

fix(SegmentStore): interpolate Z/M from dimension-specific nearest segments
  src/detail/SegmentStore.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(split): Add split (Surface / Line) algorithm with Z/M interpolation
  src/algorithm/split.cpp
  src/algorithm/split.h
  test/data/split/split_tests.expected
  test/data/split/split_tests.wkt
  test/unit/CMakeLists.txt
  test/unit/SFCGAL/algorithm/SplitTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): add Split
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix(build): remove ambiguity
  src/algorithm/intersection.h
  src/algorithm/union.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(roof): fix switch statement for flat roof
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(sfcgalop): add Roof Generations
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

chore(clangformat): pet clang-format
  sfcgalop/operations/operations.cpp
  src/algorithm/detail/FaceFilters.h
  src/algorithm/roofGeneration.cpp
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(sfcgalop): fix indentation and missing '}'
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

docs(roof): Add a script to generate several roofs as OBJ
  example/generate_roof_examples.sh
Due: none

chore(clang-tidy): pet clang-tidy
  sfcgalop/operations/operations.cpp
  src/algorithm/extrude.cpp
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(roofGeneration): fix section and add missing documentation about RoofParameters.type
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(roof): simplify and fix roof generation "unwip"
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(roof): remove GEOMETRIC_TOLERANCE and rewrite distanceToLine2D
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

feat(extrude): Add extrude Until
  src/algorithm/extrude.cpp
  src/algorithm/extrude.h
  test/unit/SFCGAL/algorithm/ExtrudeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(extrude): add a script to use extrude until with roof and overhang
  example/extrudeUntil.sh
Due: none

feat(sfcgalop): add Extrude Until
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix(ExtrudeTest): simplify and fix roof overhang test
  test/unit/SFCGAL/algorithm/ExtrudeTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

refactor(sfcgalop): use only generateRoof method
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

fix(roof): remove double usage
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(license): fix years
  src/algorithm/detail/FaceFilters.h
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(roof): move filter face to a dedicate file
  src/algorithm/detail/FaceFilters.h
  src/algorithm/roofGeneration.cpp
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(sfcgalop): Flat/Hipped roof reuse generateRoof
  sfcgalop/operations/operations.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages

feat(algorithm): add Roof Generations
  src/algorithm/roofGeneration.cpp
  src/algorithm/roofGeneration.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(FaceFilters): move to detail/algorithm instead of algorithm/detail
  src/algorithm/roofGeneration.cpp
  src/algorithm/straightSkeleton.cpp
  src/detail/algorithm/FaceFilters.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(clangformat): pet clang-format
  src/algorithm/roofGeneration.cpp
  src/algorithm/straightSkeleton.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(README.md): add a DOI number for current version
  README.md
Due: none

docs(README.md): add a Bibtex entry
  README.md
  RELEASES.md
Due: none

fix(orientation): use CGAL orientation() to avoid stack overflow on Windows
  src/algorithm/orientation.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

test(Orientation): Add test case for PostGIS issue 3651
  test/data/postgis_crash_orientation_3651.wkt
  test/unit/SFCGAL/algorithm/OrientationTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

fix(wkb): add support for Solid and MultiSolid with correct WKB codes 25/26
  src/Geometry.h
  src/detail/io/WkbReader.cpp
  src/detail/io/WkbReader.h
  src/detail/io/WkbWriter.cpp
  test/unit/SFCGAL/io/WkbWriterTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(GeometrySet): add explicit copy assignment operator and fix doxygen
  src/detail/GeometrySet.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

refactor(sfcgalop): use parent Boost targets instead of FindBoost module
  sfcgalop/CMakeLists.txt
  sfcgalop/test/CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

fix(differencePrimitives): remove unused nbHoles variable
  src/algorithm/differencePrimitives.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(differencePrimitives): add NOLINT for readability-function-cognitive-complexity
  src/algorithm/differencePrimitives.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(CMake): update minimum version to 3.16 and add required policies
  CMakeLists.txt
Due: build:debian-docker-image, build:windows-docker-image

chore(clang-tidy): Modernize differencePrimitives.h
  src/algorithm/differencePrimitives.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(clang-tidy): Modernize GeometrySet.h
  src/detail/GeometrySet.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

chore(GeometrySet): pet doxygen
  src/detail/GeometrySet.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(roofGeneration): fix gable orientation and make valid
  src/algorithm/roofGeneration.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(capi): Use correct type_id for Solid and MultiSolid
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}
