Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  test:clang-tidy: any of: src/**/*.{c,h,cpp,hpp}, .clang-tidy, test/.clang-tidy
  doc:build: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  pages: any of: **/*.{c,h,cpp,hpp}, website/**/*, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, test/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore
  doxygen-warnings: any of: src/**/*.{c,h,cpp,hpp}

doc(sfcgal): Improve reference on CAPI sfcgal_geometry_buffer3d doc
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(sfcgal): Improve reference on CAPI sfcgal_geometry_buffer3d doc
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

fix(script): Fix bash shebang in doxygen-check.sh
  script/doxygen-check.sh
Due: none

refactor(tests): Replace boost::filesystem by std::filesystem
  test/regress/convex_hull/main.cpp
  test/regress/polygon_triangulator/main.cpp
  test/regress/standalone/SFCGAL/StraightSkeletonTest.cpp
  test/test_config.h.cmake
  test/unit/SFCGAL/algorithm/Buffer3DTest.cpp
  test/unit/SFCGAL/io/OBJTest.cpp
  test/unit/SFCGAL/io/STLTest.cpp
  test/unit/SFCGAL/io/VTKTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, doc:build, pages, clang-format

build: Remove uneeded filesystem dependency
  CMakeLists.txt
  ci/debian/before_install.sh
  ci/opensuse/before_install.sh
Due: build:debian-docker-image, build:windows-docker-image

chore(pre-commit): Fix deprecation push warning
  .pre-commit-config.yaml
Due: none

ci(doxygen): Ensure that doxygen groups definition are inclued
  script/doxygen-check.sh
Due: none

docs(capi): Fix typo in sfcgal_polygon_create_from_exterior_ring
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(capi): Fix sfcgal_solid_create_from_exterior_shell documentation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(capi): Add some missing SFCGAL namespaces in doc
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(capi): Add missing param to sfcgal_set_geometry_validation
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(capi): Add missing params to sfcgal_point_create functions
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(capi): Add missing return
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

ci(lint-code): Switch to a fedora image to have a newer doxygen version
  .gitlab/pipeline/lint-code.yml
Due: none

docs(wktreader): Fix doxygen warnings
  src/detail/io/WktReader.cpp
  src/detail/io/WktReader.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(wktwriter): Fix doxygen warnings
  src/detail/io/WktWriter.cpp
  src/detail/io/WktWriter.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(wkbreader): Fix doxygen warnings
  src/detail/io/WkbReader.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(serialization): Fix doxygen warnings
  src/detail/io/Serialization.cpp
  src/detail/io/Serialization.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(osgfactory): Fix doxygen warnings
  src/detail/io/OsgFactory.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(wkbwriter): Fix doxygen warnings
  src/detail/io/WkbWriter.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(coversPoints): Fix doxygen warnings
  src/detail/algorithm/coversPoints.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(detail/simplification): Fix doxygen warnings
  src/detail/algorithm/simplification.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(edge): Fix doxygen warnings
  src/detail/graph/Edge.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(geometrygraphbuilder): Fix doxygen warnings
  src/detail/graph/GeometryGraphBuilder.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(geometrygraph): Fix doxygen warnings
  src/detail/graph/GeometryGraph.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(vertex): Fix doxygen warnings
  src/detail/graph/Vertex.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(detail/GeometrySet): Fix doxygen warnings
  src/detail/GeometrySet.cpp
  src/detail/GeometrySet.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(detail): Add missing documentations
  src/detail/ComplexComparator.h
  src/detail/ConstraintInfo.h
  src/detail/EnvelopeVisitor.h
  src/detail/ForceValidityVisitor.h
  src/detail/GetPointsVisitor.h
  src/detail/Interval.h
  src/detail/SegmentStore.h
  src/detail/TestGeometry.h
  src/detail/TypeForDimension.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(detail::transform): Add missing documentations
  src/detail/transform/AffineTransform2.h
  src/detail/transform/AffineTransform3.h
  src/detail/transform/Force2D.h
  src/detail/transform/ForceM.h
  src/detail/transform/ForceOrderPoints.h
  src/detail/transform/ForceZ.h
  src/detail/transform/ForceZOrderPoints.h
  src/detail/transform/RoundTransform.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(detail::triangulate): Add missing documentations
  src/detail/triangulate/ConstraintDelaunayTriangulation.h
  src/detail/triangulate/triangulateInGeometrySet.cpp
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(detail::tools): Add missing documentations
  src/detail/tools/CharArrayBuffer.h
  src/detail/tools/InputStreamReader.h
  src/detail/tools/Log.h
  src/detail/tools/Registry.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(detail::tools): Add missing documentations
  src/detail/tools/InputStreamReader.h
  src/detail/tools/Registry.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(script): Add a script to check doxygen on files/dirs
  script/doxygen-check-files.sh
Due: none

docs(centroid): Fix doxygen warnings
  src/algorithm/centroid.cpp
  src/algorithm/centroid.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(area): Fix doxygen errors
  src/algorithm/area.cpp
  src/algorithm/area.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(distance): Fix doxygen errors
  src/algorithm/distance.cpp
  src/algorithm/distance.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

docs(distance3d): Fix doxygen warnings
  src/algorithm/distance3d.cpp
  src/algorithm/distance3d.h
Due: build:debian-docker-image, build:windows-docker-image, test:clang-tidy, doc:build, pages, clang-format, doxygen-warnings

style(clang-tidy): allow 'a', 'b', 't' as name
  .clang-tidy
Due: test:clang-tidy
