Repository Oslandia/SFCGAL_CI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

Path conditions:
  build:debian-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:windows-docker-image: any of: **/*.{c,h,cpp,hpp}, **/CMakeLists.txt, docker/*
  build:documentation: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  deploy:pages: any of: src/*.h, src/*.cpp, website/docs/*.md, .gitlab-ci.yml
  clang-format: any of: src/**/*.{c,h,cpp,hpp}, .clang-format, .clang-format-ignore

fix(triangulatedsurface): Remove unneeded virtual
  src/TriangulatedSurface.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(polyhedralsurface): Remove unneeded virtual
  src/PolyhedralSurface.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(solid): Remove unneeded virtual
  src/Solid.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(multisolid): Remove unneeded virtual
  src/MultiSolid.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(multipolygon): Remove unneeded virtual
  src/MultiPolygon.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(polygon): Remove unneeded virtual
  src/Polygon.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(multipoint): Remove unneeded virtual
  src/MultiPoint.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(point): Remove unneeded virtual
  src/Point.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(linestring): Remove unneeded virtual
  src/LineString.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(multilinestring): Remove unneeded virtual
  src/MultiLineString.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(geometrycollection): Add missing override
  src/GeometryCollection.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(triangle): Add missing override
  src/Triangle.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(transform): Add missing override
  src/Transform.h
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

fix(getpointsvisitor): Add missing override
  src/detail/GetPointsVisitor.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(forcez): Add missing override
  src/detail/transform/ForceZ.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(boundaryvisitor): Add missing override
  src/algorithm/BoundaryVisitor.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(envelopevisitor): Add missing override
  src/detail/EnvelopeVisitor.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(roundtransform): Add missing override
  src/detail/transform/RoundTransform.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(forcevalidityvisitor): Add missing override
  src/detail/ForceValidityVisitor.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(affinetransform2): add missing override
  src/detail/transform/AffineTransform2.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(affinetransform3): Add missing override
  src/detail/transform/AffineTransform3.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(transform/Force2D): Add missing override
  src/detail/transform/Force2D.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(transform/ForceOrderPoints): Add missing override
  src/detail/transform/ForceOrderPoints.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(chararraybuffer): Add missing override
  src/detail/tools/CharArrayBuffer.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(transform/ForceZOrderPoints): Add missing override
  src/detail/transform/ForceZOrderPoints.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

refactor(obj): Use sfcgal exception
  src/io/OBJ.cpp
  src/io/OBJ.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

refactor(exception): Include boost/throw_exception
  src/Exception.h
  src/algorithm/minkowskiSum3D.cpp
  src/io/OBJ.cpp
  src/io/vtk.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

refactor(vtk): Use sfcgal exception
  src/io/vtk.cpp
  src/io/vtk.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

refactor(wktwriter): Use sfcgal exception
  src/detail/io/WktWriter.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

refactor(minkowskiSum3D): Use sfcgal exception
  src/algorithm/minkowskiSum3D.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

refactor(geometrycollection): Use sfcgal exception
  src/GeometryCollection.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

refactor(wkbwriter): Use sfcgal exception
  src/detail/io/WkbWriter.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

feat(cmakepresets): Add support for unix gcc and clang
  CMakePresets.json
Due: none

feat(ci): Use cmake presets
  .gitlab/pipeline/debian.yml
  .gitlab/pipeline/fedora.yml
  .gitlab/pipeline/opensuse.yml
  .gitlab/pipeline/sonar.yml
Due: none

capi: Mark sfcgal_polyhedral_surface_num_polygons() as deprecated
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

capi: Add support for Geometry::numGeometries()
  src/capi/sfcgal_c.cpp
  src/capi/sfcgal_c.h
  test/unit/SFCGAL/capi/sfcgal_cTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, clang-format

fix(polyhedralsurface): Check validity of geometryN parameters
  src/PolyhedralSurface.cpp
  test/unit/SFCGAL/PolyhedralSurfaceTest.cpp
Due: build:debian-docker-image, build:windows-docker-image, build:documentation, deploy:pages, clang-format

capi: Mark sfcgal_triangulated_surface_num_triangles() as deprecated
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

capi: Mark sfcgal_triangulated_surface_triangle_n() as deprecated
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format

capi: Mark sfcgal_polyhedral_surface_polygon_n() as deprecated
  src/capi/sfcgal_c.h
Due: build:debian-docker-image, build:windows-docker-image, clang-format
